/*
       custom styling  to share with others component
    */

 @font-face {
     font-family: "Karbon-Semibold";
     src: url('/resource/karbonFont/Karbon-Semibold.otf') format('TrueType');
 }

 .slds-theme--inverse {
    background-color: var(--lwc-colorBackgroundInverse,#1e4477) !important
 }

 /*:host {
     font-family: "karbonFont";
 } */