.THIS .tableStyle {
  background-color: #F4F4F4;
  /*width: 200px;*/
  border-collapse: separate;
  border-radius: 1em;
  overflow: hidden;
}

.THIS .summaryContent {
  display: flex;
}

.THIS .tableGraphStyle { 
  border-collapse: collapse;
  border-spacing: 1px; 
  /* box-shadow: inset 0 0 0px 0px black; */  
}

.THIS .tableStyleSummary {
  width: 200px;
  border-collapse: separate;
  border-radius: 1em;
  overflow: hidden;
  background-color: #E1E1E1;
}

.THIS .block {
  /* height: 275px; */
}

.THIS .standardBlock {
  height: 275px;
}

.THIS .fafBlock {
  height: 248px;
}

.THIS .underContractBlock {
  height: 248px;
}

.THIS .totalBlock {
  height: 282px;
}

.THIS .card {   
  width: min-content !important;
}

.THIS .highcharts-container {
position: relative;
overflow: hidden;
width: 50%;
height: 50%;
text-align: left;
line-height: normal;
z-index: 0; /* #1072 */
-webkit-tap-highlight-color: rgba(0,0,0,0);
font-family: 'Unica One', sans-serif;
font-size: 12px;
}

.THIS .boxesContainer {
  display: flex;
  flex-direction: column;
}

.THIS .boxesContainer ul {
  margin: 10px;
  display: block;
  justify-content: center;
}

.THIS .highcharts-width {
width: 50%; 
}

.THIS .highcharts-height {
height: 50%;
}