.THIS {
}
/* horizontally center ul element */
.THIS li {
    display: inline-table !important;
    padding: 10px 15px !important;
    border: 0px solid #cccccc;
    background-color: #f3f2f2;
}

.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}

.THIS .custom-box {
    text-align: center;
    background-color: #f4f6f9;
    padding: 1rem;
    border: 1px solid #d8dde6;
}