button {
    overflow: hidden;
}

hr {
    margin: 0 auto;
    width: 50%;
    background-color: #C4C4C4;
    border-radius: 10px;
    height: 2px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.size_1-2 {
    width: 50%;
}

.size_1-3 {
    width: 33.334%;
}

.size_1-4 {
    width: 25%;
}

.size_1-5 {
    width: 5%;
}

.size_2-5 {
    width: 47.5%;
    padding: 0 1rem
}

.center-btn {
    display: flex;
    justify-content: center;
}

.table {
    z-index: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    background: #e07026;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-family: 'fontKarbon-Semibold';
    font-size: 18px;
}

.body {
    max-height: 250px;
    overflow-y: scroll;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    background: white;
}

.body .row:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.body::-webkit-scrollbar {
    height: 5px;
}

.body::-webkit-scrollbar-track {
    width: 100px;
}

.body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

.body::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

.body::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
}

.col_4-4 {
    width: 90%;
    padding: 15px;
}

.col {
    width: 22.5%;
    padding: 15px;
}

.col-btn, .col-type {
    width: 5%;
    padding: 15px;
}

.col-type {
    display: flex;
    max-height: 62px;
}

.col-type span {
    text-align: center;
    background: linear-gradient(135deg, #A7D676, #85CBCC);
    color: white;
    padding: 5px;
    width: 100%;
    font-weight: 900;
    font-size: 14px;
    border-radius: 25%;
}

span.polymer {
    background: linear-gradient(45deg, #94B0B7, #C2C8C5) !important;
}

.add-btn, .delete-btn {
    height: 32px;
    width: 32px;
    border: unset;
    background: #e07026;
    border-radius: 100%;
    box-shadow: 0px 0px 0px rgba(0,0,0, .3);
    transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-btn {
    transform: translateY(30px);
}

.delete-btn {
    background: #d91e18;
}

.add-btn .plus, .delete-btn .plus {
    display: flex;
    width: 30px;
    height: 30px;
}

.polymere-field {
    z-index: 1;
}

.polymere-info {
   margin: 0 0.25rem;
   top: -1rem;
}

.table-info {
    top: -1.75rem;
    margin: 0 20px;
    width: 100%;
}

.table-info span {
    font-weight: 900;
}

.info {
    position: relative;
    z-index: 0;
    display: flex;
    background-color: #caf0f8;
    padding: 10px;
    padding-top: 1rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #0077b6;
}

.info span {
    padding-left: 5px;
}

.info svg {
    width: 20px;
    height: 20px;
}

.info svg path {
    fill: #0077b6;
}

.delete-btn:disabled, .add-btn:disabled {
    pointer-events: none;
    background: gray;
}

svg {
    transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.add-btn:hover, .delete-btn:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0, .5);
}

.add-btn:hover svg {
    transform: rotate(360deg);
}

.delete-btn svg {
    transform: rotate(45deg);
}

.delete-btn:hover svg {
    transform: rotate(45deg) scale(1.5);
}

.hidden {
    display: none;
}

.loader {
    position: relative;
    z-index: 1;
    background: white;
    width: 100%;
    height: 250px;
}

.main-logo > img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    height: 140px;
    -webkit-animation: magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
    -moz-animation: magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
    animation: magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
}

@-moz-keyframes magic { 
    0% {
        opacity: .5;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: .5;
        transform: scale(1);
    }
}
@-webkit-keyframes magic { 
    0% {
        opacity: .5;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: .5;
        transform: scale(1);
    }
}
@keyframes magic { 
    0% {
        opacity: .5;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: .5;
        transform: scale(1);
    }
}

.no-data {
    padding: 30px;
    text-align: center;
    font-family: 'fontKarbon-Semibold';
    font-size: 40px;
    opacity: .3;
}