<!--
  @description       : 
  @author            : MAIT - @moidriss
  @group             : 
  @last modified on  : 11-23-2023
  @last modified by  : MAIT - @moidriss
-->
<template>
    <div class="main-item">
        <lightning-record-edit-form
            name="editRecord"
            object-api-name={recordSObjectType}>
            <div class="row">
                <div class="size_2-5">
                    <lightning-input-field name="HasPfas" variant="label-stacked" field-name="HasPfas__c" required="true" value={record.HasPfas__c} onchange={handleRecordChanges}></lightning-input-field>
                </div>
            </div>
        </lightning-record-edit-form>
        <lightning-record-edit-form
            name="editRecord"
            object-api-name="Component__c">
            <div class="row">
                <div class="size_2-5">
                    <lightning-input-field name="PfasType__c" variant="label-stacked" field-name="PfasType__c" required="true" disabled={disableInputs} value={record.PfasType__c} onchange={handleComponentChanges}></lightning-input-field>
                </div>
                <div lwc:if={softComponent.isPolymere} class="size_2-5">
                    <lightning-input-field class="polymere-field" name="Name" variant="label-stacked" field-name="Name" required="true" disabled={disableInputs} onchange={handleComponentChanges}></lightning-input-field>
                    <div class="info polymere-info">
                        <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none">
                            <path d="M12 17.75C12.4142 17.75 12.75 17.4142 12.75 17V11C12.75 10.5858 12.4142 10.25 12 10.25C11.5858 10.25 11.25 10.5858 11.25 11V17C11.25 17.4142 11.5858 17.75 12 17.75Z" fill="#1C274C"/>
                            <path d="M12 7C12.5523 7 13 7.44772 13 8C13 8.55228 12.5523 9 12 9C11.4477 9 11 8.55228 11 8C11 7.44772 11.4477 7 12 7Z" fill="#1C274C"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.25 12C1.25 6.06294 6.06294 1.25 12 1.25C17.9371 1.25 22.75 6.06294 22.75 12C22.75 17.9371 17.9371 22.75 12 22.75C6.06294 22.75 1.25 17.9371 1.25 12ZM12 2.75C6.89137 2.75 2.75 6.89137 2.75 12C2.75 17.1086 6.89137 21.25 12 21.25C17.1086 21.25 21.25 17.1086 21.25 12C21.25 6.89137 17.1086 2.75 12 2.75Z" fill="#1C274C"/>
                        </svg>
                        <span>{substanceNameHelpText}</span>
                    </div>
                </div>
                <div lwc:else class="size_2-5">
                    <lightning-combobox name="Type de substance" label={substanceTypeLabel} value={substanceType} placeholder={chooseSubstance} options={substanceTypes} disabled={disableAddSubstance} onchange={handleSubstanceChange}></lightning-combobox>
                </div>
                <div class="size_1-5 center-btn">
                    <button disabled={disableAddSubstance} class="add-btn" onclick={handleAddComponent}>
                        <div class="plus">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" xml:space="preserve">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.4"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <line style="fill:none;stroke:#fff;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="25" y1="13" x2="25" y2="38"></line>
                                    <line style="fill:none;stroke:#fff;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="37.5" y1="25" x2="12.5" y2="25"></line>
                                </g>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        </lightning-record-edit-form>
        <div class="row">
            <!-- Components table -->
            <div class="table">
                <div class="header">
                    <div class="col-type">Type**</div>
                    <div class="col">{substanceName}</div>
                    <div class="col">{CASNumber}</div>
                    <div class="col">% Minimum</div>
                    <div class="col">% Maximum</div>
                </div>
                <div class="body">
                    <div lwc:if={waiting} class="slds-text-heading_large boldtext slds-align_absolute-center loader">
                        <div class="main-logo">
                            <img src={main_logo_img}>
                        </div>
                    </div>
                    <div lwc:if={noData} class="no-data">
                        {noSubstance}
                    </div>
                    <template lwc:if={displayNPComponentsRows} for:each={npComponents} for:item="component">
                        <lightning-record-edit-form key={component.Id} class="row" object-api-name="Component__c" onload={handleComponentFormLoad}>
                            <div class="col-type">
                                <span class={component.localVars.class}>{component.localVars.type}</span>
                            </div>
                            <div class="col">
                                <lightning-input-field variant="label-hidden" data-record-id={component.Id} name="Name" field-name="Name" required="true" disabled={disableInputs} value={component.Name} onchange={handleComponentChanges}></lightning-input-field>
                            </div>
                            <div lwc:if={component.localVars.newCAS} class="col">
                                <lightning-input type="text" variant="label-hidden" data-record-id={component.Id} name="CasNumber__c" required="true" disabled={disableInputs} value={component.CasNumber__c} onchange={handleComponentChanges}></lightning-input>
                            </div>
                            <div lwc:else class="col">
                                <lightning-input-field variant="label-hidden" data-record-id={component.Id} name="CasNumber__c" field-name="CasNumber__c" disabled="true" required="true" value={component.CasNumber__c} onchange={handleComponentChanges}></lightning-input-field>
                            </div>
                            <div class="col">
                                <lightning-input-field variant="label-hidden" data-record-id={component.Id} name="MinimumPercentage__c" field-name="MinimumPercentage__c" disabled={disableInputs} value={component.MinimumPercentage__c} onchange={handleComponentChanges}></lightning-input-field>
                            </div>
                            <div class="col">
                                <lightning-input-field variant="label-hidden" data-record-id={component.Id} name="MaximumPercentage__c" field-name="MaximumPercentage__c" disabled={disableInputs} value={component.MaximumPercentage__c} onchange={handleComponentChanges}></lightning-input-field>
                            </div>
                            <div class="col-btn">
                                <button class="delete-btn" data-component-id={component.Id} disabled={disableInputs} onclick={handleDeleteComponent}>
                                    <div class="plus">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" xml:space="preserve">
                                            <g stroke-width="0"></g>
                                            <g stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.4"></g>
                                            <g>
                                                <line style="fill:none;stroke:#fff;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="25" y1="13" x2="25" y2="38"></line>
                                                <line style="fill:none;stroke:#fff;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="37.5" y1="25" x2="12.5" y2="25"></line>
                                            </g>
                                        </svg>
                                    </div>
                                </button>
                            </div>
                            <div class="hidden">
                                <lightning-input-field variant="label-hidden" field-name="ComponentType__c" required="true" value={component.ComponentType__c}></lightning-input-field>
                            </div>
                        </lightning-record-edit-form>
                    </template>
                    <template lwc:if={displayPComponentsRows}>
                        <hr />
                    </template>
                    <template lwc:if={displayPComponentsRows} for:each={pComponents} for:item="component">
                        <lightning-record-edit-form key={component.Id} class="row" object-api-name="Component__c" onload={handleComponentFormLoad}>
                            <div class="col-type">
                                <span class={component.localVars.class}>{component.localVars.type}</span>
                            </div>
                            <div class="col_4-4">
                                <lightning-input-field variant="label-hidden" data-record-id={component.Id} name="Name" field-name="Name" required="true" disabled={disableInputs} value={component.Name} onchange={handleComponentChanges}></lightning-input-field>
                            </div>
                            <div class="col-btn">
                                <button class="delete-btn" data-component-id={component.Id} disabled={disableInputs} onclick={handleDeleteComponent}>
                                    <div class="plus">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" xml:space="preserve">
                                            <g stroke-width="0"></g>
                                            <g stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.4"></g>
                                            <g>
                                                <line style="fill:none;stroke:#fff;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="25" y1="13" x2="25" y2="38"></line>
                                                <line style="fill:none;stroke:#fff;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="37.5" y1="25" x2="12.5" y2="25"></line>
                                            </g>
                                        </svg>
                                    </div>
                                </button>
                            </div>
                            <div class="hidden">
                                <lightning-input-field variant="label-hidden" field-name="ComponentType__c" required="true" value={component.ComponentType__c}></lightning-input-field>
                            </div>
                        </lightning-record-edit-form>
                    </template>
                </div>
            </div>
            <div lwc:if={displayTableInfo} class="info table-info">
                <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none">
                    <path d="M12 17.75C12.4142 17.75 12.75 17.4142 12.75 17V11C12.75 10.5858 12.4142 10.25 12 10.25C11.5858 10.25 11.25 10.5858 11.25 11V17C11.25 17.4142 11.5858 17.75 12 17.75Z" fill="#1C274C"/>
                    <path d="M12 7C12.5523 7 13 7.44772 13 8C13 8.55228 12.5523 9 12 9C11.4477 9 11 8.55228 11 8C11 7.44772 11.4477 7 12 7Z" fill="#1C274C"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.25 12C1.25 6.06294 6.06294 1.25 12 1.25C17.9371 1.25 22.75 6.06294 22.75 12C22.75 17.9371 17.9371 22.75 12 22.75C6.06294 22.75 1.25 17.9371 1.25 12ZM12 2.75C6.89137 2.75 2.75 6.89137 2.75 12C2.75 17.1086 6.89137 21.25 12 21.25C17.1086 21.25 21.25 17.1086 21.25 12C21.25 6.89137 17.1086 2.75 12 2.75Z" fill="#1C274C"/>
                </svg>
                <span>{helpTextPoly}</span>
            </div>
        </div>
    </div>
</template>