:host {
  --lwc-colorBackgroundInputDisabled : #b0c4df;
}

  .container {
    height: 475px;
    overflow-y: scroll;
    overflow: auto;
  }

  .container-summary {
    height: auto;
    overflow-y: scroll;
    overflow: auto;
  }

  .page-header{
    font-size: 12px;
    background-color: #1e4477;
    color: #fff;
    padding-right: 46px;
    line-height: 13px;
    align-items: center;
    white-space: break-spaces;
  }

  .header{
    font-size: 12px;
    background-color: #1e4477;
    color: #fff;
    line-height: 13px;
  }

  .no-waste {
    height: 18px;
    margin: 210px 251px 0 250px;
    font-family: monospace;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #a7a7a7;
  }

  .row-style{
    font-size: 12px;
    background-color: #1e4477;
    color: #fff;
    line-height: 12px;
    align-items: center;
    white-space: break-spaces;
    border-bottom: 1px solid #e6eaec;
    /*width: 91%;
     padding-right: 46px;*/
  }

  .product-name {

    max-width: 250px;
    width: 250px;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    /*line-height: 32px;*/
    letter-spacing: normal;
  }

  .services-selected-info {
    font-family: 'fontKarbon-Regular';
    font-style: italic;
  }