<template>
    <!-- Affichage section selection produits-->
    <template if:true={userSelectedServices}>

       <!-- <div class="boxs slds-grid slds-wrap row-style">
          <div class="slds-size_2-of-8">
            <div class={productNameStyle}>Nom du déchet</div>
          </div>
          <div class="slds-size_2-of-8">
            <div class=" slds-text-align_center slds-m-around_x-small"> Conditionnement</div>
          </div>
          <div class="slds-size_1-of-8">
            <div class="slds-text-align_center slds-m-around_x-small">Nombre conditionnement</div>
          </div>
          <div class="slds-size_1-of-8">
            <div class="slds-text-align_center slds-m-around_x-small"> Quantité estimée (kg)</div>
          </div>
          <div class="slds-size_2-of-8">
            <div class="slds-text-align_center slds-m-around_x-small">Commande nouveaux contenants</div>
          </div>
      </div> -->
      <div class="slds-p-around_none  slds-m-horizontal_none header">
        <lightning-layout multiple-rows>
            <lightning-layout-item size="4" flexibility="auto" padding="around-small">
                <div class=" slds-p-around_medium slds-text-align_left">Nom du déchet</div>
            </lightning-layout-item>
            <lightning-layout-item size="1" flexibility="auto" padding="around-small">
                <div class=" slds-p-around_medium slds-text-align_left">Action</div>
            </lightning-layout-item>
            <lightning-layout-item size="4" flexibility="auto" padding="around-small">
                <div class=" slds-p-top_medium slds-text-align_left">Conditionnement</div>
            </lightning-layout-item>
            <lightning-layout-item size="2" flexibility="auto" padding="around-small">
                <div class="slds-p-top_medium slds-p-left_large slds-text-align_center">Nombre</div>
            </lightning-layout-item>
            <lightning-layout-item size="1" flexibility="auto" padding="around-small">
                <div class=" slds-p-top_medium slds-p-bottom_medium slds-text-align_left">Quantité estimée (kg)</div>
            </lightning-layout-item>
            <!--<lightning-layout-item size="4" flexibility="auto" padding="around-small">
                <div class=" slds-p-around_medium slds-text-align_left">Commande nouveaux contenants</div>
            </lightning-layout-item>-->
        </lightning-layout>
    </div>

        <template if:true={userSelectedServices}>
            <!-- display selected waste items-->
            <div data-id="divTable" class={containerStyle}>
                <template for:each={userSelectedServices.listSelectedWaste} for:item="item">
                    <c-lwc-qly-selected-services-item form-id={formId} key={item.id} item={item} item-disabled={itemDisabled} onrowaction ={handleRowAction} onuserinputvalue={handleUserInputChange} onuploadfiles={handleUpload}></c-lwc-qly-selected-services-item>
                </template>
                <template if:false={noSelectedWaste}>
                    <div class="slds-align_absolute-center no-waste">
                        <span class="services-selected-info"> Aucun déchet sélectionné </span>
                    </div>
                </template>
          </div>
        </template>
    </template>
</template>