<!--
  @description       : 
  @author            : MAIT - @moidriss
  @group             : 
  @last modified on  : 01-05-2024
  @last modified by  : MAIT - @moidriss
-->
<template>
    <div class="action-holder">
        <lightning-button label='Nouveau' title='Nouveau' onclick={displayModal} class="slds-m-left_x-small">
        </lightning-button>
    </div>
    <div if:true={display} class="modal">
        <div class="main-content">
            <lightning-icon class="close-cross" icon-name="utility:close" size="small" onclick={handleCancel}></lightning-icon>
            <!-- <lightning-button-icon icon-name="action:close" size="medium" alternative-text="close" title="close" onclick={handleCancel}></lightning-button-icon> -->
            <div class="modal-content">
                <div class="form-header slds-modal__header">
                    <h2 class="slds-modal__title slds-hyphenate slds-text-heading--medium">New FIP : FIP Amiante</h2>
                </div>
                <div lwc:if={wait} class="slds-text-heading_large boldtext slds-align_absolute-center loader">
                    <div class="main-logo">
                        <img src={main_logo_img}>
                    </div>
                </div>
                <div class="form">   
                    <div class="information form-legend-desktop">
                        <span>
                            <abbr style="color: #ba0517">*</abbr> = Required Information
                        </span>
                    </div>
                    <lightning-record-edit-form name="form" object-api-name='FIP_FIP__c'
                        onerror={handleError}
                        onsubmit={handleSubmitEvent}
                        onsuccess={handleSuccess}>
                        <div class="formWrapper">
                            <template for:each={layoutFieldsPart1} for:item="section">
                                <div key={section.sectionName}>
                                    <h3 style="background-color: #f3f3f3;" class="slds-section__title slds-theme_shade">
                                        <span class="slds-truncate slds-p-horizontal_small"
                                            title="Section Title">{section.sectionLabel}</span>
                                    </h3>
                                    <div class="sectionContainer">
                                        <template for:each={section.columns} for:item="col">
                                            <div style={section.columnSize} class="fieldColumnContainer" key={col.Id}>
                                                <div class="fieldsContainer">
                                                    <template for:each={col.fields} for:item="field">
                                                        <template if:false={field.addressType}>
                                                            <lightning-input-field key={field} class="input"
                                                                field-name={field.name} value={field.value}
                                                                name={field.name} required={field.required}
                                                                disabled={lockField}></lightning-input-field>
                                                        </template>
                                                        <template if:true={field.addressType}>
                                                            <lightning-input-address key={field} name={field.name}
                                                                address-label={field.name} street-label={getStreetLabel}
                                                                city-label={getCityLabel} country-label={getCountryLabel}
                                                                province-label={getProvinceLabel}
                                                                postal-code-label={getPostalCodeLabel}
                                                                street={addressData.street} city={addressData.city}
                                                                country={addressData.country}
                                                                province={addressData.province}
                                                                postal-code={addressData.postalCode}
                                                                country-options={countryOptions}
                                                                province-options={provinceOptions} show-address-lookup
                                                                disabled={lockField} onchange={addressChange}>
                                                            </lightning-input-address>
                                                        </template>
                                                    </template>
                                                </div>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </template>
                            <!-- Rajouter composant PFAS ici -->
                            <c-lwc_-f-i-p-component></c-lwc_-f-i-p-component>
                            <template for:each={layoutFieldsPart2} for:item="section">
                                <div key={section.sectionName}>
                                    <h3 class="slds-section__title slds-theme_shade">
                                        <span class="slds-truncate slds-p-horizontal_small"
                                            title="Section Title">{section.sectionLabel}</span>
                                    </h3>
                                    <div class="sectionContainer">
                                        <template for:each={section.columns} for:item="col">
                                            <div style={section.columnSize} class="fieldColumnContainer" key={col.Id}>
                                                <div class="fieldsContainer">
                                                    <template for:each={col.fields} for:item="field">
                                                        <template if:false={field.addressType}>
                                                            <lightning-input-field key={field} class="input"
                                                                field-name={field.name} value={field.value}
                                                                name={field.name} required={field.required}
                                                                disabled={lockField}></lightning-input-field>
                                                        </template>
                                                        <template if:true={field.addressType}>
                                                            <lightning-input-address key={field} name={field.name}
                                                                address-label={field.name} street-label={getStreetLabel}
                                                                city-label={getCityLabel} country-label={getCountryLabel}
                                                                province-label={getProvinceLabel}
                                                                postal-code-label={getPostalCodeLabel}
                                                                street={addressData.street} city={addressData.city}
                                                                country={addressData.country}
                                                                province={addressData.province}
                                                                postal-code={addressData.postalCode}
                                                                country-options={countryOptions}
                                                                province-options={provinceOptions} show-address-lookup
                                                                disabled={lockField} onchange={addressChange}>
                                                            </lightning-input-address>
                                                        </template>
                                                    </template>
                                                </div>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </template>
                        </div>
                        <div class="footer">
                            <div class="slds-align_absolute-center">
                                <lightning-button label={cancelLabel} title={cancelLabel} onclick={handleCancel}
                                    class="slds-m-left_x-small">
                                </lightning-button>
                                <lightning-button variant="brand" type="submit" label={saveLabel} title={saveLabel}
                                    class="slds-m-left_x-small">
                                </lightning-button>
                            </div>
                        </div>
                    </lightning-record-edit-form>
                </div>
            </div>
        </div>
    </div>
</template>