.min-w-50 {
    min-width: 50%;
}

.min-w-100 {
    min-width: 100%;
}

.label {
    color: #1e4477;
    font-size: 600;
    font-size: 16px;
}

.sectionContainer {
    display: flex;
    gap: 2%;
    padding-top: .5rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-bottom: 1rem;
}

.fieldColumnContainer {
    display: flex;
    justify-content: center;
}

.fieldsContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.form {
    padding: .5rem;
    height: 480px;
    overflow-y: scroll;
}

.information {
    display: flex;
    justify-content: flex-end;
}

.action-holder {
    display: flex;
    justify-content: flex-end;
}

.modal {
    z-index: 10;
    position: fixed;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, .5);
}

.modal-content {
    width: 100%;
    max-height: 620px;
    border-radius: 0.25rem;
    background-color: white;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: .5rem;
    position: relative;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-header {
    background: white;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding: 1rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background-color: rgba(236, 235, 234, 0.9);
}

.close-cross {
    cursor: pointer;
}

.loader {
    position: absolute;
    z-index: 25;
    background: white;
    width: 100%;
    height: 480px;
    padding: 1rem;
    border-radius: 0 0 0.25rem 0.25rem;
}

.main-logo > img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    height: 140px;
    -webkit-animation: magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
    -moz-animation: magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
    animation: magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
}

@-moz-keyframes magic { 
    0% {
        opacity: .5;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: .5;
        transform: scale(1);
    }
}
@-webkit-keyframes magic { 
    0% {
        opacity: .5;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: .5;
        transform: scale(1);
    }
}
@keyframes magic { 
    0% {
        opacity: .5;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: .5;
        transform: scale(1);
    }
}


:host {
    --slds-c-combobox-color-background: transparent;
}