<!--
  @description       : 
  @author            : MAIT - @moidriss
  @group             : 
  @last modified on  : 10-09-2023
  @last modified by  : MAIT - @moidriss
-->
<template>
    <div class="form__wrapper">
        <template if:false={wait}>
            <template if:false={previewData}>
                <template if:true={createRecord}>
                    <lightning-record-edit-form
                                name="createRecord"
                                object-api-name={objectApiName}
                                onsubmit={handleSubmitCreateEvent}
                                onload={handleLoad}>
                            <div style="display: flex; flex-wrap: wrap;">
                                <template for:each={formField} for:item="f">
                                    <div class={columnStyle} key={f} style="flex: 1;">
                                        <lightning-input-field variant="label-stacked" field-name={f.name} required={f.required} value={f.value}></lightning-input-field>
                                    </div>
                                </template>
                            </div>
                            <template if:true={useDefaultAction}>
                                <div class="slds-align_absolute-center">
                                    <lightning-button label="Annuler" title="Annuler" onclick={handleCancel} class="slds-m-left_x-small">
                                    </lightning-button>
                                    <lightning-button type="submit" variant="brand" label="Créer" title="Créer" class="slds-m-left_x-small">
                                    </lightning-button>
                                </div>
                            </template>
                    </lightning-record-edit-form>
                </template>
                <template if:false={createRecord}>
                    <lightning-record-edit-form
                                name="editRecord"
                                object-api-name={objectApiName}
                                record-id={recordId}
                                onsubmit={handleSubmitEditEvent}
                                onload={handleLoad}>
                            <div style="display: flex; flex-wrap: wrap;">
                                <template for:each={formField} for:item="f">
                                    <div class={columnStyle} key={f} style="flex: 1;">
                                        <lightning-input-field variant="label-stacked" field-name={f.name} required={f.required} value={f.value}></lightning-input-field>
                                    </div>
                                </template>
                            </div>
                            <template if:true={useDefaultAction}>
                                <div class="slds-align_absolute-center">
                                    <lightning-button label="Annuler" title="Annuler" onclick={handleCancel} class="slds-m-left_x-small">
                                    </lightning-button>
                                    <lightning-button type="submit" variant="brand" label="Créer" title="Créer" class="slds-m-left_x-small">
                                    </lightning-button>
                                </div>
                            </template>
                    </lightning-record-edit-form>
                </template>
            </template>
            <template if:true={previewData}>
                <lightning-record-edit-form
                            name="editRecord"
                            object-api-name={objectApiName}
                            record-id={recordId}
                            onload={handleLoad}>
                        <div style="display: flex; flex-wrap: wrap;">
                            <template for:each={formField} for:item="f">
                                <div class={columnStyle} key={f} style="flex: 1; margin-bottom: 10px;">
                                    <span class="label" key={f}>{f.label}</span>
                                    <lightning-output-field variant="label-hidden" field-name={f.name} required={f.required} value={f.value}></lightning-output-field>
                                </div>
                            </template>
                        </div>
                </lightning-record-edit-form>
            </template>
        </template>
        <template if:true={wait}>
            <div class="slds-box modal-cont">
                <div class="slds-spinner_container frontal-cont">
                    <div role="status" class="slds-spinner slds-spinner_large slds-spinner_brand">
                        <span class="slds-assistive-text">Loading</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>