:host {
    --lwc-spacingSmall: 5PX;
    --sds-c-button-radius-border: 50rem;
    --lwc-formLabelFontSize: 15px;
}

:host .slds-p-around_medium, .slds-p-around--medium {
    padding: 0.5rem;
}

.footer {
    border: 0px;
}

.lgc-bg {
    background-color: rgb(255 255 255 / 15%);
}

.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}

.lgc-synthese {
    font-family:'fontKarbon-Semibold';
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    color: #1e4477;
    margin: 0 auto;
}

.lgc-title {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    color: #1e4477;
    padding-left: 50%;
}

.save-button {
    font-size: 16px;;
}

.min-width {
    min-width: 1000px;
}

/*.lgc-title {
    width: 412px;
    height: 23px;
    font-family:'fontKarbon-Semibold';
    font-size: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #e06d24;
}*/

.title , .header {
    font-family:'fontKarbon-Semibold';
    font-size: 13px;
    font-family:'fontKarbon-Semibold';
    text-transform: uppercase;
}

:host(.slds-form-element__label) {
    font-family:'fontKarbon-Semibold';
    color: black;
    font-size: 18px;
}

  /* headlines with lines */
.decorated{
  overflow: hidden;
  text-align: center;
  font-weight: 600;
  color:  #e06d24;
}
.decorated > span{
 position: relative;
 display: inline-block;
 font-size: 19px;
}
.decorated > span:before, .decorated > span:after{
 content: '';
 position: absolute;
 top: 50%;
 border-bottom: 2px solid;
 width: 100vh; /* 100 viewport */
 margin: 0 20px;
}

.decorated > span:before{
 right: 100%;
}

.decorated > span:after{
 left: 100%;
}

.picker-container{
    width: max-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.no-slected {
    height: 18px;
    font-family:'fontKarbon-Regular';
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #a7a7a7;
  }

  

  .code-input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    /* margin: 0 auto; */
  }

  .trackDechetCombobox {
    width: 22%;
    margin: 0 0 0 15px;
  }

  .trackDechet {
    width: 33%;
    margin: 0 auto;
  }

  .code-input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    /* margin: 0 auto; */
  }