<template>
    <div class="slds-m-top_medium slds-m-bottom_x-large">
        <div class="slds-grid slds-grid_vertical slds-form-element">
            <div class="slds-col">
                <ul>
                    <li>
                        <div class="slds-grid slds-wrap">
                            <main class="slds-col slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
                                <h3 class="slds-text-heading_medium lgc-title">
                                    Synthèse
                                </h3>
                            </main>
                            <!-- <aside class="slds-align_absolute-center slds-col slds-size--1-of-2 slds-medium-size--1-of-6 slds-large-size--4-of-12">
                                <lightning-button label="Enregistrer mes données"
                                class="save-button" disabled={isDisabled} onclick={handleSave} variant="brand"></lightning-button>
                            </aside> -->
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <div class="slds-col">
            </br>
            <h2 class="decorated"><span>VOS INFORMATIONS</span></h2>
            <c-lwc-qly-user-info user-info={userInfo}></c-lwc-qly-user-info>
            <br />
        </div>

        <br />
        <div class="slds-col">
            </br>
            <h2 class="decorated"><span>PRESTATIONS COLLECTES ET SERVICES</span></h2>
            </br>
            <div class=" picker-container slds-align_absolute-center">
                </br>
                <!-- we display only the selected prestation so we init options by listSelectedPresta -->
                <template if:true={arePrestationSelected}>
                <c-lwc-visual-picker header={header} options={userSelectedServices.listSelectedPresta}
                    user-selected-services={userSelectedServices} size={size} multi-select={multiSelect}
                    vertical="false" show="true" item-disabled="true">
                </c-lwc-visual-picker>
            </template>
                 <template if:false={arePrestationSelected}>
                    <div class="slds-align_absolute-center no-slected">
                        <span> Aucune prestation sélectionnée </span>
                    </div>
                </template>
            </div>
        </div>

        <br />
        <div class="slds-col">            
            <h2 class="decorated"><span>PRESTATIONS DE TRAITEMENT DE DÉCHETS</span></h2>
            </br>
            <template if:true={areWasteSelected}>
            <div class="picker-container slds-align_absolute-center">
                </br>
                <c-lwc-qly-selected-services user-selected-services={userSelectedServices} item-disabled={itemDisabled}>
                </c-lwc-qly-selected-services>
            </div>
            </template>   
            <template if:false={areWasteSelected}>                
                    <div class="slds-align_absolute-center no-slected">
                        <span> Aucune prestation de traitement de déchet sélectionnée </span>
                    </div>                
            </template>       
        </div>     

        <br />
        <div class="slds-col">           
            <h2 class="decorated"><span>PRESTATIONS DE CONTENANTS SUPPLÉMENTAIRES</span></h2>
            </br>
            <template if:true={areContainerSelected}>
            <div class=" picker-container slds-align_absolute-center">
                </br>
                <c-lwc-qly-selected-containers style="min-width: 1000px;" user-selected-services={userSelectedServices}
                have-selected-container="true"
                item-disabled="true" >
                </c-lwc-qly-selected-containers>
            </div>
            </template>
            <template if:false={areContainerSelected}>
                <div class="slds-align_absolute-center no-slected">
                    <span> Aucun contenant supplémentaire sélectionné </span>
                </div>
            </template>
        </div>

        <div class="slds-col">           
            <h2 class="decorated"><span>TRACK DECHET</span></h2>
            </br>
            <c-lwc-qly-track-dechet user-info={userInfo} onuserinputvalue={handleUserTrackDechetInputs}></c-lwc-qly-track-dechet>
        </div>
        
        <div class="slds-col">
        </br>
            <h2 class="decorated"><span>FINALISATION</span></h2>
            <c-lwc-qly-finalization finalization-commentary={finalizationCommentary} form-id={formId} comment={userInfo.comment} place-holder={placeHolder} is-accepted={userInfo.isAccepted} is-notify={userInfo.isNotify}
                onuserinputvalue={handleUserInputChange} onuploadfiles={handleUpload}></c-lwc-qly-finalization>
        </div>
    </div>
</template>