<template>
    <template if:true={openModal}>
        <div id="open-modal" class="modal-window">
            <div>
                <div class="text-content">Attention!<br>
                   Il faut fournir la liste définitive des produits.</div>
                <br>
                <div style="left: 50%;
                            transform: translateX(-50%);
                            position: absolute;">
                    <button class="slds-button slds-button_success" onclick={handleOK}>Ok</button>
                </div>
            </div>
        </div>
    </template>
    <h2 class="title"><span>{title}</span></h2>
    <div class="container">       
        <template if:true={listProducts}>
            <template for:each={listProducts} for:item="prod"  for:index="index">                
                <lightning-input key={prod.Id} data-product-id={prod.Product2Id} data-description={prod.Product2.Description} data-adr-icon={prod.Product2.QLY_ADRIcon__c} data-icon={prod.Product2.QLY_ServiceIcon__c} data-clp-icon={prod.Product2.QLY_CLPIcon__c} data-features={prod.Product2.Features__c} data-id="checkbox" data-request={prod.Product2.QLY_ServiceType__c}  data-unit-price={prod.UnitPrice} data-display-type={prod.Product2.QLY_DisplayType__c} type="checkbox" label={prod.Product2.Name} name={prod.Name}
                    onchange={handleSelectedServices}></lightning-input>                      
            </template>
        </template>       
    </div>
</template>