:host {
    --sds-c-button-neutral-color-background:#e07026;
    --sds-c-button-text-color : white;
    --sds-c-button-radius-border : 25px;
  
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.max-content {
    margin-left: auto;
    margin-right: auto;
}

.step_on {
    width: 288px;
    height: 72px;
}

.path {
    width: 15px;
    height: 11px;
    opacity: 0.3;
    border: solid 1px #1e4477;
    background-color: #1a3d74;
}

.article {
    border: none !important;
    top: -25px;
}

.frontal-cont {
    border: none !important;
}

.modal-cont {
    border: none !important;
    z-index: 1500;
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(255,255,255);
}

textarea {
    outline: none !important;
}

textarea:focus:invalid{
    border-color: var(--lwc-colorBorderInputActive,rgb(27, 150, 255));
    box-shadow: var(--lwc-shadowButtonFocus,0 0 3px #0176d3);
}

textarea:focus:invalid{
    border-color: red !important;
}

textarea::-webkit-input-placeholder {
    font-family: "fontKarbon-RegularItalic";
 }
textarea:-moz-placeholder {
    font-family: "fontKarbon-RegularItalic";  
 }
 textarea::-moz-placeholder {
    font-family: "fontKarbon-RegularItalic";  
 }
 textarea:-ms-input-placeholder {  
    font-family: "fontKarbon-RegularItalic"; 
 }

.input-file-upload-wrapper {
    margin-bottom: 10px;
}

.step-title {
    color: #1E4477;
    font-family: "fontKarbon-Semibold";
    font-size: 23px;
    text-align: center;
}

.sub-step-title {
    color: #1E4477;
    font-family: "fontKarbon-Semibold";
    font-size: 16px;
}

.thankText {
    font-family: "fontKarbon-Semibold";
    text-align: center;
    font: 18px;
}

.file-name {
    color: #1E4477;
    font-family: "fontKarbon-Semibold";
    font-size: 14px;
}

.detail-title {
    width: 97%;
    border-bottom: 2px solid #E07026;
    line-height: 0em;
    margin: 10px 0; 
} 

.detail-title span {
    font-family: 'fontKarbon-Semibold';
    color: #E07026;
    font-size: 20px;
    background-color: white;
    padding-right: 5px;
}

lightning-icon {
    --lwc-colorTextIconDefault: #E07026;
}

.sub-table-header {
    font-family: 'fontKarbon-Semibold';
    color: #E07026;
    font-size: 14px;
    background-color: white;
}

.question {
    padding: 10px 0px;
    padding-right: 10px;
    color: #1E4477;
    font-family: "fontKarbon-Medium";
    font-size: 14px;
}

.accordion {
    padding: 10px 0px;
}

.additional-title {
    color: #1E4477;
    font-family: "fontKarbon-Medium";
    font-size: 16px;
}

.additional {
    padding-right: 10px;
}

.file-upload-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.file-upload-wrapper .file-upload {
    border-radius: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #FFFFFF;
    overflow: hidden;
    background-color: #009BDE;
    background-size: 100% 220%;
    transition: all 300ms;
    color: #FFFFFF;
    font-size: 14px;
}
.file-upload-wrapper .file-upload input[type=file] {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.file-upload-wrapper .file-upload:hover {
    background-color: #E07026 !important;
    color: #FFF;
}

.file-upload-wrapper .file-upload:hover > div > .icon > lightning-icon {
    --lwc-colorTextIconDefault: #FFF;
}

.file-upload-wrapper .file-upload:hover > div {
    color: #FFF;
}

.file-upload-wrapper .file-upload > div {
    color: #FFF;
    transition: all 300ms;
}

.file-upload-wrapper .file-upload > div > .icon > lightning-icon {
    --lwc-colorTextIconDefault: #FFF;
    transition: all 300ms;
}

.label {
    padding-right: 10px;
}

.icon {
    padding: 0px 10px;
}

details.sub-accordion[open] summary > div > .arrow > lightning-icon {
    transform: rotate(90deg);
}

details.sub-accordion summary > div > .arrow > lightning-icon {
    transform: rotate(0deg);
    transition: all 300ms;
}

.sub-accordion {
    padding-bottom: 10px;
}

.edit-button > button {
    background-color: #43A0F3;
}

.edit-button > button:hover {
    color: white;
}

div[data-error="error"] {
    background-color: #e02626 !important;
    box-shadow: #e02626 0px 0px 5px;
}

.td-medium-bold {
    color: #1e4477;
    font-family: 'fontKarbon-Medium';
}

th {
    background-color: rgb(30, 68, 119);
    color: rgb(255, 255, 255);
    font-family: 'fontKarbon-Semibold';
    font-size: 14px;
}

th, td {
    border: 1px solid grey;
    padding: 10px;
}