<template>
    <template if:true={pageNotFound}>
        Cette page n'existe pas.
    </template>
    <template if:false={pageNotFound}>
        <article class="slds-card article">
            <div class="slds-card__header slds-grid">
                <header class="slds-has-flexi-truncate">
                    <c-lwc_-path-indicator steps={STEPS}></c-lwc_-path-indicator>
                </header>
            </div>

            <br/>

            <div class="slds-card__body slds-card__body_inner container">
                <div class="max-content">
                    <template if:true={stepState.step1}>
                        <div style="max-width: 50%; margin: auto;">
                            <div>
                                <h2 class="step-title">Vos informations</h2>
                            </div>
                            <br/>
                            <div class="slds-form-element__control slds-grow">
                                <label class="slds-form-element__label" for="account">Nom du compte</label>
                                <input type="text" class="slds-input" id="account" name="account" disabled value={recordInfo.ERP_AccountName__c} />
                            </div>
                            <div class="slds-form-element__control slds-grow">
                                <label class="slds-form-element__label" for="clientCode">Code client</label>
                                <input type="text" class="slds-input" id="clientCode" name="clientCode" disabled value={recordInfo.ERP_CustomerCode__c}/>
                            </div>
                            <div class="slds-form-element__control slds-grow">
                                <label class="slds-form-element__label" for="street">Rue*</label>
                                <input type="text" class="slds-input streetInput" id="street" name="street" required={editRequired} disabled={editDisabled} value={recordInfo.ERP_Street__c} onchange={handleChange}/>
                            </div>
                            <div class="slds-form-element__control slds-grow">
                                <label class="slds-form-element__label" for="zip">Code Postal*</label>
                                <input type="text" class="slds-input zipInput" id="zip" name="zip" required={editRequired} disabled={editDisabled} value={recordInfo.ERP_PostalCode__c} onchange={handleChange} pattern="[0-9]{5}" maxlength="5"/>
                            </div>
                            <div class="slds-form-element__control slds-grow">
                                <label class="slds-form-element__label" for="city">Ville*</label>
                                <input type="text" class="slds-input cityInput" id="city" name="city" required={editRequired} disabled={editDisabled} value={recordInfo.ERP_City__c} onchange={handleChange}/>
                            </div>
                            <div class="slds-form-element__control slds-grow">
                                <label class="slds-form-element__label" for="country">Pays*</label>
                                <input type="text" class="slds-input countryInput" id="country" name="country" required={editRequired} disabled={editDisabled} value={recordInfo.ERP_Country__c} onchange={handleChange}/>
                            </div>
                            <div class="slds-form-element__control slds-grow">
                                <label class="slds-form-element__label" for="vat">TVA Intracommunautaire*</label>
                                <input type="text" class="slds-input vatInput" id="vat" name="vat" required={editRequired} disabled={editDisabled} value={recordInfo.ERP_VAT__c} onchange={handleChange} pattern="[a-zA-Z]{2}[0-9]{11}" maxlength="13"/>
                            </div>
                            <div class="slds-form-element__control slds-grow">
                                <label class="slds-form-element__label" for="siret">SIRET*</label>
                                <input type="text" class="slds-input siretInput" id="siret" name="siret" required={editRequired} disabled={editDisabled} value={recordInfo.ERP_SIRET__c} onchange={handleChange} pattern="[0-9]{14}" maxlength="14"/>
                            </div>
                            <br/>

                            <div class="slds-checkbox">
                                <input type="checkbox" name="options" id="checkbox-unique-id-81" value="checkbox-unique-id-81" onclick={enableEdit} checked={editRequired}/>
                                <label class="slds-checkbox__label" for="checkbox-unique-id-81">
                                    <span class="slds-checkbox_faux"> </span> 
                                    <span class="slds-form-element__label"> Je souhaite modifier mes informations</span>
                                </label>
                            </div>
                        </div>
                    </template>
                    <template if:true={stepState.step2}>
                        <div style="max-width: 50%; margin: auto;">
                            <div>
                                <h2 class="step-title">Vos informations de facturation</h2>
                            </div>


                            <div class="slds-form-element__control slds-grow">
                                <label class="slds-form-element__label" for="phone">Numéro de téléphone*</label>
                                <input type="text" class="slds-input phoneInput" id="phone" name="phone" required onchange={handleChange} placeholder="Ex. : 0619000000"/>
                            </div>
                            <div class="slds-form-element__control slds-grow">
                                <label class="slds-form-element__label" for="emailPrimary">Adresse email principale*</label>
                                <input type="email" class="slds-input emailPrimaryInput" id="emailPrimary" name="email" required onchange={handleChange} placeholder="Ex. : mailprincipal@gmail.com"/>
                            </div>
                            <div class="slds-form-element__control slds-grow">
                                <label class="slds-form-element__label" for="emailSecondary">Adresse email secondaire</label>
                                <input type="email" class="slds-input emailSecondaryInput" id="emailSecondary" name="email" onchange={handleChange} placeholder="Ex. : mailsecondaire@gmail.com"/>
                            </div>
                        </div>
                    </template>
                    <template if:true={stepState.step3}>
                        <div>
                            <h2 class="step-title">Merci</h2>
                        </div>
                        <br/>
                        <div class="thankText">
                            Nous vous remercions pour vos informations.
                            <template if:false={editDisabled}>
                                <br/>
                                Votre demande de modification de vos données a bien été prise en compte.
                            </template>
                            
                        </div>
                    </template>
                </div>
            </div>

            <footer class="slds-card__footer">
                <div class="slds-grid slds-gutters">
                    <div class="slds-col" style="text-align: center;">
                        <template if:true={displayPrevious}>
                            <lightning-button label="Étape précédente" variant="base" icon-name="utility:left"
                                class="prev-button slds-var-m-left_x-small" disabled={disableReturn}
                                onclick={handlePrevious}></lightning-button>
                        </template>
                    </div>
                    <div class="slds-col">
                        <span></span>
                    </div>
                    <div class="slds-col" style="text-align: center;">
                        <template if:true={stepState.step2}>
                            <lightning-button label="Valider et terminer" icon-name="utility:right" icon-position="right"
                            class="next-button slds-var-m-left_x-small " onclick={handleNext}>
                            </lightning-button>
                        </template>
                        <template if:true={stepState.step1}>
                            <lightning-button label="Étape suivante" icon-name="utility:right" icon-position="right"
                            class="next-button slds-var-m-left_x-small " onclick={handleNext}>
                            </lightning-button>
                        </template>
                    </div>
                </div>
            </footer>
        </article>
        <template if:true={wait}>
            <div class="slds-box modal-cont">
                <div class="slds-spinner_container frontal-cont">
                    <div role="status" class="slds-spinner slds-spinner_large slds-spinner_brand">
                        <span class="slds-assistive-text">Loading</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
            </div>
        </template>
    </template>
</template>