.data-container{
    padding: 1rem; 
    padding-top: calc(1rem - 10px);
    text-align: center;
}

.header-container{
    padding: 1rem; 
    text-align: center;
}


h2 {
    font-size: 24px;
}

button:disabled {
    background-color: rgb(201, 199, 197) !important;
    border-color: rgb(201, 199, 197) !important;
}

button.action:hover {
    background-color: #b45211 !important;
    border-color: #b45211 !important;
}

button.approval:hover {
    background-color: #147eac !important;
    border-color: #147eac !important;
}

button.cancel:hover {
    background-color: #7a0611 !important;
    border-color: #7a0611 !important;
}

div {
    font-size: 16px;
}

.active:focus {
    box-shadow: 0 0 3px rgb(224 112 38) !important;
}

a.data,
span.data {
    font-family: 'fontKarbon-SemiBold';

    color: #1E4477;
}

.btn_cont {
    display: flex;
}

.btn_cont :nth-child(n) {
    margin-left: 5px;
}

.modal {
    z-index: 10 !important;
    position: fixed !important;
    visibility: hidden;
}

.text-left {
    text-align: left;
}

.text-left:nth-of-type(n) {
    margin-top: 10px;
}

.locked-badge {
    padding: 0px 10px;
    background-color: #fe9339;
    border-radius: 20px;
}

.cancelled-badge {
    padding: 0px 10px;
    background-color: #f02424;
    color: #fff;
    border-radius: 20px;
}

.top-Z {
    z-index: 8 !important;
    text-align: left;
}

.modal-approb {
    position: absolute;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 20;
}

.modal-approb > div {
    padding: 25px;
    background: white;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.modal-approb > div > h2{
    font-size: 38px;
}

hr.hr {
    margin: 5px;
    margin-bottom: 25px;
}

.margin-top {
    margin-top: 10px;
}