<!-- sldsValidatorIgnore -->
<template>
    <template if:true={open}>
        <div class="modal-new" style="position: absolute;
                                    z-index: 5;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    height: 100vh;
                                    background: rgba(0,0,0,0.3);">
            <!-- Modal/Popup Box Header Starts here-->
            <div style="position: relative;
                        background: white;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        padding: 20px;
                        width: 33vw;
                        border-radius: 10px;">
                <div class="head" style="font-size: 24px;
                                        text-align: center;">
                    <h2>Nouvelle Requête</h2>
                </div>
                <!--Modal/Popup Box Body Starts here-->
                <!-- <lightning-record-form
                        style="background: white;
                            padding: 10px;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;"
                        columns="2"
                        object-api-name={listViewObjectApiName}
                        fields={newFieldsList}
                        record-type-id={recordTypeId}
                        onsuccess={handleSuccess}
                        oncancel={handelCancel}>
                </lightning-record-form> -->
                <lightning-record-edit-form
                        style="background: white;
                            padding: 10px;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;"
                        object-api-name={listViewObjectApiName}
                        onsubmit={onsubmitOverride}>
                        <div style="display: flex; flex-wrap: wrap;">
                            <template if:true={render_this}>
                                <template for:each={fields_new} for:item="f">
                                    <div key={f} style="min-width: 50%; flex: 1;">
                                        <lightning-input-field field-name={f.field} required={f.required}></lightning-input-field>
                                    </div>
                                </template>
                            </template>
                        </div>
                        <div class="slds-align_absolute-center">
                            <lightning-button label="Annuler" title="Annuler" onclick={handleCancel} class="slds-m-left_x-small">
                            </lightning-button>
                            <lightning-button type="submit" variant="brand" label="Enregistrer" title="Enregistrer" class="slds-m-left_x-small">
                            </lightning-button>
                        </div>
                </lightning-record-edit-form>
            </div>
        </div>
    </template>
    <template if:true={popupShow}>
        <div class="modal-approb">
            <div>
                <lightning-record-edit-form onload={handleLoad} onsubmit={customAction} data-id="popupForm" record-id={recordId}
                                    object-api-name={oApiName}>
                    <h2 style="font-size: 38px;">{popupTitle}</h2>
                    <hr class="hr">
                    <lightning-formatted-rich-text value={popupBody}></lightning-formatted-rich-text>
                    <template if:true={popupField}>
                        
                        <template if:false={popupSpinner}>
                            <div class="slds-spinner_container">
                                <div class="slds-spinner--brand  slds-spinner slds-spinner--small slds-is-relative" role="alert">
                                    <span class="slds-assistive-text">Loading...</span>
                                    <div class="slds-spinner__dot-a"></div>
                                    <div class="slds-spinner__dot-b"></div>
                                </div>
                            </div>
                        </template>

                        <template if:true={popupSpinner}>
                            <div class="margin-top" style={popupField.style}>
                                <lightning-input-field field-name={popupField.name} variant={popupField.variant} required={popupField.required}>
                                </lightning-input-field>
                                <template if:true={popupField.label}>
                                    <span>{popupField.label}</span>
                                </template>
                            </div>
                        </template>

                    </template>
                    <!-- <lightning-input type="checkbox" label="Par la présente, je certifie l’exactitude des renseignements et informations fournis." onchange={handleCheckboxChange} name="checkSign" required=""></lightning-input> -->
                    <br>
                    <br>
                    <div>
                        <lightning-button label="Retour" title="Retour" onclick={closeScreen} class="slds-m-left_x-small"></lightning-button>
                        <lightning-button style="float: right;" type="submit" variant="brand" label={popupField.buttonLabel} title="Soumettre pour approbation" class="slds-m-left_x-small"></lightning-button>
                    </div>                
                </lightning-record-edit-form>
            </div>
        </div>
    </template>
    <template if:true={showHover}>
        <div style={modalStyle} data-name="popup" class="slds-popover slds-nubbin_left slds-card slds-card_boundary modal">
            <div class="slds-grid slds-page-header" style="padding: 1rem;">
                <header class="slds-media slds-media--center slds-has-flexi-truncate">
                    <div class="slds-media__figure stencil slds-avatar slds-avatar_small" aria-hidden="true">
                        <div class="small" style={objColor}>
                            <img src={objIcon} class="icon " alt="" title="">
                        </div>
                    </div>
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title" id="header_5:368;a">
                            <span class="slds-truncate slds-m-right--xx-small" title="Produit">{record.accountObj.Name}</span>
                        </h2>
                    </div>
                </header>
            </div>
            <div class="data-container">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-size_4-of-12">
                        {record.accountObj.BillingAddress}
                    </div>
                    <div class="slds-col slds-size_4-of-12">
                        {record.accountObj.Industry}
                    </div>
                    <div class="slds-col slds-size_4-of-12">
                        {record.accountObj.CustomerNature__c}
                    </div>
                    <div class="slds-col slds-size_4-of-12">
                        {record.accountObj.Phone}
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template if:false={wait}>
        <div class="slds-card slds-card_boundary no_margin" style="border: unset;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(255 255 255 / 19%);" data-id="top">
            <div class="slds-page-header header-container">
                <div class="slds-grid slds-wrap" style="align-items: center;">
                    <template if:true={forListView}>
                        <div class="slds-col slds-size_1-of-12" style="width: auto;">
                            <div class="extraSmall slds-media__figure stencil slds-avatar slds-avatar_small" style={objColor}>
                                <img src={objIcon} class="icon-list-view">
                            </div>
                        </div>
                        <div class={titleClass} style="text-align: left; flex-grow: 1;">
                            <h2>{title}</h2>
                        </div>
                        <div class="slds-col slds-size_2-of-12" style="display: flex;">
                            <button class="slds-button slds-button_brand" style="margin-left: auto;" onclick={newRecord}>Nouveau</button>
                        </div>
                    </template>
                    <template if:false={forListView}>

                        <div style="display: flex;flex-grow: 1;flex-direction: row;align-items: center;">
                            <div class="extraSmall slds-media__figure stencil slds-avatar slds-avatar_small" style={objColor}>
                                <img src={objIcon} class="icon-list-view">
                            </div>
                            <h2>{headTitle}</h2>
                        </div>

                        <div class="btn_cont">
                            <template if:true={customButtons}>
                                <template for:each={customButtons} for:item='cButton'>
                                    <div key={cButton}>
                                        <button class={cButton.class} disabled={lockRecord} data-action={cButton.action} data-popup={cButton.popup} data-popup-title={cButton.popupTitle} data-popup-field={cButton.popupField}  data-popup-body={cButton.popupBody} onclick={customAction}>{cButton.label}</button>
                                    </div>
                                </template>
                            </template>
                            <template if:false={hideEdit}>
                                <template if:false={lockRecord}>
                                    <div>
                                        <button style="background: #e07026; border-color: #e07026;" class="slds-button active action slds-button_brand slds-align_absolute-center" disabled={lockRecord} onclick={handleOnEdit}>{button_label}</button>
                                    </div>
                                </template>
                            </template>
                        </div>

                        <template if:true={additionalDetail}>
                            <template for:each={additionalDetail} for:item='aDetail'>
                                <lightning-formatted-rich-text class="slds-col slds-size_1-of-12" key={aDetail} value={aDetail}>
                                </lightning-formatted-rich-text>
                            </template>
                        </template>
                        
                    </template>
                </div>
            </div>
            <template if:true={multiCondition}>
                
                <lightning-record-edit-form object-api-name={oApiName}>
                    <div class="data-container slds-grid slds-wrap">
                        <template if:true={object}>
                            <template for:each={object} for:item="line">
                                <div key={line} class="slds-col slds-size_6-of-12 text-left" style="display: inline-flex; z-index:99999 !important;">
                                    <div style="width: max-content;">{line.label} :</div>
                                    <template if:true={line.editable}>
                                        <template if:false={edit}>
                                            <div style="margin-left: 5px;">
                                                <span class="data">{line.value}</span>
                                            </div>
                                        </template>
                                        <template if:true={edit}>
                                            <div style="margin-left: 5px; max-width: 60%;">
                                                <lightning-input-field style="z-index: 25;" field-name={line.name} name={line.name} value={line.value} onchange={handleChange} variant="label-hidden"></lightning-input-field>
                                            </div>
                                        </template>
                                    </template>
                                    <template if:false={line.editable}>
                                        <div style="margin-left: 5px;">
                                            <span class="data">{line.value}</span>
                                        </div>
                                    </template>
                                </div>
                            </template>
                        </template>
                        <template for:each={addonHtml} for:item="item">
                            <lightning-formatted-rich-text style="margin-top: 10px;" class="slds-col slds-size_6-of-12 text-left" key={item} value={item}>
                            </lightning-formatted-rich-text>
                        </template>
                            <!-- <template if:true={showAddress}>
                                <template if:true={record.Account__r}>
                                    <div class="slds-col slds-size_6-of-12 text-left">
                                        Adresse d'enlèvement : <span class="data">{record.Account__r.BillingStreet}, {record.Account__r.BillingPostalCode} {record.Account__r.BillingCity}</span>
                                    </div>
                                </template>
                            </template>
                            <div class="slds-col slds-size_6-of-12 text-left">
                                Type déchets : <img src={img} width={size.w} height={size.h} align="middle">
                            </div> -->
                    </div>
                </lightning-record-edit-form>

            </template>
        </div>
    </template>
    <template if:true={wait}>
        <div style="height: 100vh !important;">
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </div>
    </template>
</template>