<template>
    <!-- <div class="slds-grid slds-wrap">      -->
    <div>
            <template for:each={item.rows} for:item="row" for:index="index">
                 <c-lwc-qly-selected-services-item-row-item form-id={formId} key={row.index} prod-id={item.productId} index={index} row={row} product={item.name} item-disabled={itemDisabled} onrowaction={handleRowAction} onuserinputvalue={handleUserInputChange} display-style={row.displayStyle} onuploadfiles={handleUpload}></c-lwc-qly-selected-services-item-row-item>
            </template>
    </div>
</template>