.css-title {font-weight: 100;
    font-size: 12px;
    background-color: #1e4477;
    color: #fff;
    padding-left: 30px;
    line-height: 12px;
  }
  
  .page-header{
    font-size: 12px;
    background-color: #1e4477;
    color: #fff;
    padding-right: 46px;
    line-height: 12px;
    align-items: center;
    white-space: break-spaces;
  }
  
  .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    }
  
    .th-width {
        width: 250px;
    }
  
    .th-width-number {
    width: 75px;
      white-space: break-spaces;
    }
  
    :host .slds-checkbox .slds-checkbox__label .slds-form-element__label {
      display: inline;
      vertical-align: middle;
      white-space: break-spaces;
  }
  
  :host .slds-table thead th {
    background-color: #1e4477;
  }
  
  .no-waste {    
    height: 18px;
    margin: 210px 251px 0 250px;
    font-family: monospace;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #a7a7a7;
  }  

.icon-button {
  width: 30px;
  height: 24px;
  line-height: 200px;
  background-color: #009bde;
  color: white;
  border-radius: 1px;
}

.join-photo-text {
  margin: 10px 117px 7px 104px;
  font-family: 'Salesforce Sans';
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1e4477;
}