<template>
    <div class="slds-grid slds-grid_vertical slds-grid_vertical-align-center">
        <div class="slds-col ">
            <span class><img src={okImageUrl}></span>
        </div>
        <div class="slds-col title slds-p-bottom_small">
            Votre demande a bien été envoyée !
        </div>
        <div class="slds-col registred slds-p-bottom_large">
            Les informations comprises dans le forumulaire seront utilisées pour la mise en place de la prestation.<br/> 
            Notre équipe de planification reviendra vers vous pour organiser la collecte.
        </div>
        <div class="slds-col reply">
            Vous recevrez le récapitulatif PDF de votre demande par mail. Pensez à vérifier vos spams.
        </div>
        <div class="slds-col slds-p-top_large">
            <lightning-button label="Revenir à l’accueil" icon-name="utility:left"
                class="nextButton slds-var-m-left_x-small" onclick={handleRedirect}></lightning-button>
        </div>
    </div>
</template>