.title {
    width: max-content;
    /* margin: 20px 457px 11px; */
    font-family:'fontKarbon-Semibold';
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    color: #1e4477;
  }

  .registred {
    width: max-content;
    /* margin: 11px 590.5px 0; */
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #1e4477;
  }

  .reply {
    width: max-content;
    /* height: 0px;
    margin: 29px 492.5px 39px; */
    font-size: 14px;
    text-align: center;
    color: #1e4477;
  }

  .nextButton {
    --sds-c-button-neutral-color : #f16800; 
    --sds-c-button-neutral-color-background-hover: #f16800; 
    --sds-c-button-neutral-color-background : transparent; 
    --sds-c-button-text-color:  #f16800;
    --sds-c-button-text-color-hover: white;
    --sds-c-button-radius-border: 25px;
    font-size: 16px;
    width: 170px;
  }