input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

/* Accordion styles */
.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
    width: 100%;
    color: white;
    overflow: hidden;
}

.done .tab-label {
    background-color: #1BB385 !important;
}

.done:hover .tab-label {
    background: #137a5b !important;
}

.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #4F6A90;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.35s cubic-bezier(0.85, 0, 0.15, 1);
    align-items: center;
    /* Icon */
}

.label-holder {
    width: 80%;
}

.label-holder div {
    transition-duration:  0.35s;
    transition-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
    transition-property: transform, left;
    position: absolute;
    left: 5%;
    transform: translateY(-10px);
}

.label-holder, .index {
    background: transparent;
    transition: all 0.35s cubic-bezier(0.85, 0, 0.15, 1);
}

.tab-label:hover {
    background: #012a4a;
}

.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #012a4a;
    background: white;
    border-color: white;
    border-style: solid;
    border-width: thin;
    transition: all 0.35s cubic-bezier(0.85, 0, 0.15, 1);
}

.tabs .tab:last-of-type .tab-content {
    border: unset;
}

.tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #4F6A90;
    cursor: pointer;
    transition: all 0.35s cubic-bezier(0.85, 0, 0.15, 1);
}

.tab-close:hover {
    background: #012a4a;
}

input:checked + .tab-label .arrow svg {
    transform: scale(1) rotate(270deg);
}

input:checked + .tab-label .arrow .components-indicator {
    opacity: 0;
}

input:checked + .tab-label .label-holder div {
    left: 50%;
    transform: translate(-50%, -15px);
}

input:checked + .tab-label {
    background: #012a4a;
    font-size: 20px;
}

.done ~ input:checked ~ .tab-label {
    background: #137a5b !important;
}

input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
}

.arrow {
    width: 15%;
}

.index {
    width: 5%;
}

.arrow {
    display: flex;
    justify-content: flex-end;
    gap: 10%;
    align-items: center;
}

.arrow svg {
    width: 20px;
    height: 20px;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
    transition-property: transform;
    transform: scale(.75) rotate(90deg);
}

.components-indicator {
    font-size: 12px;
    padding: 5px 10px;
    color: #A2ACBD;
    background-color: white;
    border-radius: 5px;
    opacity: 1;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
    transition-property: opacity;
}