<!--
  @description       : 
  @author            : MAIT - @moidriss
  @group             : 
  @last modified on  : 11-21-2023
  @last modified by  : MAIT - @moidriss
-->
<template>
    <div class="tabs">
        <template if:true={items} for:each={items} for:item="item" for:index="index">
            <div key={item} class={item.localVars.class}>
                <input type="checkbox" id={item.Id} name="rd">
                <label class="tab-label" for={item.Id}>
                    <div class="index">{item.localVars.index}/{nbItems}</div>
                    <div class="label-holder">
                        <div>CAP N° {item.Name}<template lwc:if={item.WasteName__c}> - {item.WasteName__c}</template><template lwc:if={item.Producteur__c}> - {item.Producteur__c}</template></div>
                    </div>
                    <div class="arrow">
                        <span class="components-indicator">{item.localVars.nbComponents}</span>
                        <svg width="64px" height="64px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#fff" stroke="#fff" stroke-width="102.4">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path fill="#fff" d="M338.752 104.704a64 64 0 0 0 0 90.496l316.8 316.8-316.8 316.8a64 64 0 0 0 90.496 90.496l362.048-362.048a64 64 0 0 0 0-90.496L429.248 104.704a64 64 0 0 0-90.496 0z"></path>
                            </g>
                        </svg>
                    </div>
                </label>
                <div class="tab-content">
                    <c-lwc_-p-f-a-s-accordion-item item={item} record-s-object-type="CAP__c" language={language} oncomponentschange={handleEventData}></c-lwc_-p-f-a-s-accordion-item>
                </div>
            </div>
        </template>
    </div>
</template>