<template>

    <div class="slds-m-bottom_medium slds-align_absolute-left">
        <div class="slds-grid slds-grid_vertical slds-form-element">
            <div class="slds-col">
                <ul>
                    <li>
                        <div class="slds-col">
                            <div class="lgc-bg slds-align_absolute-left slds-form-element__control">
                                <lightning-input type="checkbox" data-type="checkbox"
                                    label="L’adresse de l’enlèvement des déchets est identique"
                                    value={userInfo.isSameAddressForWaste} checked={userInfo.isSameAddressForWaste}
                                    name="wasteAddressCheckBox" onchange={handleUserInputChange}></lightning-input>
                            </div>
                        </div>
                    </li>
                    <li class="slds-align_absolute-center">
                        <template if:false={userInfo.isSameAddressForWaste}>
                            <div class="slds-col">
                                <div class="lgc-bg slds-form-element__control">
                                    <lightning-input-address data-type="removalAddress" address-label="Votre adresse"
                                        street-label="Rue" city-label="Ville" country-label="Pays" province-label="Région"
                                        postal-code-label="Code postal" street={displayStreet}
                                        city={displayCity} country={displayCountry}
                                        postal-code={displayPostalCode} required field-level-help="Recherche adresse"
                                        show-address-lookup onchange={handleUserInputChange}>
                                    </lightning-input-address>
                                </div>
                            </div>
                        </template>
                    </li>
                    <li class="a-propos slds-p-top_medium slds-align_absolute-left"><strong>A propos de votre collecte {currentYear}</strong></li>
                    <ul>
                        <li>
                            <lightning-input type="text" label="Référent pour la collecte des déchets " name="referentCollectcInput"  data-type="input" placeholder="Référent pour la collecte des déchets" class="label"
                                value={userInfo.referentCollect} onchange={handleUserInputChange}>
                            </lightning-input>
                        </li>
                        <li>
                            <div
                                class="slds-p-top_medium slds-p-bottom_medium lgc-bg slds-align_absolute-center slds-form-element__control slds-wrap box-ul">

                                <ul>
                                    <li><span class="accessibility slds-p-bottom_small"><abbr class="slds-required" title="required">* </abbr>Accessibilité de votre site</span></li>
                                    <li>
                                        <ul>
                                            <li>
                                                <div class="sizeTruckDiv">
                                                    <lightning-input type="checkbox" data-type="checkbox"
                                                    label="Le site est accessible en porteur 19T"
                                                        name="access19TCheckBox" onchange={handleUserInputChange}
                                                        value={userInfo.access19TCheckBox} class="ckeckbox-label"
                                                        checked={userInfo.access19TCheckBox}></lightning-input>
                                                    <div class="con-tooltip">
                                                        <lightning-icon class="center" icon-name="utility:preview" size="xx-small"></lightning-icon>
                                                        <div class="tooltip">
                                                            <p>Image d'exemple d'un camion 19T</p>
                                                            <img src={truckUrl19T}>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="truck">
                                                    <div></div>
                                                    <div>(dimensions du camion : 2.50l / 11L / 4h)</div>
                                              </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul>
                                            <li>
                                                <div class="sizeTruckDiv">
                                                    <lightning-input type="checkbox" data-type="checkbox" class="ckeckbox-label"
                                                        label="Le site est accessible en porteur 7T" name="access7TCheckBox"
                                                        onchange={handleUserInputChange} value={userInfo.access7TCheckBox}
                                                        checked={userInfo.access7TCheckBox}
                                                        disabled={userInfo.access19TCheckBox}></lightning-input>
                                                    <div class="con-tooltip">
                                                        <lightning-icon class="center" icon-name="utility:preview" size="xx-small"></lightning-icon>
                                                        <div class="tooltip">
                                                            <p>Image d'exemple d'un camion 7T</p>
                                                            <img src={truckUrl7T}>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="truck">
                                                    <div></div>
                                                    <div>(dimensions du camion : 2.50l / 7.20L / 3.20h)</div>
                                              </div>
                                           </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="sizeTruckDiv">
                                            <lightning-input type="checkbox" data-type="checkbox" class="ckeckbox-label"
                                            label="Le site accessible porteur 3.5T" name="access3TCheckBox"
                                            onchange={handleUserInputChange} value={userInfo.access3TCheckBox}
                                            checked={userInfo.access3TCheckBox} disabled={userInfo.access7TCheckBox}>
                                            </lightning-input>
                                            <div class="con-tooltip">
                                                <lightning-icon class="center" icon-name="utility:preview" size="xx-small"></lightning-icon>
                                                <div class="tooltip">
                                                    <p>Image d'exemple d'un camion 3.5T</p>
                                                    <img src={truckUrl3T}>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <!--<ul>
                        <li>
                            <div
                                class="slds-p-bottom_medium lgc-bg slds-align_absolute-center slds-form-element__control slds-wrap box-ul">
                                <ul>
                                    <li><span class="accessibility slds-p-bottom_small"><abbr class="slds-required" title="required">* </abbr>Quelle(s) collecte(s) vous intéresse
                                            ?</span></li>
                                    <li>
                                        <div style="font-size: 14px;
                                                    font-family: 'fontKarbon-Semibold';
                                                    margin-bottom: 10px;
                                                    min-width: fit-content;
                                                    max-width: 382px;">
                                            Attention, ce formulaire concerne uniquement la 1ère collecte. Pour la 2ème collecte, vous aurez à remplir un nouveau formulaire plus tard dans l'année.
                                        </div>
                                    </li>
                                    <li>
                                        <lightning-input type="checkbox"  class="ckeckbox-label" data-type="checkbox" label={firstCollectLabel}
                                            name="firstCollectCheckBox" onchange={handleUserInputChange}
                                            value={userInfo.firstCollectCheckBox}
                                            disabled="true"
                                            checked={userInfo.firstCollectCheckBox}></lightning-input>
                                    </li>
                                    <li>
                                        <lightning-input type="checkbox"  class="ckeckbox-label" data-type="checkbox" label={secondCollectLabel}
                                            name="secondCollectCheckBox" onchange={handleUserInputChange}
                                            value={userInfo.secondCollectCheckBox}
                                            disabled="true"
                                            checked={userInfo.secondCollectCheckBox}></lightning-input>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>-->
                    <ul>
                        <li>
                            <div class="lgc-bg slds-align_absolute-center slds-form-element__control slds-wrap box-ul">
                                <ul>
                                    <span class="accessibility slds-p-bottom_small">
                                        <li><abbr class="slds-required" title="required">* </abbr>Quel(s) jour(s) et horaire préfèreriez-vous ?</li>
                                    </span>
                                    <li class="text-small slds-p-bottom_medium">Nous vous confirmerons le planning une semaine avant la
                                        collecte</li>
                                    <li class="slds-wrap">
                                        <template for:each={userInfo.days} for:item="day" for:index="index">
                                            <div key={day.rank} class="slds-grid slds-gutters box">
                                                <div class="slds-col">
                                                    <p class="day-name">{day.name}</p>
                                                </div>
                                                <div class="slds-col">
                                                    <lightning-input type="checkbox" data-rank={day.rank}
                                                        data-time={day.morning.morning} data-type="checkbox"
                                                        label={day.morning.morning} name={day.name}
                                                        onchange={handleUserInputChange} checked={day.morning.selected}>
                                                    </lightning-input>
                                                </div>
                                                <div class="slds-col">
                                                    <lightning-input type="checkbox" data-rank={day.rank}
                                                        data-time={day.afternoon.afternoon} data-type="checkbox"
                                                        label={day.afternoon.afternoon} name={day.name}
                                                        onchange={handleUserInputChange}
                                                        checked={day.afternoon.selected}></lightning-input>
                                                </div>
                                            </div>
                                        </template>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</template>