:host .slds-m-top_medium, .slds-m-top--medium {
    margin-top: -12px;
}

.text-small {
    font-size: 15px;
}

.box-ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :host .ckeckbox-Label, .slds-checkbox__label, .slds-checkbox, .slds-form-element__label  {
    /* --lwc-formLabelFontSize: 15px; */
    --lwc-fontSize3: 0.882rem;
    font-weight: 500;
    color:black;
  }

  .a-propos {
    height: 0px;
    margin: 11px 84px 20px 0;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    line-height: normal;
    letter-spacing: normal;
    color: #1e4477;
  }

  .accessibility {
    font-size: 18px;
    font-family: var(--lwc-fontFamilyHeader,fontKarbon-Semibold);
    color: #000;
  }

  .box div {
    width: 100px;
    height: 23px;
  }

  .truck {
    display: flex;
    font-size: 14px;
    font-weight: normal;
    color:black;
  }

  .truck :first-child {
    width: 23px;
  }

  .truck > * {
    flex: 0 0 auto;
  }

  .day-name {
    font-family: var(--lwc-fontFamilyHeader,fontKarbon-Semibold);
    font-size: 15px;
    color: #3e3e3c;
  }

  /*tooltip Box*/
.con-tooltip {

  position: relative;
  
  display: inline-block;
  
  transition: all 0.3s ease-in-out;
  cursor: default;

}

.sizeTruckDiv {
  display: flex;
  justify-content: space-between;
  width: 140%;
}

/*tooltip */
.tooltip {

  text-align: left;
  position: fixed;
  z-index: -10 !important;
  visibility: visible;
  opacity: 0;
  pointer-events: hidden;
  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);

  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  padding: 2em;
  background: #fff;
  
  width: 250px;
  padding: 20px 20px;

  border-radius: 9px;
  font: 16px;
}

.con-tooltip:hover .tooltip{
  z-index: 999 !important;
  display: block;
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
}