.header, .title{
    font-size: 15px;
    font-family: 'fontKarbon-Semibold';
    text-transform: uppercase;
    color: #d2dae4;
  }

  .slds-table {
    white-space: normal;
    vertical-align: baseline;
  }

  .not-producer {
    width: 100%;
    font-size: small;
    font-weight: 100;
    color: #1e4477;
  }

  .row-style {
    color: #1e4477;
    font-weight: 600;
    font-size: 14px;
    vertical-align: baseline;
  }

  :host .slds-gutters .slds-col {
    padding-right: var(--lwc-spacingSmall,0.75rem);
    padding-left: var(--lwc-spacingSmall,0.75rem);
    width: -webkit-fill-available;
}

.baseline-position {
  vertical-align: baseline;
}

.one-third-element {
  font-size: 15px;
  width: 33%;
}

:host {
  --lwc-fontSize3: 15px;
}