<template>
    <table class="slds-table ">
        <thead class="header">
            <tr class="slds-line-height_reset">
                <th class="slds-size_1-of-12" scope="col">
                    <div class="slds-truncate title" title="Name">LYCÉE</div>
                </th>
                <th class="slds-size_1-of-12" scope="col">
                    <div class="slds-truncate title" title="Name">TÉLEPHONE LYCÉE</div>
                </th>
                <th class="slds-size_2-of-12" scope="col">
                    <div class="slds-truncate title" title="Name">ADRESSE LYCÉE</div>
                </th>
                <th class="slds-size_2-of-12" scope="col">
                    <div class="slds-has-flexi-truncate title" title="Name">ADRESSE D'ENLÉVEMENT DES DÉCHETS</div>
                </th>
                <th class="slds-size_3-of-12" scope="col">
                    <div class="slds-truncate title" title="Name">PRÉNOM NOM</div>
                </th>
                <th class="slds-size_1-of-12" scope="col">
                    <div class="slds-truncate title" title="Name">TÉLEPHONE</div>
                </th>
                <th class="slds-size_2-of-12" scope="col">
                    <div class="slds-truncate title" title="Name">E-MAIL</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="row-style">
                <td class="slds-size_1-of-12">{userInfo.company}</td>
                <td class="slds-size_1-of-12">{userInfo.companyPhone}</td>
                <td class="slds-size_2-of-12">{userInfo.companyAddressText}</td>
                <td class="slds-size_2-of-12">{userInfo.removalAddressText}</td>
                <td class="slds-size_3-of-12">{userInfo.name}</td>
                <td class="slds-size_1-of-12">{userInfo.phone}</td>
                <td class="slds-size_2-of-12">{userInfo.email}</td>
            </tr>
        </tbody>
    </table>
    <br/>
    <template if:false={haveCollectThisYear}>
        <span>Le lycée n'est pas intéressé par une collecte en 2022</span>
    </template>
    <template if:true={haveCollectThisYear}>
        <table class="slds-table ">
            <thead class="header">
                <tr class="slds-line-height_reset">
                    <th class="" scope="col" colspan="2">
                        <div class="slds-truncate title" title="Name">ACCESSIBILITÉ DU SITE</div>
                    </th>
                    <th class="" scope="col" colspan="2">
                        <div class="slds-truncate title" title="COLLECTE">COLLECTE</div>
                    </th>
                    <th class="" scope="col" colspan="2">
                        <div class="slds-truncate title" title="HORAIRES">HORAIRES</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" class="baseline-position">

                        <ul>

                            <li>
                                <lightning-input type="checkbox"  data-type="checkbox" label="Le site est accessible en porteur 19T"
                                name="access19TCheckBox" onchange={handleUserInputChange} value={userInfo.access19TCheckBox} checked={userInfo.access19TCheckBox} disabled></lightning-input>
                            </li>
                            <li>
                                <lightning-input type="checkbox"  data-type="checkbox" label="Le site est accessible en porteur 7T"
                                name="access7TCheckBox" onchange={handleUserInputChange} value={userInfo.access7TCheckBox} checked={userInfo.access7TCheckBox} disabled></lightning-input>
                            </li>
                            <li>
                                <lightning-input type="checkbox"  data-type="checkbox" label="Le site accessible porteur 3.5T"
                                name="access3TCheckBox" onchange={handleUserInputChange} value={userInfo.access3TCheckBox} checked={userInfo.access3TCheckBox} disabled></lightning-input>
                            </li>
                        </ul>
                    </td>
                    <td colspan="2" class="baseline-position">
                        <ul>
                            {collect}
                        </ul>
                    </td>
                    <td colspan="2" class="baseline-position">
                        <template for:each={userInfo.days} for:item="day" for:index="index">
                            <div  key={day.rank}  class="slds-grid slds-gutters box">
                                <div class="slds-col one-third-element">
                                    {day.name}
                                </div>
                                <div class="slds-col one-third-element">
                                    <lightning-input type="checkbox" data-rank={day.rank} data-time={day.morning.morning} data-type="checkbox" label={day.morning.morning}
                                    name={day.name} onchange={handleUserInputChange} checked={day.morning.selected} disabled></lightning-input>
                                </div>
                                <div class="slds-col one-third-element">
                                    <lightning-input type="checkbox"  data-rank={day.rank} data-time={day.afternoon.afternoon} data-type="checkbox" label={day.afternoon.afternoon}
                                    name={day.name} onchange={handleUserInputChange} checked={day.afternoon.selected} disabled></lightning-input>
                                </div>
                            </div>
                        </template>
                    </td>
                </tr>
            </tbody>
        </table>
    </template>

</template>