@font-face {
    font-family: 'fontKarbon-Semibold';
    font-weight: 700;
	src: url('https://seche.my.site.com/questionnairelycee/resource/font_Karbon/Karbon-Semibold.otf');

}
@font-face {
	font-family: 'fontKarbon-Regular';
	src: url('https://seche.my.site.com/questionnairelycee/resource/font_Karbon/Karbon-Regular.otf');
}
:root { --dxp-c-section-columns-max-width: 1170px; }