<template>
    <template if:true={showModal}>
        <div class="modal-popup">
            <div>
                <h2>
                    {popup.title}
                </h2>
                <p>
                    {popup.message}
                </p>
                <div class="slds-grid slds-wrap" style="min-width: 33%;">
                    <div class="slds-size_2-of-6"> 
                        <button class="slds-button slds-button_destructive slds-align_absolute-center" onclick={handleOK}>Oui</button>
                    </div>
                    <div class="slds-size_2-of-6">

                    </div>
                    <div class="slds-size_2-of-6">
                        <button class="slds-button slds-button_brand slds-align_absolute-center" onclick={handleNO}>Non</button>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template if:true={showHover}>
        <div style={modalStyle} data-name="popup" class="slds-popover slds-nubbin_left slds-card slds-card_boundary modal">
            <div class="slds-grid slds-page-header" style="padding: 1rem;">
                <header class="slds-media slds-media--center slds-has-flexi-truncate">
                    <div class="slds-media__figure stencil slds-avatar slds-avatar_small" aria-hidden="true">
                        <div class="extraSmall" style={objColor}>
                            <img src={objIcon} class="icon " alt="" title="">
                        </div>
                    </div>
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title" id="header_5:368;a">
                            <span class="slds-truncate slds-m-right--xx-small" title="Produit">{product.Name}</span>
                        </h2>
                    </div>
                </header>
            </div>
            <div style="padding: 1rem;">
                <div>
                    <span class="title">Code ADR : </span>
                    <span class="value">  {product.ADR__c}</span>
                </div>
                <div>
                    <span class="title">CAP : </span>
                    <span class="value">  {product.N_CAP__c}</span>
                </div>
            </div>
        </div>
    </template>
    <div class="slds-card slds-card_boundary no_margin">

        <template if:true={wait}>
            <div>
                <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
            </div>
        </template>

        <template if:false={wait}>
            <div class="slds-page-header fix-standard sticky" style="z-index: 3; padding: 1rem;">
                <header class="slds-media slds-media--center slds-has-flexi-truncate">
                    <div class="slds-media__figure stencil slds-avatar slds-avatar_small" aria-hidden="true">
                        <div class="extraSmall" style={objColorWCRI}>
                            <img src={objIconWCRI} class="icon " alt="" title="">
                        </div>
                    </div>
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title" id="header_6:368;a">
                            Déchets à Collecter
                        </h2>
                    </div>
                    <div class="neumorphism-toggle slds-card_boundary">
                        <input type="checkbox" id="neumorphism" onchange={handleToggle} disabled={disableInput} checked={toggleSpecial}>
                        <label for="neumorphism">
                            <div class="switch">
                                <div class="dot"></div>
                            </div>
                            <span>Besoin de prestations diverses / hors marché</span>
                        </label>
                    </div>
                    <template if:false={disableSave}>
                        <div class="slds-grid slds-wrap">
                            <button class="slds-button slds-button_brand slds-align_absolute-center" onclick={handleSave} disabled={disableInput}>Tout enregister</button>
                        </div>
                    </template>
                </header>
            </div>
            <template if:true={showWastes}>
                <div style="overflow: unset;">
                    <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                        <thead>
                            <tr class="slds-line-height_reset">
                                <th class="" scope="col">
                                    <div class="slds-truncate" title="Nom">Nom</div>
                                </th>
                                <th class="" scope="col">
                                    <div class="slds-truncate" title="Produit">Produit</div>
                                </th>
                                <th class="" scope="col">
                                    <div class="slds-truncate" title="Quantité">Quantité</div>
                                </th>
                                <th class="" scope="col">
                                    <div class="slds-truncate" title="Conditionnement">Conditionnement</div>
                                </th>
                                <th class="" scope="col">
                                    <div class="slds-truncate" tabindex="-1" title="Besoin de Contenants">Contenants supplémentaires</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <template for:each={listWastes} for:item="ddeItem">
                                <tr key={ddeItem.Id} class="slds-hint-parent">
                                    <th data-label="Nom" scope="row">
                                        <div class="slds-truncate" title={ddeItem.Name}>
                                            {ddeItem.Name}
                                        </div>
                                    </th>
                                    <td data-label="Produit">
                                        <div class="slds-truncate" title={ddeItem.Product__r.Name}>
                                            <a href="#" title="" data-index={ddeItem.index} onmouseenter={handleOnOver} onmouseout={handleMouseOut}>{ddeItem.Product__r.Name}</a>
                                        </div>
                                    </td>
                                    <td data-label="Quantité">
                                        <input type="number" name="Quantite__c" onkeypress={checkNum} data-id={ddeItem.Id} class="slds-input min-width" disabled={disableInput} value={ddeItem.Quantite__c} onchange={handleInput}>
                                    </td>
                                    <td data-label="Conditionnement">
                                        <div>
                                        <lightning-combobox autocomplete="off"
                                            name="Container__c"
                                            data-id={ddeItem.Id}
                                            variant="label-hidden"
                                            dropdown-alignment="auto"
                                            options={packaging}
                                            onchange={handleChangeCBB}
                                            placeholder="- Sélectionner -" 
                                            disabled={disableInput}
                                            value={ddeItem.Packaging__c}>
                                        </lightning-combobox>
                                    </div>
                                        <!-- <input type="number" name="weight" data-id={ddeItem.Id} class="slds-input min-width" value={ddeItem.Container__c} onchange={handleInput}> -->
                                    </td>
                                    <td data-label="Besoin de Contenants">
                                        <input type="number" name="ContainerNumber__c" pattern="[0-9]+" onkeypress={checkNum} data-id={ddeItem.Id} class="slds-input min-width" value={ddeItem.ContainerNumber__c} disabled={ddeItem.containerInputDisabled} onchange={handleInput}>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </template>

            <template if:true={toggleSpecial}>
                <div class="slds-page-header fix-out-market sticky-spec" data-id="special" style="padding: 1rem;">
                    <header class="slds-media slds-media--center slds-has-flexi-truncate">
                        <div class="slds-media__figure stencil slds-avatar slds-avatar_small" aria-hidden="true">
                            <div class="extraSmall" style={objColorWCRI}>
                                <img src={objIconWCRI} class="icon " alt="" title="">
                            </div>
                        </div>
                        <div class="slds-media__body">
                            <h2 class="slds-card__header-title">
                                Besoin de prestations diverses / hors marché
                            </h2>
                        </div>
                        <div class="slds-grid slds-wrap" style="min-width: 33%;">
                            <div class="slds-size_3-of-6"> 
                                <button class="slds-button slds-button_neutral slds-align_absolute-center" disabled={disableInput} onclick={handleAddItem}>Ajouter une ligne</button>
                            </div>
                            <div class="slds-size_3-of-6">
                                <button class="slds-button slds-button_destructive slds-align_absolute-center" disabled={disableInput} onclick={handleDeleteAll}>Tout supprimer</button>
                            </div>
                        </div>
                    </header>
                </div>
                <div style="overflow: unset;">
                    <table class="slds-table slds-table_cell-buffer spec slds-table_bordered">
                        <thead>
                            <tr class="slds-line-height_reset">
                                <th class="" scope="col">
                                    <div class="slds-truncate" title="ADR">CAP</div>
                                </th>
                                <th class="" scope="col">
                                    <div class="slds-truncate" title="Nom du produit">Nom du produit</div>
                                </th>
                                <th class="" scope="col">
                                    <div class="slds-truncate" title="Nom du produit">ADR</div>
                                </th>
                                <th class="" scope="col">
                                    <div class="slds-truncate" title="Quantité">Quantité</div>
                                </th>
                                <th class="" scope="col">
                                    <div class="slds-truncate" title="Conditionnement">Conditionnement</div>
                                </th>
                                <th class="" scope="col">
                                    <div class="slds-truncate" tabindex="-1" title="Besoin de Contenants">Contenants supplémentaires</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <template for:each={productSpecial} for:item="ddeItem">
                                <tr key={ddeItem.index} data-id={ddeItem.Id} class="slds-hint-parent">
                                    <th data-label="CAP" scope="row">
                                        <input type="text" name="CAP__c" disabled={disableInput}  data-id={ddeItem.index} class="slds-input min-width" value={ddeItem.CAP__c} onchange={handleInputSpec}>
                                    </th>
                                    <td data-label="Nom du produit">
                                        <input type="text" name="ProductName__c" disabled={disableInput}  data-id={ddeItem.index} class="slds-input min-width" value={ddeItem.ProductName__c} onchange={handleInputSpec}>
                                    </td>
                                    <td data-label="ADR">
                                        <input type="text" name="ADR__c" disabled={disableInput}  data-id={ddeItem.index} class="slds-input min-width" value={ddeItem.ADR__c} onchange={handleInputSpec}>
                                    </td>
                                    <td data-label="Quantité">
                                        <input type="number"  onkeypress={checkNum} name="Quantite__c" disabled={disableInput}  data-id={ddeItem.index} class="slds-input min-width" value={ddeItem.Quantite__c} onchange={handleInputSpec}>
                                    </td>
                                    <td data-label="Conditionnement">
                                        <div>
                                        <lightning-combobox 
                                            autocomplete="off"
                                            name="Packaging__c"
                                            data-id={ddeItem.index}
                                            variant="label-hidden"
                                            dropdown-alignment="auto"
                                            options={packaging}
                                            onchange={handleInputSpec}
                                            placeholder="- Sélectionner -" 
                                            disabled={disableInput} 
                                            value={ddeItem.Packaging__c}>
                                        </lightning-combobox>
                                    </div>
                                        <!-- <input type="number" name="weight" data-id={ddeItem.Id} class="slds-input min-width" value={ddeItem.Container__c} onchange={handleInput}> -->
                                    </td>
                                    <td data-label="Besoin de Contenants">
                                        <input type="number"  onkeypress={checkNum} name="ContainerNumber__c" disabled={ddeItem.containerInputDisabled}  data-id={ddeItem.index} class="slds-input min-width" value={ddeItem.ContainerNumber__c} onchange={handleInputSpec}>
                                    </td>
                                    <template if:false={hasOnlyOne}>   
                                        <td data-label="Besoin de Contenants">
                                            <lightning-button-icon icon-name="utility:delete" disabled={disableInput}  data-id={ddeItem.index}  alternative-text="Supprimer"  onclick={handleDelete} class="slds-m-left_xx-small" title="Delete"></lightning-button-icon>
                                        </td>
                                    </template>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </template>

            <!-- <div style="padding: 1rem;">
                <div class="slds-grid slds-wrap">
                    <div style="margin-left: auto;">
                        <button class="slds-button slds-button_brand slds-align_absolute-center" onclick={handleSave} disabled={disableSave}>Tout enregister</button>
                    </div>
                </div>
            </div> -->
        </template>
        <!--<template if:false={showWastes}>
            <div class="exampleHolder">
                <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
            </div>
        </template>-->
    </div>
</template>