/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no_margin {
    margin: unset !important;
}

.min-width {
    min-width: 50px !important;
}

.modal {
    z-index: 10 !important;
    position: fixed !important;
    visibility: hidden;
    transition: visibility 300ms ease;
}

.title {
    font-family: 'fontKarbon-SemiBold';
}

.value {
    font-family: 'fontKarbon-Medium';
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.neumorphism{
    display: block !;
}

.neumorphism-toggle {
    transform: scale(0.9);
    width: fit-content;
    margin: 0px !important;
    float: right;
    position: relative;
  }
  .neumorphism-toggle input {
    display: none;
  }
  .neumorphism-toggle input + label {
    background: transparent;
    border-radius: 9px;
    padding: 10px;
    min-width: 208px;
    display: block;
    cursor: pointer;
    position: relative;
    display: block !important;
    user-select: none;
    /*box-shadow: -12px -12px 24px var(--light-shadow, transparent), 12px 12px 24px var(--shadow, transparent);*/
  }
  .neumorphism-toggle input + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    /*background: linear-gradient(160deg, #F1F4FF, #F9FAFF);*/
    opacity: var(--gradient, 0);
    transition: opacity 0.4s;
  }
  .neumorphism-toggle input + label .switch {
    position: relative;
    display: inline-block;
    z-index: 1;
    vertical-align: top;
    height: 22px;
    width: 40px;
    border-radius: 11px;
    background: #ECEFFC;
  }
  .neumorphism-toggle input + label .switch:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: linear-gradient(90deg, #4F97FF, #275EFE);
    opacity: var(--gradient, 0);
    transition: opacity 0.4s;
  }
  .neumorphism-toggle input + label .switch .dot {
    background: #D1D6EE;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    left: -1px;
    top: -1px;
    transform: translateX(var(--offset, 0));
    transition: transform 0.4s, box-shadow 0.4s;
    box-shadow: -4px -4px 8px var(--light-shadow-2, transparent), 4px 4px 8px var(--shadow, transparent);
  }
  .neumorphism-toggle input + label .switch .dot:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: linear-gradient(160deg, #F1F4FF, #F9FAFF);
    opacity: var(--gradient, 0);
    transition: opacity 0.4s;
  }
  .neumorphism-toggle input + label span {
    line-height: 22px;
    font-size: 16px;
    color: var(--text, #646B8C);
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    position: relative;
    margin-left: 12px;
    transition: color 0.4s;
  }
  .neumorphism-toggle input + label + span {
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    opacity: 0;
    font-size: 12px;
    font-weight: 500;
    color: #A6ACCD;
    transform: translateY(4px);
    transition: opacity 0.4s, transform 0.4s;
  }
  /*.neumorphism-toggle input:not(:checked) + label {
    pointer-events: none;
  }
  .neumorphism-toggle input:not(:checked) + label + span {
    opacity: 1;
    transform: translateY(12px);
  }*/
  .neumorphism-toggle input:checked + label {
    --offset: 18px;
    --text: #404660;
    --gradient: 1;
    /*--shadow: rgba(0, 6, 39, .1);
    --light-shadow: rgba(255, 255, 255, .8);
    --light-shadow-2: rgba(255, 255, 255, .1);*/
  }

  .modal-popup {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    visibility: visible !important;
    position: fixed;
    z-index: 10;
  }

 .modal-popup > div {
    min-width: fit-content;
    padding: 15px;
    border-radius: 10px;
    background: #fff;
    color: #000;
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.sticky {
  position: sticky;
  top: 0;
}

.sticky-spec {
  position: sticky;
  top: 76px;
}