.overlay {
    width: 100%;
    height: 100vh;
    /* opacity: .75; */
    opacity: .5;
    inset: 0 0 0 0;
    position: absolute;
    /* background-image: linear-gradient(45deg, #087291, #22c67b); */ /* Replace with your desired gradient */
    background-image: linear-gradient(45deg, #9B5B5E, #47292A); /* Replace with your desired gradient */
    animation: overlayAnimation 5s infinite; /* Adjust the animation duration as needed */
    background-size: 400% 400%; /* Increase the size to accommodate the animation */
}

.main {
    /* background-size: cover; */
    position: absolute;
    width: 100%;
    height: 100vh;
    inset: 0 0 0 0;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.language {
    align-self: end;
}

.language-selector-container {
    display: flex;
    width: 500px;
    top: 250px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    opacity: 0;
    z-index: 0;
    transition-property: top, opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}

.language-selector {
    align-self: flex-end;
    width: fit-content;
    background: white;
    border-radius: 10px;
    padding: 0px 0px 40px 0px;
    display: flex;
    flex-direction: row;
}

button.btn-language {
    font-family: 'fontKarbon-Medium';
    border: 1px solid transparent;
    cursor: pointer;
    padding: 10px;
    background: transparent;    
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

button.btn-language > img {
    height: 25px;
}

button.btn-language:hover {
    border-radius: 10px;
    background: #ececec;
}
  
/* Create the animation keyframes */
@keyframes overlayAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.main-logo > img {
    height: 140px;
    -webkit-animation:magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
    -moz-animation:magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
    animation:magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
}

@-moz-keyframes magic { 
    0% {
        visibility: 1;
        transform: scale(1);
    }

    50% {
        visibility: 0;
        transform: scale(1.5);
    }

    100% {
        visibility: 1;
        transform: scale(1);
    }
}
@-webkit-keyframes magic { 
    0% {
        visibility: 1;
        transform: scale(1);
    }

    50% {
        visibility: 0;
        transform: scale(1.5);
    }

    100% {
        visibility: 1;
        transform: scale(1);
    }
}
@keyframes magic { 
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.header {
    display: flex;
}

.header > img {
    transform: scale(0.7);
    height:70px;
}

.header-title {
    margin: 0 auto;
    border-radius: 10px;
    width: fit-content;
    padding: 5px 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.calendar {
    background: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.calendar-bottom {
    font-family: 'fontKarbon-Medium';
    font-size: 15px;
    color: white;
    background: #ff7f7f;
    padding: 0px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.calendar-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'fontKarbon-Stencilbold';
    font-size: 40px;
    height: 40px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.warning, .error {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
}

.warning > img, .error > img {
    height: 45px;
}

.warning-text {
    padding: 5px 15px;
    background: #fde3a7;
    border-radius: 5px;
    color: #900103 !important;
}

.error-text {
    font-size: 18px;
    padding: 5px 15px;
    background: #ffe4e4;
    border-radius: 5px;
    color: #F44336 !important;
}

/* For WebKit-based browsers */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Background color of the track */
    border-radius: 5px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background-color: #b8b8b8; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the thumb */ 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* Color of the scrollbar thumb on hover */
}

.form-holder {
    overflow-y: scroll;
    max-height: 350px;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    transition-property: height;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
    z-index: 1;
}

.boldtext {
    color: black;
    font-family: "fontKarbon-Semibold";
    font-size: 23px;
    text-align: center;
}

.container {
    text-align:center;
}

.column {
    display: flex !important;
    flex-direction: column !important;
}

.block {
    display: block;
    width: 100%;
    clear: both;

}

.hidden {
    display: none;
}

div {
    color: black;
}

.errorMessage {
    color: red;
    font-weight:bold;
}

/* .border {
    margin-right: 20%;
    margin-left: 20%;
} */

.marginTitle {
    margin-top: 2%;
    margin-bottom: 2%;
}

.footer {
    position: absolute;
    display: flex;
    bottom: 0px;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.line {
    border-bottom: 5px solid #1e4477;
}

.textInput {
    color: black;
}

.img {
    height: 30px;
}

.successMessage {
    color: black;
    font-weight: bold;
    padding-bottom: 20px;
}

.title-success {
    font-weight: bolder;
    color: #1DBC60;
}

.svg-success {
    fill: #1DBC60;
}

/* Original CSS code */

/* ... (your original CSS code) ... */

/* Updated CSS code with responsive modifications */

@media (max-height: 726px) {
    .language-selector-container {
        top: 50px;
    }

    .language-selector {
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    .borderPhone {
        margin-right: -16%;
        margin-left: -16%;
    }
    .borderTablet,
    .borderDesktop {
        /* Reset margins for larger devices */
        margin-right: 0;
        margin-left: 0;
    }

    .form {
        width: 100%;
        border-radius: unset;
    }

    .language-selector-container {
        width: auto;
    }

    .form-holder {
        max-height: 250px;
    }

    .img {
        height: auto;
    }

    .header {
        flex-direction: column; 
        text-align: center;
    }

    .header-title {       
        margin-bottom: unset;
    }

    .header > img {
        transform: scale(0.5);
        height: unset;
    }

    .marginTitle {
        /* Adjust margins for smaller screens */
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .footer {
        width: 100%;
    }

    .textInput {
        /* Increase font size for better readability on mobile */
        font-size: 16px;
    }
}

/* Tablet devices (min-width: 481px) and (max-width: 1024px) */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .borderTablet {
        margin-right: 7%;
        margin-left: 7%;
    }
    .borderPhone,
    .borderDesktop {
        /* Reset margins for other device sizes */
        margin-right: 0;
        margin-left: 0;
    }

    .form {
        /* Adjust form width for better fit on tablets */
        width: 550px;
    }

    .marginTitle {
        /* Adjust margins for tablet screens */
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .textInput {
        /* Adjust font size for tablets */
        font-size: 18px;
    }
    
    .footer {
        width: 75%;
    }
}

/* Desktop devices (min-width: 1025px) */
@media screen and (min-width: 1025px) {
    .borderDesktop {
        margin-right: 20%;
        margin-left: 20%;
    }

    .borderPhone,
    .borderTablet {
        /* Reset margins for other device sizes */
        margin-right: 0;
        margin-left: 0;
    }

    .marginTitle {
        /* Adjust margins for larger screens */
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .textInput {
        /* Adjust font size for larger screens */
        font-size: 20px;
    }

    /* .main {
        background-size: 120%;
    } */

    .footer {
        width: 75%;
    }
}

/* svg */
.st0{fill:#F9B233;}
.st1{fill:none;stroke:#1A3D74;stroke-width:1.8381;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st2{fill:#3C4656;stroke:#1A3D74;stroke-width:1.8381;stroke-miterlimit:10;}
.st3{fill:#0096D6;}
.st4{fill:#1A3D74;}
.st5{fill:#E9610B;}
.st6{fill:#D2091E;}
.st7{fill:#FFFFFF;}
.st8{fill:#3376BB;}
.st9{fill:#EC6147;}
.st10{fill:none;stroke:#1A3D74;stroke-width:1.6401;stroke-miterlimit:10;}
.st11{fill:none;stroke:#1A3D74;stroke-width:1.6401;stroke-linecap:round;stroke-miterlimit:10;}
.st12{fill:none;stroke:#1A3D74;stroke-width:1.6401;stroke-linejoin:round;stroke-miterlimit:10;}
.st13{fill:none;stroke:#1A3D74;stroke-width:1.6401;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st14{fill:none;stroke:#1A3D74;stroke-width:1.7605;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st15{fill:none;stroke:#17428C;stroke-width:1.7605;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st16{fill:none;stroke:#1A3D74;stroke-width:1.7605;stroke-miterlimit:10;}
.st17{fill:none;stroke:#1A3D74;stroke-width:1.7605;stroke-linejoin:round;stroke-miterlimit:10;}
.st18{fill:none;}
.st19{fill:#1D436F;}
.st20{fill:none;stroke:#1A3D74;stroke-width:1.8381;stroke-miterlimit:10;}
.st21{fill:none;stroke:#1A3D74;stroke-width:1.8381;stroke-linecap:round;stroke-miterlimit:10;}
.st22{fill:#F9B233;stroke:#1A3D74;stroke-width:1.7493;stroke-miterlimit:10;}
.st23{fill:none;stroke:#1A3D74;stroke-width:1.7493;stroke-miterlimit:10;}
.st24{fill:#17428C;stroke:#1A3D74;stroke-width:1.7493;stroke-miterlimit:10;}
.st25{fill:none;stroke:#1A3D74;stroke-width:1.8381;stroke-linejoin:round;stroke-miterlimit:10;}
.st26{fill:#85B727;stroke:#1A3D74;stroke-width:1.8381;stroke-miterlimit:10;}
.st27{fill:none;stroke:#1A3D74;stroke-width:1.8381;stroke-linecap:round;stroke-linejoin:round;}
.st28{fill:none;stroke:#1A3D74;stroke-width:1.8247;stroke-miterlimit:10;}
.st29{fill:none;stroke:#1A3D74;stroke-width:1.8247;stroke-linecap:round;stroke-miterlimit:10;}
.st30{fill:none;stroke:#1A3D74;stroke-width:1.8247;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st31{fill:#E9610B;stroke:#1A3D74;stroke-width:1.9081;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:10;}
.st32{fill:none;stroke:#1A3D74;stroke-width:1.9081;stroke-miterlimit:10;}
.st33{fill:none;stroke:#1A3D74;stroke-width:1.9081;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:10;}
.st34{fill:#FFFFFF;stroke:#1A3D74;stroke-width:1.9081;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:10;}
.st35{fill:#F9B000;}
.st36{fill:#E9610B;stroke:#1A3D74;stroke-width:1.954;stroke-miterlimit:10;}
.st37{fill:none;stroke:#1A3D74;stroke-width:1.954;stroke-miterlimit:10;}
.st38{fill:none;stroke:#1A3D74;stroke-width:1.954;stroke-linecap:round;stroke-miterlimit:10;}
.st39{fill:none;stroke:#1A3D74;stroke-width:1.5005;stroke-linejoin:round;stroke-miterlimit:10;}
.st40{fill:none;stroke:#17428C;stroke-width:1.7493;stroke-miterlimit:10;}
.st41{fill:#D2091E;stroke:#17428C;stroke-width:1.7493;stroke-miterlimit:10;}
.st42{font-family:'Karbon-Bold';}
.st43{font-size:10.481px;}
.st44{fill:none;stroke:#1A3D74;stroke-width:1.3434;stroke-linecap:round;stroke-miterlimit:10;}
.st45{fill:#3C4656;stroke:#1A3D74;stroke-width:1.6405;stroke-miterlimit:10;}
.st46{fill:none;stroke:#1A3D74;stroke-width:1.6405;stroke-miterlimit:10;}
.st47{fill:none;stroke:#1A3D74;stroke-width:1.6405;stroke-linejoin:round;stroke-miterlimit:10;}
.st48{fill:none;stroke:#1A3D74;stroke-width:1.6578;stroke-miterlimit:10;}
.st49{fill:none;stroke:#1A3D74;stroke-width:1.6578;stroke-linejoin:round;stroke-miterlimit:10;}
.st50{fill:none;stroke:#1A3D74;stroke-width:1.6578;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st51{fill:#0096D6;stroke:#1A3D74;stroke-width:1.8751;stroke-linejoin:round;stroke-miterlimit:10;}
.st52{fill:none;stroke:#1A3D74;stroke-width:1.8751;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st53{fill:#3C4656;stroke:#1A3D74;stroke-width:1.8751;stroke-miterlimit:10;}
.st54{fill:none;stroke:#1A3D74;stroke-width:1.8751;stroke-linecap:round;stroke-linejoin:round;}
.st55{fill:none;stroke:#1A3D74;stroke-width:1.8751;stroke-linejoin:round;}
.st56{fill:#D4121E;stroke:#1A3D74;stroke-width:1.8751;stroke-linejoin:round;stroke-miterlimit:10;}
.st57{fill:#E9610B;stroke:#1A3D74;stroke-width:1.4489;stroke-miterlimit:10;}
.st58{fill:none;stroke:#1A3D74;stroke-width:1.3486;stroke-linejoin:round;stroke-miterlimit:10;}
.st59{fill:#E9610B;stroke:#1A3D74;stroke-width:1.3486;stroke-linejoin:round;stroke-miterlimit:10;}
.st60{fill:#85B727;stroke:#1A3D74;stroke-width:1.7493;stroke-miterlimit:10;}
.st61{fill:#85B727;stroke:#1A3D74;stroke-width:1.5402;stroke-linejoin:round;stroke-miterlimit:10;}
.st62{fill:none;stroke:#1A3D74;stroke-width:1.5402;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st63{fill:#F9B000;stroke:#1A3D74;stroke-width:1.5402;stroke-linejoin:round;stroke-miterlimit:10;}
.st64{fill:#D4121E;stroke:#1A3D74;stroke-width:1.5402;stroke-linejoin:round;stroke-miterlimit:10;}
.st65{fill:none;stroke:#1A3D74;stroke-width:1.5402;stroke-linejoin:round;stroke-miterlimit:10;}
.st66{fill:#0096D6;stroke:#1A3D74;stroke-width:1.796;stroke-linecap:round;stroke-linejoin:round;}
.st67{fill:none;stroke:#1A3D74;stroke-width:1.796;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st68{fill:none;stroke:#1A3D74;stroke-width:1.796;stroke-linejoin:round;stroke-miterlimit:10;}
.st69{fill:none;stroke:#1A3D74;stroke-width:1.796;stroke-linecap:round;stroke-miterlimit:10;}
.st70{fill:none;stroke:#1A3D74;stroke-width:1.796;stroke-miterlimit:10;}
.st71{fill:none;stroke:#1A3D74;stroke-width:1.6618;stroke-linejoin:round;stroke-miterlimit:10;}
.st72{fill:#85B727;stroke:#1A3D74;stroke-width:1.6618;stroke-linecap:round;}
.st73{fill:#0096D6;stroke:#1A3D74;stroke-width:1.6618;stroke-linecap:round;}
.st74{fill:none;stroke:#1A3D74;stroke-width:1.6618;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st75{fill:#E9610B;stroke:#1A3D74;stroke-width:1.6618;stroke-linejoin:round;stroke-miterlimit:10;}
.st76{fill:#F9B000;stroke:#1A3D74;stroke-width:1.6618;stroke-linejoin:round;stroke-miterlimit:10;}
.st77{fill:#85B727;stroke:#1A3D74;stroke-width:1.6618;stroke-linejoin:round;stroke-miterlimit:10;}
.st78{fill:#E9610B;stroke:#1A3D74;stroke-width:1.9043;stroke-linecap:round;stroke-miterlimit:10;}
.st79{fill:#F9B000;stroke:#1A3D74;stroke-width:1.9043;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st80{fill:none;stroke:#1A3D74;stroke-width:1.9043;stroke-linecap:round;stroke-miterlimit:10;}
.st81{fill:#85B727;stroke:#1A3D74;stroke-width:1.9043;stroke-linecap:round;stroke-miterlimit:10;}
.st82{fill:#E9610B;stroke:#1A3D74;stroke-width:1.9043;stroke-linejoin:round;stroke-miterlimit:10;}
.st83{fill:none;stroke:#1A3D74;stroke-width:1.9043;stroke-linejoin:round;stroke-miterlimit:10;}
.st84{fill:#0096D6;stroke:#1A3D74;stroke-width:1.7465;stroke-linejoin:round;stroke-miterlimit:10;}
.st85{fill:#FFFFFF;stroke:#1A3D74;stroke-width:1.7465;stroke-linejoin:round;stroke-miterlimit:10;}
.st86{fill:#E9610B;stroke:#1A3D74;stroke-width:1.7465;stroke-linejoin:round;stroke-miterlimit:10;}
.st87{fill:#E9610B;stroke:#1A3D74;stroke-width:1.7846;stroke-linejoin:round;stroke-miterlimit:10;}
.st88{fill:none;stroke:#1A3D74;stroke-width:1.7846;stroke-linecap:round;stroke-miterlimit:10;}
.st89{fill:#E9610B;stroke:#1A3D74;stroke-width:1.7846;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st90{fill:none;stroke:#1A3D74;stroke-width:1.7846;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st91{fill:#85B727;}
.st92{fill:none;stroke:#1A3D74;stroke-width:1.7846;stroke-linejoin:round;stroke-miterlimit:10;}
.st93{fill:#F9B000;stroke:#1A3D74;stroke-width:1.7846;stroke-linejoin:round;stroke-miterlimit:10;}
.st94{fill:#85B727;stroke:#1A3D74;stroke-width:1.5402;stroke-miterlimit:10;}
.st95{fill:#3C4656;stroke:#1A3D74;stroke-width:1.5402;stroke-miterlimit:10;}
.st96{fill:#E9610B;stroke:#1A3D74;stroke-width:1.5402;stroke-miterlimit:10;}
.st97{fill:none;stroke:#1A3D74;stroke-width:1.5402;stroke-miterlimit:10;}
.st98{fill:#D4121E;stroke:#1A3D74;stroke-width:1.5617;stroke-linejoin:round;stroke-miterlimit:10;}
.st99{fill:none;stroke:#1A3D74;stroke-width:1.5617;stroke-linejoin:round;stroke-miterlimit:10;}
.st100{fill:none;stroke:#1A3D74;stroke-width:1.5617;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st101{fill:#17428C;}
.st102{fill:#E9610B;stroke:#1A3D74;stroke-width:1.3434;stroke-linecap:round;stroke-miterlimit:10;}
.st103{fill:#E9610B;stroke:#1A3D74;stroke-width:1.4107;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st104{fill:none;stroke:#1A3D74;stroke-width:1.4107;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st105{fill:#E9610B;stroke:#1A3D74;stroke-width:1.2206;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st106{fill:none;stroke:#1A3D74;stroke-width:0.8867;stroke-linejoin:round;stroke-miterlimit:10;}
.st107{fill:none;stroke:#1A3D74;stroke-width:0.8867;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st108{fill:#0096D6;stroke:#1A3D74;stroke-width:0.8867;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st109{fill:none;stroke:#1A3D74;stroke-width:0.8867;stroke-linejoin:round;}
.st110{fill:#F9B000;stroke:#1A3D74;stroke-width:0.8867;stroke-linecap:round;stroke-linejoin:round;}
.st111{fill:none;stroke:#1A3D74;stroke-width:0.8867;stroke-linecap:round;stroke-linejoin:round;}
.st112{fill:#85B727;stroke:#1A3D74;stroke-width:1.5432;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st113{fill:none;stroke:#1A3D74;stroke-width:1.5432;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st114{fill:none;stroke:#1A3D74;stroke-width:1.5432;stroke-miterlimit:10;}