<!--
  @description       : 
  @author            : MAIT - @moidriss
  @group             : 
  @last modified on  : 08-09-2023
  @last modified by  : MAIT - @moidriss
-->
<template>
    <div class='main' style={mainStyle}>

        <div class="overlay"></div>

        <div>
            <div class="language-selector-container">
                <div class="language-selector">
                    <button data-lang="fr" class="btn-language" onclick={changeLang}>
                        <img src={france_flag_img} class="language-flag">
                        Français
                    </button>
                    <button data-lang="en_US" class="btn-language" onclick={changeLang}>
                        <img src={england_flag_img} class="language-flag">
                        English
                    </button>
                </div>
            </div>
            <div class='form'>
                <div if:true={isLoading} class="slds-text-heading_large boldtext slds-align_absolute-center">
                    <div class="main-logo">
                        <img src={main_logo_img}>
                    </div>
                </div>
                <div id="not-found" if:true={notFound}>
                    <div class="warning">
                        <img src={warning_img}>
                        <div class="warning-text boldtext">
                            {page_not_found}
                        </div>
                    </div>
                </div>
                <div class="form-container" id="form" if:true={found}>
                    <div class="language">
                        <!-- <lightning-button variant="base" label="Langues" title="Langues" icon-name="custom:custom68" class="slds-m-left_x-small"></lightning-button> -->
                        <lightning-button-icon size="large" icon-name="custom:custom68" onclick={displayLanguageSelector}></lightning-button-icon>
                    </div>
                    <div class="header">
                        <div class="header-title">
                            <div class="calendar">
                                <p class="calendar-top">12</p>
                                <p class="calendar-bottom">OCT 23</p>
                            </div>
                            <div class="title">
                                <p class="boldtext" style="height: 23px; color: #900103">{form_title_1}</p>
                                <p class="boldtext" style="height: 23px; color: #900103">{form_title_2}</p>
                            </div>
                        </div>

                        <img src={seche_img}>
                    </div>
                    <div class="warning" if:true={alreadyAnswered}>
                        <img src={warning_img}>
                        <div class="warning-text boldtext">
                            {already_submitted}
                        </div>
                    </div>
                    <div class="form-holder" if:true={showForm}>
                        <lightning-record-view-form record-id={recordId} object-api-name="Contacts_Invitation__c" onload={handleLoadOutputForm}>
                            
                            <!-- <div if:true={loading} class="slds-text-heading_large boldtext slds-align_absolute-center">
                                <lightning-spinner style="background: transparent;" alternative-text="Loading" size="medium"></lightning-spinner>
                            </div> -->

                            <div class="slds-m-around_large">
                                <lightning-output-field field-name="LastName__c" class="textInput"></lightning-output-field>
                                <lightning-output-field field-name="FirstName__c" class="textInput"></lightning-output-field>
                                <lightning-output-field field-name="Email__c" class="textInput"></lightning-output-field>
                            </div>
                        </lightning-record-view-form>
                        <lightning-record-edit-form class="create" object-api-name="Contacts_Invitation__c" onload={handleLoadInputForm} onsubmit={handleSubmit} onsuccess={handleSuccess} onerror={handleError}>
                            <div class="slds-m-around_large">
                                <lightning-input-field field-name="InviteeEventValidation__c" class="textInput" onchange={handleInvitee} required="true"></lightning-input-field>
                                <lightning-input-field field-name="TECH_ToDelete__c" class="hidden" onchange={handleInvitee}></lightning-input-field>
                                <lightning-input-field field-name="GUID__c" class="hidden" onchange={handleInvitee}></lightning-input-field>
                                <div if:true={displayCompanions}>
                                    <lightning-input-field field-name="NumberOfCompanions__c" class="textInput"></lightning-input-field>
                                </div>
                            </div>
                            <div class="slds-align_absolute-center slds-p-around_large container">
                                <div class = "block">
                                    <lightning-button
                                        type="submit"
                                        name="btn"
                                        label={send_form}
                                        class="textInputOrange">
                                    </lightning-button>
                                </div>
                            </div>
                        </lightning-record-edit-form>
                    </div>
                    <div style="display: flex;
                                flex-direction: column;"
                        class="slds-text-heading_medium successMessage slds-align_absolute-center" if:true={success}>
                        <div  style="display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    gap: 10px;">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 1024 1024">
                                    <path class="svg-success" d="M512 64a448 448 0 1 1 0 896 448 448 0 0 1 0-896zm-55.808 536.384-99.52-99.584a38.4 38.4 0 1 0-54.336 54.336l126.72 126.72a38.272 38.272 0 0 0 54.336 0l262.4-262.464a38.4 38.4 0 1 0-54.272-54.336L456.192 600.384z"/></svg>
                            </div>
                            <div class="title-success">{success_msg}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div style="text-align: center;width: 33%; padding: 20px">
                    <a class="nav-link" href="https://www.groupe-seche.com/fr/nos-solutions/urgences-environnementales" target="_blank">
                        <img class="img" src={brand_white_img}>
                    </a>
                </div>
                <div style="width: 33%">
                    <div class="container">
                        <div class="col-lg-12">
                            <!-- <div class="row" style="justify-content: center;">
                                <a href="https://www.linkedin.com/company/seche-environnement/"><i class="fa fa-linkedin-square ml-2" aria-hidden="true"></i></a>
                                <a href="https://www.facebook.com/groupe.seche.environnement/posts/1525790740829065" target="_blank"><i class="fa fa-facebook-square ml-2" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/secheenvironnem?lang=fr" target="_blank"><i class="fa fa-twitter-square ml-2" aria-hidden="true"></i></a>
                            </div> -->
                            <div class="row" style="justify-content: center;">
                                <span text-align="center" style="color: #ffffff;" href="#">&copy; Copyright 2023 Séché Environnement</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 33%">
                    <ul class="nav">
                        <li class="nav-item text-center" style="margin: auto; text-align: center;">
                            <a style="color: white" class="nav-link" href="https://www.groupe-seche.com/fr/mentions-legales">{footer_notice}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</template>