<!-- barcodeScannerContinuous.html -->
<template>
  
    <div class="slds-text-align_center">
      <span class="slds-text-heading_large">Scanner de QR Codes</span>
    </div>
  
    <!-- After barcode are scanned, their values are displayed here: -->
    <!-- <template lwc:if={scannedBarcodes}>
      <div
        class="slds-var-m-vertical_large slds-var-p-vertical_medium 
              slds-text-align_center slds-border_top slds-border_bottom">
        Scanned barcode values are:
        <span class="slds-text-heading_small">{scannedBarcodesAsString}</span>
      </div>
    </template> -->
  
    <!-- Static help text -->
    <div class="slds-text-align_center slds-text-color_weak slds-m-vertical_large">
      Cliquez sur <strong>Commencer à scanner</strong> pour ouvrir le scanner de QR Codes. Positionnez un QR Codes devant la caméra pour le scanner.
  
      <p>Continuez à scanner des codes. Cliquez ✖ quand vous n'avez plus de codes à scanner.</p>
    </div>
  
    <!-- Scan button, always enabled -->
    <div class="slds-align_absolute-center slds-m-vertical_large">
      <lightning-button
        variant="brand"
        class="slds-var-m-left_x-small"
        icon-name="utility:scan"
        label="Commencer à scanner"
        title="Start scanning barcodes, until there are no more barcodes to scan"
        onclick={beginScanning}>
      </lightning-button>
    </div>

    
    
    <!-- Pop-up (fenêtre modale) -->
    <template if:true={showModal}>
      <div class="slds-backdrop slds-backdrop_open"></div>
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
          <header class="slds-modal__header">
            <h2 id="modal-heading-01" class="slds-text-heading_medium">Invitation valide</h2>
          </header>
          <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
            <!-- Contenu de votre pop-up ici -->
            Entrée autorisée
          </div>
          <footer class="slds-modal__footer">
            <button class="slds-button slds-button_neutral" onclick={closeModal}>Fermer</button>
            <!-- Vous pouvez ajouter d'autres boutons ou actions ici -->
          </footer>
        </div>
      </section>
    </template>
    <!-- Fin de la pop-up -->
    
  </template>