<template>
    <div class="tabs">
        <template for:each={sections} for:item="section">
            <div key={section} class="tab">
                <input type="checkbox" id={section.title} name="rd" checked>
                <label class="tab-label" for={section.title}><h2>{section.title}</h2></label>
                <div class="tab-content">
                    <lightning-record-edit-form object-api-name={oApiName} style="width: 100%;">
                        <div class="slds-wrap slds-grid">
                            <template for:each={section.fields} for:item="field">
                                <div key={field} class="slds-col slds-size_6-of-12" style="display: flex; flex-direction: column; padding-right: 10px;" onclick={stopProp}>
                                    <div style="display: inline-flex;">
                                        <template if:true={edit}>
                                            <template if:true={field.required}>
                                                <abbr title="required" class="slds-required">*</abbr>
                                            </template>
                                            <!-- <template if:true={field.lookup}>
                                                <p class="label">
                                                    {field.label}
                                                </p>
                                            </template> -->
                                        </template>
                                        <p class="label">
                                            {field.label}
                                        </p>
                                    </div>
                                    <div class={lineClass} style="display: flex; flex-direction: row;" ondblclick={triggerEdit}>
                                        <template if:false={edit}>
                                            <template if:true={field.lookup}>
                                                {field.nameLookUp}
                                            </template>
                                            <template if:false={field.lookup}>
                                                <p class="no-margin">
                                                    {field.value}
                                                    <!-- <template if:true={field.lookup}>
                                                        <lightning-record-view-form object-api-name="Case" record-id={recordId} style="width: 50px;">
                                                            <lightning-output-field field-name={field.name}></lightning-output-field>
                                                        </lightning-record-view-form>
                                                    </template> -->
                                                </p>
                                            </template>
                                            <lightning-button-icon class="override-icon" variant="bare" style="margin-left: auto;" size="small" icon-name="utility:edit" onclick={triggerEdit}></lightning-button-icon>
                                        </template>
                                        <template if:true={edit}>
                                            <lightning-input-field data-section={section.title} data-lookup=true field-name={field.name} name={field.name} value={field.value} style="width: 100%;" variant="label-hidden" onchange={handleChange} required> </lightning-input-field>
                                            <!-- <template if:true={field.standard}>
                                                <lightning-input data-section={section.title} variant="label-hidden" type={field.type} style="width: 100%;"
                                                                name={field.name} value={field.value} onchange={handleChange}></lightning-input>
                                            </template>
                                            <template if:false={field.standard}>
                                                <template if:true={field.textarea}>
                                                    <lightning-textarea data-section={section.title} variant="label-hidden" style="width: 100%;"
                                                        name={field.name} value={field.value} onchange={handleChange}></lightning-textarea>
                                                </template>
                                                <template if:true={field.picklist}>
                                                    <lightning-combobox data-section={section.title} variant="label-hidden" options={field.options} style="width: 100%;"
                                                        name={field.name} value={field.value} onchange={handleChange}></lightning-combobox>
                                                </template>
                                                <template if:true={field.lookup}>
                                                    <lightning-record-edit-form object-api-name={oApiName} style="width: 100%;">
                                                        <lightning-input-field data-section={section.title} data-lookup=true field-name={field.name} name={field.name} value={field.value} style="width: 100%;" variant="label-hidden" onchange={handleChange} required> </lightning-input-field>
                                                    </lightning-record-edit-form>
                                                </template>
                                            </template> -->
                                        </template>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </lightning-record-edit-form>
                </div>
            </div>
        </template>
        <template if:true={edit}>
            <div class="buttons" style="display: flex;">
                <lightning-button-group style="margin: auto; padding: 20px;">
                    <lightning-button label="Annuler" onclick={handleCancel}></lightning-button>
                    <lightning-button label="Enregistrer" variant="brand" onclick={handleSave}></lightning-button>
                </lightning-button-group>
            </div>
        </template>
    </div>
    <!-- <div class="accordion-menu">
        <ul>
            <template for:each={sections} for:item="section">
                <li key={section}>
                    <input type="checkbox" checked>
                    <i class="arrow"></i>
                    <h2>{section.title}</h2>
                    <div class="content">
                        <div class="slds-wrap slds-grid">
                            <template for:each={section.fields} for:item="field">
                                <div key={field} class="slds-col slds-size_6-of-12" style="display: flex; flex-direction: column; padding-right: 10px;" onclick={stopProp}>
                                    <p class="label">
                                        {field.label}
                                    </p>
                                    <div class={lineClass} style="display: flex; flex-direction: row;">
                                        <template if:false={edit}>
                                            <p class="no-margin">
                                                {field.value}
                                            </p>
                                            <lightning-button-icon class="override-icon" variant="bare" style="margin-left: auto;" size="small" icon-name="utility:edit" onclick={triggerEdit}></lightning-button-icon>
                                        </template>
                                        <template if:true={edit}>
                                            <template if:true={field.standard}>
                                                <lightning-input variant="label-hidden" type={field.type}
                                                                name={field.name} value={field.value} onchange={handleChange}></lightning-input>
                                            </template>
                                            <template if:false={field.standard}>
                                                <template if:true={field.textarea}>
                                                    <lightning-textarea variant="label-hidden"
                                                        name={field.name} value={field.value} onchange={handleChange}></lightning-textarea>
                                                </template>
                                                <template if:true={field.picklist}>
                                                    <lightning-combobox variant="label-hidden" options={field.options}
                                                        name={field.name} value={field.value} onchange={handleChange}></lightning-combobox>
                                                </template>
                                                <template if:true={field.lookup}>
                                                    <lightning-record-edit-form object-api-name={oApiName} >
                                                        <lightning-input-field field-name={field.name} variant="label-hidden" onchange={handleChange} required> </lightning-input-field>
                                                    </lightning-record-edit-form>
                                                </template>
                                            </template>
                                        </template>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </li>
            </template>
        </ul>
    </div> -->
</template>