/* Accordion styles */
.tabs {
    /* border-radius: 1em; */
    overflow: initial;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(255, 255, 255, 0.19); */
}
  
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tabs .tab:not(:first-child) {
    margin-top: 30px;
}

.tab {
    width: 100%;
    overflow: initial;
}
.tab-label {
    background-color: #1e4477;
    border-radius: 1em;
    font-size: 18px;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(255, 255, 255, 0.19);
    transition: all 0.35s;
    z-index: 2;
    /* Icon */
}



.tab-label::after {
    content: '\276F';
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}
.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    width: 96%;
    margin: auto;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(255 255 255 / 19%);
    transition: all 0.35s;
    opacity: 0;
    z-index: -1;
}
.tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: white;
    cursor: pointer;
}
input:checked + .tab-label::after {
    transform: rotate(90deg);
}
input:checked + .tab-label {
    box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.2), 0 6px 2px -2px rgba(255, 255, 255, 0.19);
}
  
input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
    opacity: 1;
    z-index: 1;
}

.label {
    font-size: 12px;
    margin: unset;
    color: grey;
}

.input {
    font-size: 16px;
    width: 100%;
    margin: unset;
    border-bottom: 1px solid #e4e9ed;
}

.no-margin {
    margin: unset;
}

.no-border-top {
    border-top: unset;
}

.no-border-bottom {
    border-bottom: unset;
}