.container-form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .scroller {
      height: 200px;
      overflow: auto;
      padding: var(--lwc-varSpacingXSmall, 8px);
      border: solid var(--lwc-borderWidthThin, 1px) #eee;
  }
  
  .boxs {
    display: flex;
    
    /*place-content: space-between; */
    align-items: flex-end;
    background-color: #ffffff;
    justify-content: space-between;
  }
  
  .hrLine {
    height: 1px;
    background-color: #1e4477;
  }
  
  .selectPicklist {
    width: 236px;
    height: 32px;
    border-radius: 8px;
    border: solid 1px rgba(30, 68, 119, 0.3);
  }
  
  .lgc-title {
    width: 412px;
    height: 23px;   
    font-size: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    font-family: Karbon;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #1e4477;
  }
  
  .waste-add {
    width: 100%;
    height: 16px;    
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1e4477;
  }
  
  .no-add {    
    height: 16px;    
    width: 100%;
    font-size: small;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1e4477;
  }
  
  .cont {
    background-color: transparent !important;
    border: none !important;
  }
  
  .validate {
    background-color: green !important;
  }
  
  .icon {
    width: 29px;
    height: 29px;
    fill: #85b727;
  }
  
  .not-validate {
    fill: #1e4477 !important;
    opacity: 0.3;
  }
  
  .icon-cont {
    width: 32px;
    height: 32px;
    transform: translate(-10px, 1px);
  }
  
  .step {
    font-family: 'fontKarbon-Medium';
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1e4477;
  }
  
  .step-title {
    font-family: 'fontKarbon-Semibold';
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #009bde;
  }
  
  .done {
    opacity: 0.2;
    color: #1e4477;
  }
  
  .cont-done {
    background-color: rgba(30, 68, 119, 0.1) !important;
  }
  
  li {
    border-radius: 0px !important;
  }