<!--
  @description       : 
  @author            : MAIT - @moidriss
  @group             : 
  @last modified on  : 10-09-2023
  @last modified by  : MAIT - @moidriss
-->
<template>
    <div class="path-container">

        <ul class="slds-grid slds-wrap controlled-grip">
            <template for:each={steps} for:item="step">
                <li key={step.name} class={step.class} style={width}>
                    <template lwc:if={step.done}>

                        <div class="icon-cont">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="icon">
                                <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 16.518l-4.5-4.319 1.396-1.435 3.078 2.937 6.105-6.218 1.421 1.409-7.5 7.626z">
                                </path>
                            </svg>
                        </div>

                    </template>

                    <template lwc:else>

                        <div class="icon-cont">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="icon not-validate">
                                <path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 
                                12 12 12 12-5.373 12-12-5.373-12-12-12zm4.393 7.5l-5.643 5.784-2.644-2.506-1.856 1.858 4.5 4.364 7.5-7.643-1.857-1.857z"></path>
                            </svg>
                        </div>

                    </template>

                    <div class="slds-align-middle">
                        <div class={step.nameClass}>{step.name}</div>
                        <div class={step.titleClass}>{step.title}</div>
                    </div>

                </li>
            </template>
        </ul>

    </div>
</template>