.THIS {
}


.THIS .box {
    display: flex;
    flex-wrap: wrap;
  }

.THIS .grow {
  flex-grow: 1;
}

  .THIS .Valide { 
   height: 30px !important;
    background-image: url("/resource/CONTRAT_IconStatus/valide.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    color: transparent;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
 }

 .THIS .Rejete {
  height: 30px !important;
    background-image: url("/resource/CONTRAT_IconStatus/rejete.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    color: transparent;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
 }

 .THIS .Soumis {   
  height: 30px !important; 
    background-image: url("/resource/CONTRAT_IconStatus/soumis.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    color: transparent;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
 }

 .THIS .Brouillon {
   height: 30px !important;
    background-image: url("/resource/CONTRAT_IconStatus/brouillon.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    color: transparent;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
 }

.THIS .div-flex {
  display: flex;
  flex-direction: row;
}