<template>
    <div class="trackDechet">
        <lightning-combobox name="trackDechet" class="label" label="Votre lycée a-t-il un accès à Track Déchet ?" placeholder="Sélectionnez une valeur"
                options={trackDechetOptions} onchange={handleChangeTrackDechet} value={userTD.HasWasteTrackAccess__c} required>
        </lightning-combobox>
        <template if:true={showTrackDechetInfos}>
            <lightning-combobox name="trackDechetUser" class="label" label="Etes-vous l'utilisateur Track Déchet ?" placeholder="Sélectionnez une valeur"
                    options={trackDechetOptions} onchange={handleChangeTrackDechetUser} value={userTD.IsUserWasteTrackUser__c} required disabled={disableUserTD}>
            </lightning-combobox>
            <template if:true={showTrackDechetMoreInfos}>
                <div>
                    <lightning-input type="text" value={userTD.WasteTrackFirstName__c} class="label" data-type="input" label="Prénom" placeholder="Votre Prénom..." required
                                    name="WasteTrackFirstName__c" onchange={handleUserInputChangeTD}></lightning-input>
                    <lightning-input type="text" value={userTD.WasteTrackLastName__c} class="label" data-type="input" label="Nom" placeholder="Votre Nom..." required
                                    name="WasteTrackLastName__c" onchange={handleUserInputChangeTD}></lightning-input>
                    <lightning-input type="email" value={userTD.WasteTrackEmail__c} class="label" data-type="input" label="E-mail Track Déchet" placeholder="E-mail..." required
                                    name="WasteTrackEmail__c" onchange={handleUserInputChangeTD}></lightning-input>
                    <lightning-input type="text" value={userTD.WasteTrackSIRET__c} class="label" data-type="input" label="N° SIRET" placeholder="SIRET..." required
                                    name="WasteTrackSIRET__c" max-length="14" onchange={handleUserInputChangeTD}></lightning-input>
                    <div class="code-input" style="padding-top: 0.25rem;">
                        <label style="font-family:'fontKarbon-Semibold';
                                    color: black;
                                    font-size: 17px;">Code signature Track Déchet</label>
                        <div class="code-input-wrapper">
                            <lightning-input class="pin-input" variant="label-hidden" min="0" max="9" type="number" data-position="0" onkeydown={handlePinCode} onchange={handlePinCodeChange} value={pin_pos0}></lightning-input>
                            <lightning-input class="pin-input" variant="label-hidden" min="0" max="9" type="number" data-position="1" onkeydown={handlePinCode} onchange={handlePinCodeChange} value={pin_pos1}></lightning-input>
                            <lightning-input class="pin-input" variant="label-hidden" min="0" max="9" type="number" data-position="2" onkeydown={handlePinCode} onchange={handlePinCodeChange} value={pin_pos2}></lightning-input>
                            <lightning-input class="pin-input" variant="label-hidden" min="0" max="9" type="number" data-position="3" onkeydown={handlePinCode} onchange={handlePinCodeChange} value={pin_pos3}></lightning-input>
                        </div>
                    </div>
                </div>
            </template>
        </template>
    </div>
</template>