<template>
    <template if:true={addArticle}>
        <article class="slds-card slds-card_boundary">
            <div class="slds-card__header slds-page-header slds-grid" style="margin: unset !important;">
                <header class="slds-media slds-media--center slds-has-flexi-truncate">
                    <div class="slds-media__figure">
                        <lightning-icon icon-name="standard:dataset" size="medium">
                        </lightning-icon>
                    </div>
                    <div class="slds-media__body">
                        <h2 style="font-weight: 600; font-size: 20px;" class="slds-card__header-title">
                            {title}
                        </h2>
                    </div>
                    <template if:false={previewMode}>
                        <div class="slds-no-flex">
                            <lightning-button label={buttonActionName}
                                            name={actionName}
                                            title={actionName}
                                            onclick={handleClick}
                                            class="slds-m-left_x-small"
                                            variant="brand-outline">
                            </lightning-button>
                        </div>
                    </template>
                </header>
            </div>
            <div class="slds-card__body" style="margin-top: unset !important;" onclick={closeAllEdit}>
                <div style="overflow: unset;">
                    <div class="div-table">
                        <div class="div-table-row__header">
                            <template if:true={withSelection}>
                                <div style="width: 5%;
                                    justify-content: center;
                                    display: flex;">
                                    <lightning-input
                                        variant="label-hidden"
                                        name="master"
                                        type="checkbox"
                                        checked={masterChecked}
                                        onchange={handleSelect}>
                                    </lightning-input>
                                </div>
                            </template>
                            <template for:each={clmns} for:item="clmn">
                                <template if:true={clmn.visible}>
                                    <div key={clmn} class="div-table-col__header" style={headerColWidth}>
                                        <div title={clmn.label}>{clmn.label}</div>
                                    </div>
                                </template>
                            </template>
                        </div>
                        <template if:false={usedInPublicCommunity}>
                            <template for:each={processedRecords} for:item="record">
                                <div key={record} data-record-id={record.Id} class="div-table-row" data-id={record.Id}>
                                    <template if:true={withSelection}>
                                        <div style="width: 5%;
                                                    justify-content: center;
                                                    display: flex;">
                                            <lightning-input
                                                variant="label-hidden"
                                                name="single"
                                                data-record-id={record.Id}
                                                type="checkbox"
                                                checked={record.selected}
                                                onchange={handleSelect}>
                                            </lightning-input>
                                        </div>
                                    </template>
                                    <lightning-record-edit-form style="flex-grow: 1;" key={record} object-api-name={record.referenceName}>
                                    <template for:each={record.fields} for:item="field">
                                        <template if:true={field.visible}>
                                            <div class={field.class} style={colWidth} key={field}>
                                                <template if:true={field.edit}>
                                                    <lightning-input-field
                                                        data-record-id={record.Id}
                                                        data-field-name={field.name}
                                                        key={field}
                                                        message-when-value-missing={field.valueMissing}
                                                        field-name={field.name}
                                                        variant="label-hidden"
                                                        value={field.value}
                                                        required={field.required}
                                                        onclick={preventPropagation}
                                                        onchange={handleInlineEdit}>
                                                    </lightning-input-field>
                                                </template>
                                                <template if:false={field.edit}>
                                                    <template if:true={field.editable}>
                                                        <div key={field} class="editable text-wrap" id={record.Id} style="display: flex; flex-wrap: wrap; align-items: center;" title={field.value} ondblclick={editLine}>
                                                            <div style="width: 80%;">
                                                                {field.displayedValue}
                                                            </div>
                                                            <div style="width: 10%;">
                                                                <lightning-icon
                                                                    class="edit-icon"
                                                                    data-record-id={record.Id}
                                                                    icon-name="action:edit"
                                                                    size="x-small"
                                                                    onclick={editLine}>
                                                                ></lightning-icon>
                                                            </div>
                                                        </div>
                                                    </template>
                                                    <template if:false={field.editable}>
                                                        <div key={field} class="text-wrap" title={field.value}>
                                                            {field.displayedValue}
                                                        </div>
                                                    </template>
                                                </template>
                                            </div>
                                        </template>
                                    </template>
                                    </lightning-record-edit-form>
                                </div>
                            </template>
                        </template>
                        <!-- this section where profil is a guest user we cannot use standards -->
                        <template if:true={usedInPublicCommunity}>
                            <template for:each={processedRecords} for:item="record">
                                <div key={record} data-record-id={record.Id} class="slds-hint-parent div-table-row">
                                    <template if:true={withSelection}>
                                        <div style="width: 5%;
                                                    justify-content: center;
                                                    display: flex;">
                                            <lightning-input
                                                variant="label-hidden"
                                                name="single"
                                                data-record-id={record.Id}
                                                type="checkbox"
                                                checked={record.selected}
                                                onchange={handleSelect}>
                                            </lightning-input>
                                        </div>
                                    </template>
                                    <template for:each={record.fields} for:item="field">
                                        <template if:true={field.visible}>
                                            <div class={field.class} style={colWidth} key={key}>
                                                <template if:true={field.edit}>
                                                    <template if:true={field.type}>
                                                        <lightning-input
                                                            key={field}
                                                            data-record-id={record.Id}
                                                            data-field-name={field.name}
                                                            message-when-value-missing={field.valueMissing}
                                                            type={field.type}
                                                            required={field.required}
                                                            value={field.value}
                                                            variant="label-hidden"
                                                            onclick={preventPropagation}
                                                            onchange={handleInlineEdit}>
                                                        </lightning-input>
                                                    </template>
                                                    <template if:true={field.list}>
                                                        <lightning-combobox
                                                            key={field}
                                                            data-record-id={record.Id}
                                                            data-field-name={field.name}
                                                            value={field.value}
                                                            message-when-value-missing={field.valueMissing}
                                                            required={field.required}
                                                            placeholder={picklistPlaceholder}
                                                            options={field.options}
                                                            variant="label-hidden"
                                                            onchange={handleInlineEdit}>
                                                        </lightning-combobox>
                                                    </template>
                                                </template>
                                                <template if:false={field.edit}>
                                                    <template if:true={field.editable}>
                                                        <div key={field} class="editable text-wrap" id={record.Id} style="display: flex; flex-wrap: wrap; align-items: center;" title={field.value} ondblclick={editLine}>
                                                            <div style="width: 80%;">
                                                                {field.displayedValue}
                                                            </div>
                                                            <div style="width: 10%;">
                                                                <lightning-icon
                                                                    class="edit-icon"
                                                                    data-record-id={record.Id}
                                                                    icon-name="action:edit"
                                                                    size="x-small"
                                                                    onclick={editLine}>
                                                                ></lightning-icon>
                                                            </div>
                                                        </div>
                                                    </template>
                                                    <template if:false={field.editable}>
                                                        <div key={field} class="text-wrap" title={field.value}>
                                                            {field.displayedValue}
                                                        </div>
                                                    </template>
                                                </template>
                                            </div>
                                        </template>
                                    </template>
                                </div>
                            </template>
                        </template>
                    </div>
                </div>
            </div>
            <!-- <footer class="slds-card__footer">
                <a class="slds-card__footer-action" href="#">View All
                    <span class="slds-assistive-text">Accounts</span>
                </a>
            </footer> -->
        </article>
    </template>
    <template if:false={addArticle}>
        <div style="overflow: unset;">
            <div class="div-table">
                <div class="div-table-row__header">
                    <template if:true={withSelection}>
                        <div style="width: 5%;
                                    justify-content: center;
                                    display: flex;">
                            <lightning-input
                                variant="label-hidden"
                                name="master"
                                type="checkbox"
                                checked={masterChecked}
                                onchange={handleSelect}>
                            </lightning-input>
                        </div>
                    </template>
                    <template for:each={clmns} for:item="clmn">
                        <template if:true={clmn.visible}>
                            <div key={clmn} class="div-table-col__header" style={headerColWidth}>
                                <div title={clmn.label}>{clmn.label}</div>
                            </div>
                        </template>
                    </template>
                </div>
                <template if:false={usedInPublicCommunity}>
                    <template for:each={processedRecords} for:item="record">
                        <div key={record} data-record-id={record.Id} class="div-table-row">
                            <template if:true={withSelection}>
                                <div style="width: 5%;
                                            justify-content: center;
                                            display: flex;">
                                    <lightning-input
                                        variant="label-hidden"
                                        name="single"
                                        data-record-id={record.Id}
                                        type="checkbox"
                                        checked={record.selected}
                                        onchange={handleSelect}>
                                    </lightning-input>
                                </div>
                            </template>
                            <lightning-record-edit-form style="flex-grow: 1;" key={record} object-api-name={record.referenceName}> 
                                <template for:each={record.fields} for:item="field">
                                    <template if:true={field.visible}>
                                        <div class={field.class} style={colWidth} key={field}>
                                            <template if:true={field.edit}>
                                                <lightning-input-field
                                                    data-record-id={record.Id}
                                                    data-field-name={field.name}
                                                    key={field}
                                                    field-name={field.name}
                                                    message-when-value-missing={field.valueMissing}
                                                    variant="label-hidden"
                                                    value={field.value}
                                                    required={field.required}
                                                    onclick={preventPropagation}
                                                    onchange={handleInlineEdit}>
                                                </lightning-input-field>
                                            </template>
                                            <template if:false={field.edit}>
                                                <template if:true={field.editable}>
                                                    <div key={field} class="editable text-wrap" id={record.Id} style="display: flex; flex-wrap: wrap; align-items: center;" title={field.value} ondblclick={editLine}>
                                                        <div style="width: 80%;">
                                                            {field.displayedValue}
                                                        </div>
                                                        <div style="width: 10%;">
                                                            <lightning-icon
                                                                class="edit-icon"
                                                                data-record-id={record.Id}
                                                                icon-name="action:edit"
                                                                size="x-small"
                                                                onclick={editLine}>
                                                            ></lightning-icon>
                                                        </div>
                                                    </div>
                                                </template>
                                                <template if:false={field.editable}>
                                                    <div key={field} class="text-wrap" title={field.value}>
                                                        {field.displayedValue}
                                                    </div>
                                                </template>
                                            </template>
                                        </div>
                                    </template>
                                </template>
                            </lightning-record-edit-form>
                        </div>
                    </template>
                </template>

                <!-- this section where profil is a guest user we cannot use standards -->
                <template if:true={usedInPublicCommunity}>
                    <template for:each={processedRecords} for:item="record">
                        <div key={record} data-record-id={record.Id} class="slds-hint-parent div-table-row">
                            <template if:true={withSelection}>
                                <div style="width: 5%;
                                            justify-content: center;
                                            display: flex;">
                                    <lightning-input
                                        variant="label-hidden"
                                        name="single"
                                        data-record-id={record.Id}
                                        type="checkbox"
                                        checked={record.selected}
                                        onchange={handleSelect}>
                                    </lightning-input>
                                </div>
                            </template>
                            <template for:each={record.fields} for:item="field">
                                <template if:true={field.visible}>
                                    <div class={field.class} style={colWidth} key={key}>
                                        <template if:true={field.edit}>
                                            <template if:true={field.type}>
                                                <lightning-input
                                                    key={field}
                                                    data-record-id={record.Id}
                                                    data-field-name={field.name}
                                                    type={field.type}
                                                    message-when-value-missing={field.valueMissing}
                                                    required={field.required}
                                                    value={field.value}
                                                    variant="label-hidden"
                                                    onclick={preventPropagation}
                                                    onchange={handleInlineEdit}>
                                                </lightning-input>
                                            </template>
                                            <template if:true={field.list}>
                                                <lightning-combobox
                                                    key={field}
                                                    data-record-id={record.Id}
                                                    data-field-name={field.name}
                                                    value={field.value}
                                                    required={field.required}
                                                    message-when-value-missing={field.valueMissing}
                                                    placeholder={picklistPlaceholder}
                                                    options={field.options}
                                                    variant="label-hidden"
                                                    onchange={handleInlineEdit}>
                                                </lightning-combobox>
                                            </template>
                                        </template>
                                        <template if:false={field.edit}>
                                            <template if:true={field.editable}>
                                                <div key={field} class="editable text-wrap" id={record.Id} style="display: flex; flex-wrap: wrap; align-items: center;" title={field.value} ondblclick={editLine}>
                                                    <div style="width: 80%;">
                                                        {field.displayedValue}
                                                    </div>
                                                    <div style="width: 10%;">
                                                        <lightning-icon
                                                            class="edit-icon"
                                                            data-record-id={record.Id}
                                                            icon-name="action:edit"
                                                            size="x-small"
                                                            onclick={editLine}>
                                                        ></lightning-icon>
                                                    </div>
                                                </div>
                                            </template>
                                            <template if:false={field.editable}>
                                                <div key={field} class="text-wrap" title={field.value}>
                                                    {field.displayedValue}
                                                </div>
                                            </template>
                                        </template>
                                    </div>
                                </template>
                            </template>
                        </div>
                    </template>
                </template>
            </div>
        </div>
    </template>
</template>