.language {
    align-self: end;
}

.language-selector-container {
    position: absolute;
    top: 6.7px;
    left: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    z-index: 10;
    transition-property: top, opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}

.language-selector {
    align-self: flex-end;
    width: fit-content;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

button.btn-language {
    font-family: 'fontKarbon-Medium';
    border: 1px solid transparent;
    cursor: pointer;
    padding: 10px;
    background: transparent;    
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

button.btn-language > img {
    height: 25px;
}

button.btn-language:hover {
    border-radius: 10px;
    background: #ececec;
}