<!--
  @description       : 
  @author            : MAIT - @moidriss
  @group             : 
  @last modified on  : 12-07-2023
  @last modified by  : MAIT - @moidriss
-->
<template>
    <div class="language-selector-container">
        <div class="language-selector">
            <template for:each={languages} for:item="language">
                <button key={language.Language} data-lang={language.DeveloperName} class="btn-language" onclick={changeLang}>
                    <img src={language.Icon} class="language-flag">
                    {language.Label}
                </button>
            </template>
        </div>
    </div>
</template>