:host {
  --background-color: #000;
}

ul {
  pointer-events: none;
}

.custom {
  background-color: var(--background-color) !important;
  background: var(--background-color) !important;
}

.custom > a {
  background: var(--background-color) !important;
}

.custom:after {
  background: var(--background-color) !important;
}

.custom:before {
  background: var(--background-color) !important;
}