<template>
    <!-- <lightning-progress-indicator current-step={currentStep} type="path" variant="base">
        <template for:each={status} for:item="stat">
            <lightning-progress-step key={stat.index} label={stat.label} value={stat.index}></lightning-progress-step>
        </template>
    </lightning-progress-indicator> -->

    <div class="slds-path">
      <div class="slds-grid slds-path__track">
        <div class="slds-grid slds-path__scroller-container">
          <div class="slds-path__scroller">
            <div class="slds-path__scroller_inner">
              <ul class="slds-path__nav" role="listbox" aria-orientation="horizontal">
                <template for:each={status} for:item="stat">
                    <li key={stat.index} class={stat.class} data-index={stat.index} role="presentation">
                      <a aria-selected="false" class="slds-path__link" role="option" tabindex="-1">
                        <span class="slds-path__title">{stat.label}</span>
                      </a>
                    </li>
                </template>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

</template>