.test {
  --sds-c-button-icon-color-background : #009bde;
  --sds-c-file-selector-color-background : #009bde;
}

.upload-button {
  /*--lwc-colorTextPathCurrent : white; */
  --sds-c-button-neutral-color-background: #009bde;
  --sds-c-button-neutral-color-background-hover: transparent;
  --sds-c-button-text-color: white;
  --sds-c-button-radius-border: 25px;
  --sds-c-button-border: 0px;
}

.action-button {
  /*--lwc-colorTextPathCurrent : white; */
  --sds-c-button-color-background: #009bde;
  --sds-c-button-color-text: white;
  --sds-c-button-radius-border: 3px;
  --sds-c-button-border: 0px;
  --sds-c-button-padding: 4px 9px;
  --sds-c-button--icon-x-small-color-text: white;
  --sds-c-button--icon-x-small-color: white;
  --sds-c-button-fill: white;
  --sds-c-button-text-color: white;
  --sds-c-button-text-color-active: white;
  --lwc-brandAccessibleActive: white;
}

h1 {
  color: rgb(0, 112, 210);
}

h2 {
  font-family: var(--lwc-fontFamily,fontKarbon-Regular);
  color: #1e4477;
}

p {
  font-family: var(--lwc-fontFamily,fontKarbon-Regular);
  color: rgb(62, 62, 60);
}
.app {
  background-color: #fafaf9;
  height: 100vh;
  overflow: scroll;
}

.slds-grid--align-center {
justify-content: center;

}

.css-title {font-weight: 100;
  font-size: 12px;
  background-color: #1e4477;
  color: #fff;
  padding-left: 30px;
  line-height: 12px;
}

.page-header{
  font-size: 12px;
  background-color: #1e4477;
  color: #fff;
  padding-right: 46px;
  line-height: 12px;
  align-items: center;

}

.normalstyle{
  font-size: 12px;
  background-color: #fff;
  color: black;
  padding-right: 46px;
  line-height: 12px;
  align-items: center;
  border-bottom: 1px solid #e6eaec;
  width: 91%;
}

.rowItem{
  font-size: 12px;
  background-color: #fff;
  color: black;
  border-bottom: 1px solid #e6eaec;
}

.qtyphotostyle{
  font-size: 12px;
  background-color: #fff;
  color: black;
  line-height: 12px;
  align-items: center;
  border-bottom: 1px solid #e6eaec;
  width: 100%;
}

.peroxydestyle{
  font-size: 12px;
  background-color: #fff;
  color: black;
  line-height: 12px;
  align-items: center;
  border-bottom: 1px solid #e6eaec;
  width: auto;
}

.adjusted-position{
  margin-top: -20px;
}

.features {
  margin: 1px 22px 8px 0;
  font-size: 9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  color: #1e4477;
}


.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}

.th-width {
  width: 250px;
  text-align: center;
}

.th-width-number {
  width: 64px;
  text-align: center;

}

:host .slds-checkbox .slds-checkbox__label .slds-form-element__label {
  display: inline;
  vertical-align: middle;

}

:host .slds-table thead th {
  background-color: #1e4477;
}

/* .no-waste {
  height: 18px;
  margin: 210px 251px 0 250px;
  font-family: var(--lwc-fontFamily,fontKarbon-Regular);
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  color: #a7a7a7;
} */

:host .slds-button_brand, .slds-button--brand {
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  transition: border .15s linear;
  background-color: #009bde;
}

.icon-button {
  width: 30px;
  height: 24px;
  line-height: 200px;
  background-color: #009bde;
  color: white;
  border-radius: 1px;
}

.join-photo-text {
  font-family:'fontKarbon-Semibold';
  font-size: 12px;
  font-weight: 600;
  color: #1e4477;
}

.text-peroxyde {
  margin-top: 10px;
  margin-bottom: -25px;
  padding-left: 17%;
  font-family: 'fontKarbon-Semibold';
  font-size: 12px;
  font-weight: 600;
  color: #1e4477;
  will-change: auto;
}

.row-even-index {
  background-color: white;

}

.row-odd-index {
  background-color: #f6f6f6;

}

.boxs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-around;
  font-size: 13px;
  font-weight: 500;
  color: #1e4477;
}

:host .slds-button_icon-x-small,
.slds-button_icon-x-small:active,
.slds-button_icon-x-small:hover,
.slds-button--icon-x-small,
.slds-button--icon-x-small:active,
.slds-button--icon-x-small:hover {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin: 4px 4px 2px;
  padding: 4px 9px;
  border-radius: 3px;
  background-color: #009bde;
  color: white;
  border: white;
}

:host .slds-button_icon-x-small:active,
.slds-button_icon-x-small:hover,
.slds-button--icon-x-small:active,
.slds-button--icon-x-small:hover {
  background-color: #fff;
  color: #009bde;
  border: #009bde;
}

:host .slds-button_icon-border-filled,
:host .slds-button--icon-border-filled,
:host .slds-button_icon-border,
:host .slds-button--icon-border {
  color: white;
  border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,white);
  border-color: var(--lwc-buttonColorBorder,white);
}

:host {
  /* action-button */
  --lwc-colorTextIconDefault: white;
  --sds-c-button-icon-color: white;
  --sds-c-button-text-color-hover: #1e4477;
  --sds-c-button-text-color-focus:#1e4477;
  --sds-c-button-color-background-hover: #ffffff00;
  --sds-c-button-color-background-focus: #ffffff00;

  /* flèche dropdown conditionnement */
  --sds-c-icon-color-foreground-default: #1e4477;
}

:host .slds-file-selector__button,
.slds-button, .slds-button_neutral {
  display: flex !important;
  align-items: center;
  background-color:  #009bde;
  width: 100% !important;
}

:host .slds-file-selector_files {
  display: flex;
}

.product-name {
  max-width: 250px;
  width: 250px;
  font-size: 13px;
  font-weight: 600;
  color: #1e4477;
}

.input[value=""], .input[value="0"] {
  border: red;
}


.product-description {
  width: 253px;
  height: 36px;
  margin: 2px 0 8px;
  font-size: 9px;
  font-weight: 500;
  color: #1e4477;
}

.label-text-checkbox {
  width: 92px;
  height: 33px;
  margin: 0 0 0 8px;
  font-family: 'fontkarbon-Regular';
  font-size: 10px;
  line-height: 1.1;
  color: #3e3e3c;
}

:host .slds-input[disabled], .slds-input.slds-is-disabled  {
  cursor: not-allowed;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 1.2;
  border-radius: 8px;
  background-color: #b0c4df;
  font-weight: 600;
}

:host .slds-avatar, .slds-m-right_small {
  width: auto;
  max-width: 100%;
  min-width: 30px;
  height: 100%;
}

.conditionnement {
  margin-left: -30px;
  width: 245px;
}

.conditionnement-input{
  width: 200px;
}

.action-box{
  width: 30px;
  margin: 0 auto;
}

.peroxyde-name-input {
  width: 160px;
}

.pero-classification {
  width: 120px;
}
/* .pero-quantity-input .slds-input{
  width: 64px;
} */

/**/

.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div.slds-box {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #fff;
}
.modal-window header {
  font-weight: bold;
}