<template>
    <div class="last-added">
        <template if:true={modal}>
            <div id="open-modal" class="modal-window">
                <div class="slds-box">
                    <div class="slds-spinner_container">
                        <div role="status" class="slds-spinner slds-spinner_large slds-spinner_brand">
                        <span class="slds-assistive-text">Loading</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <template if:true={defaultDisplayStyle}>
        <div class="slds-p-top_small slds-m-horizontal_none rowItem">
            <lightning-layout multiple-rows>

                <lightning-layout-item size="4" flexibility="auto, no-grow" padding="around-small">
                    <div class="slds-text-align_left">
                    <ul>
                        <li>{productName}</li>
                        <li>
                            <span class="features"> {row.features} </span>
                        </li>
                        <li>
                            <ul class="slds-list_horizontal">
                            <template if:true={row.adrIcon}>
                                <li>
                                    <lightning-avatar size="small" src={row.adrIcon}  alternative-text="pictogramme ADR" class="slds-m-right_small"></lightning-avatar>
                                </li>
                            </template>
                            <template if:true={row.clpIcon}>
                                <li>
                                    <lightning-avatar size="small" src={row.clpIcon}  alternative-text="pictogramme CLP" class="slds-m-right_small"></lightning-avatar>
                                </li>
                            </template>
                            </ul>
                        </li>
                    </ul>
                    </div>
                </lightning-layout-item>


                <!-- action button -->
                <lightning-layout-item size="1" flexibility="auto, no-grow" padding="around-small" class="action-box">
                    <div class="slds-align_absolute-center slds-text-align_center ">
                    <ul class="slds-list_horizontal slds-has-inline-block-links_space">
                        <template if:true={displayAddButton}>
                            <li>
                                <lightning-button-icon class="action-button slds-button_icon-border-inverse" fill="white" name="addDefaultRow" data-current-index={index} data-value-packaging={row.packaging} data-opts={row.containerPkg} icon-name="utility:add" size="x-small"
                                    alternative-text="ajouter une nouvelle ligne" onclick={handleAddRow}>
                                </lightning-button-icon>
                            </li>
                        </template>

                        <template if:true={displayRemoveButton}>
                            <li>
                                <lightning-button-icon class="action-button" name="removeDefaultRow" data-current-index={index} icon-name="utility:dash" size="x-small"
                                    alternative-text="supprimer la ligne" onclick={handleRemoveRow}></lightning-button-icon>
                            </li>
                        </template>
                    </ul>
                    </div>
                </lightning-layout-item>

                <lightning-layout-item size="4" flexibility="auto"  padding="around-small">
                    <div class="slds-align_absolute-center conditionnement slds-text-align_left">
                    <lightning-combobox name="wastePackaging" class="conditionnement-input" data-current-index={index} value={row.packaging}
                                options={row.containerPkg} onchange={handleUserInputChange} variant="label-hidden" disabled={itemDisabled} placeholder="Conditionnement"></lightning-combobox>
                    </div>
                </lightning-layout-item>

                <lightning-layout-item size="2" flexibility="auto, no-grow" padding="around-small">
                    <div class="slds-align_absolute-center slds-p-left_xx-large">
                    <lightning-input class="th-width-number" type="number" name="numberPack"  data-current-index={index} value={row.nbrPackaging} variant="label-hidden" onchange={handleUserInputChange} disabled={itemDisabled} placeholder="Nombre" required>
                    </lightning-input>
                    </div>
                </lightning-layout-item>

                <lightning-layout-item size="1" flexibility="auto, no-grow" padding="around-small">
                    <div class="slds-align_absolute-center slds-text-align_center ">
                    <lightning-input class="th-width-number" type="number" name="quantity"  data-current-index={index} value={row.quantity} variant="label-hidden" onchange={handleUserInputChange} disabled={itemDisabled} placeholder="Quantité" required>
                    </lightning-input>
                    </div>
                </lightning-layout-item>
                <!--<lightning-layout-item size="4" flexibility="auto, no-grow" padding="around-small">
                    <div class="slds-align_absolute-center slds-text-align_center">
                    <ul class="slds-list_horizontal slds-has-inline-block-links_space">
                        <li>
                            <lightning-input type="checkbox" label="Me déposer de nouveaux ces contenants"
                                name="addContainerToWasteCheckBox" value={row.addContainer}  data-current-index={index} onchange={handleUserInputChange} checked={row.addContainer} disabled={itemDisabled}>
                            </lightning-input>
                        </li>
                        <template if:true={row.addContainer}>
                            <li>
                                <lightning-input class="th-width-number" type="number" name="numberContAddToWaste"  data-current-index={index} value={row.numbContainer} variant="label-hidden" onchange={handleUserInputChange} disabled={itemDisabled} placeholder="Nombre">
                                </lightning-input>
                            </li>
                        </template>
                    </ul>
                    </div>
                </lightning-layout-item>-->
            </lightning-layout>
        </div>



        <!-- <div class="boxs slds-grid slds-wrap normalstyle">
                <div class="slds-size_3-of-12">
                    <div class={productNameStyle}>
                        <ul>
                            <li>{productName}</li>
                            <li>
                                <span class="features"> {row.features} </span>
                            </li>
                            <li>
                                <ul class="slds-list_horizontal">
                                <template if:true={row.adrIcon}>
                                    <li>
                                        <lightning-avatar size="small" src={row.adrIcon}  alternative-text="Salesforce" class="slds-m-right_small"></lightning-avatar>
                                    </li>
                                </template>
                                <template if:true={row.clpIcon}>
                                    <li>
                                        <lightning-avatar size="small" src={row.clpIcon}  alternative-text="Salesforce" class="slds-m-right_small"></lightning-avatar>
                                    </li>
                                </template>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="slds-size_3-of-12">
                <div class="slds-m-around_x-small">
                    <ul class="slds-list_horizontal slds-has-inline-block-links_space">
                        <template if:true={displayAddButton}>
                            <li>
                                <lightning-button-icon class="action-button" name="addDefaultRow" data-current-index={index}  icon-name="utility:add" size="xx-small"
                                    alternative-text="ajouter une nouvelle ligne" onclick={handleAddRow}>
                                </lightning-button-icon>
                            </li>
                        </template>
                        <li class="slds-icon-adduser"> &nbsp;</li>
                        <template if:true={displayRemoveButton}>
                            <li>
                                <lightning-button-icon class="action-button" name="removeDefaultRow" data-current-index={index}  icon-name="utility:dash" size="xx-small"
                                    alternative-text="supprimer la ligne" onclick={handleRemoveRow}></lightning-button-icon>
                            </li>
                        </template>
                        <li> &nbsp;</li>
                        <li>
                            <lightning-combobox name="wastePackaging"  data-current-index={index} value={row.packaging}
                                options={options} onchange={handleUserInputChange} variant="label-hidden" disabled={itemDisabled} placeholder="Conditionnement"></lightning-combobox>
                        </li>
                    </ul>
                </div>
                </div>
                <div class="slds-size_2-of-12 slds-align_absolute-center">
                <div class="slds-text-align_center slds-m-around_x-small">
                    <lightning-input class="th-width-number" type="number" name="numberPack"  data-current-index={index} value={row.nbrPackaging} variant="label-hidden" onchange={handleUserInputChange} disabled={itemDisabled} placeholder="Nombre" required>
                    </lightning-input>
                </div>
                </div>
                <div class="slds-size_1-of-12">
                <div class="slds-text-align_center slds-m-around_x-small">
                    <lightning-input class="th-width-number" type="number" name="quantity"  data-current-index={index} value={row.quantity} variant="label-hidden" onchange={handleUserInputChange} disabled={itemDisabled} placeholder="Quantité" required>
                    </lightning-input>
                </div>
                </div>
                <div class="slds-size_3-of-12">
                <div class="slds-text-align_center slds-m-around_x-small">
                    <ul class="slds-list_horizontal slds-has-inline-block-links_space">
                        <li>
                            <lightning-input type="checkbox" label="Me déposer de nouveaux ces contenants"
                                name="addContainerToWasteCheckBox" value={row.addContainer}  data-current-index={index} onchange={handleUserInputChange} checked={row.addContainer} disabled={itemDisabled}>
                            </lightning-input>
                        </li>
                        <template if:true={row.addContainer}>
                            <li>
                                <lightning-input class="th-width-number" type="number" name="numberContAddToWaste"  data-current-index={index} value={row.numbContainer} variant="label-hidden" onchange={handleUserInputChange} disabled={itemDisabled} placeholder="Nombre">
                                </lightning-input>
                            </li>
                        </template>
                    </ul>
                </div>
                </div>
            </div> -->
        </template>

        <!-- peroxyde display style -->
        <template if:true={peroxydeClassDisplayStyle}>
            <template if:true={displayText}>
                <div class="slds-size_1-of-1">
                    <h2 class="text-peroxyde">{row.description}</h2>
                </div>
            </template>
            <div class=" slds-grid slds-wrap peroxydestyle slds-p-bottom_small slds-p-top_large">
                <div class="slds-size_2-of-12">
                    <div class="slds-text-align_left">
                        <ul>
                            <li><div class={productNameStyle}>{productName}</div></li>
                            <li>
                                <ul class="slds-list_horizontal">
                                    <template if:true={row.adrIcon}>
                                        <li>
                                            <lightning-avatar size="small" src={row.adrIcon}  alternative-text="pictogramme ADR" class="slds-m-right_small"></lightning-avatar>
                                        </li>
                                    </template>
                                    <template if:true={row.clpIcon}>
                                        <li>
                                            <lightning-avatar size="small" src={row.clpIcon}  alternative-text="pictogramme CLP" class="slds-m-right_small"></lightning-avatar>
                                        </li>
                                    </template>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="slds-size_3-of-12">
                <div class="slds-text-align_center">
                    <ul class="slds-list_horizontal slds-has-inline-block-links_space slds-m-left_large peroxyde-name">
                        <template if:true={displayAddButton}>
                            <li>
                                <lightning-button-icon class="action-button" name="addPeroxydeRow" data-current-index={index}
                                data-product-name={product}  icon-name="utility:add" size="x-small"
                                    alternative-text="ajouter une nouvelle ligne" onclick={handleAddRow}>
                                </lightning-button-icon>
                            </li>
                        </template>

                        <template if:true={displayRemoveButton}>
                            <li>
                                <lightning-button-icon class="action-button"  name="removePerxydeRow" data-current-index={index}
                                data-product-name={product}  icon-name="utility:dash" size="x-small"
                                    alternative-text="supprimer la ligne" onclick={handleRemoveRow}>
                                </lightning-button-icon>
                            </li>
                        </template>

                        <li class="peroxyde-name">
                            <lightning-input class="peroxyde-name-input slds-m-left_large" type="text"  data-current-index={index} name="peroxydeName" value={row.peroxyName}
                            variant="label-hidden" placeholder="Nom peroxyde" onchange={handleUserInputChange} disabled={itemDisabled} required="">
                            </lightning-input>
                        </li>
                    </ul>
                </div>
                </div>

                <div class="slds-size_2-of-12 slds-m-left_large slds-p-right_medium pero-classification">
                    <lightning-combobox name="perxoydeClassification" value={row.classification} placeholder="Classification"  data-current-index={index}
                            options={classifications} onchange={handleUserInputChange} variant="label-hidden" disabled={itemDisabled} required>
                    </lightning-combobox>
                </div>

                <div class="slds-size_1-of-12 slds-align_absolute-center">
                <div class="slds-text-align_center slds-m-left_small">
                    <lightning-input class="th-width-number slds-m-left_small" type="number" name="peroxydeQuantity" value={row.peroxydeQuantity} data-current-index={index}
                            variant="label-hidden" onchange={handleUserInputChange} disabled={itemDisabled} placeholder="Quantité" required="">
                        </lightning-input>
                </div>
                </div>

                <!-- Ajouter des photos -->
                <div class="slds-size_4-of-12">
                    <ul class="slds-list_horizontal slds-has-inline-block-links_space slds-text-align_right slds-grid slds-wrap">

                        <!-- <template if:true={itemDisabled}>
                                <li>
                                    X FileName
                                </li>
                            </template> -->
                            <template if:false={itemDisabled}>
                                <li class="adjusted-position slds-m-left_small">
                                <!--<lightning-file-upload class="upload-button" label="Ajouter des photos" name={prodId}  data-current-index={index}
                                        accept={acceptedFormats} record-id={formId}
                                        file-field-name="Guest_Record_fileupload__c" file-field-value={encryptedToken}
                                        onuploadfinished={handleUploadFinished} multiple variant="label-hidden" disabled={itemDisabled}>
                                </lightning-file-upload>-->
                                <lightning-input type="file" data-id={prodId} name="uploader" label="Ajouter des photos" multiple="true" accept={acceptedFormats} onchange={handleUpload2}></lightning-input>
                                <!--  <lightning-card title="File Upload Demo LWC" icon-name="custom:custom14">
                                        <div class="slds-m-around_medium">
                                            <lightning-input type="file"
                                            accept=".xlsx, .xls, .csv, .png, .doc, .docx, .pdf"
                                            label="Attachment" onchange={openfileUpload}></lightning-input>
                                        </div>
                                        <template if:true={fileData}>
                                            <p>{fileData.filename}</p>
                                        </template>
                                        <lightning-button variant="brand" label="submit" title="Submit" onclick={handleClick} class="slds-m-left_x-small"></lightning-button>
                                    </lightning-card> -->
                                </li>
                            </template>
                        </ul>
                </div>
        </div>

        </template>

        <!-- photo quantity disply style -->
        <template if:true={photoQtyDisplayStyle}>
            <div class="slds-grid qtyphotostyle slds-p-top_medium slds-p-bottom_medium slds-m-top_small">

                <div class="slds-size_2-of-12">
                    <div class="slds-text-align_left">
                        <ul>
                            <li><div class={productNameStyle}>{productName}</div></li>
                            <li>
                                <ul class="slds-list_horizontal">
                                    <template if:true={row.adrIcon}>
                                        <li>
                                            <lightning-avatar size="small" src={row.adrIcon}  alternative-text="pictogramme ADR" class="slds-m-right_small"></lightning-avatar>
                                        </li>
                                    </template>
                                    <template if:true={row.clpIcon}>
                                        <li>
                                            <lightning-avatar size="small" src={row.clpIcon}  alternative-text="pictogramme CLP" class="slds-m-right_small"></lightning-avatar>
                                        </li>
                                    </template>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="join-photo-text slds-size_5-of-12 slds-p-right_medium">{row.description}</div>

                <div class="slds-size_1-of-12 slds-p-left_small">
                    <lightning-input class="th-width-number" type="number" name="photoQuantity" value={row.photoQuantity} data-current-index={index}
                            variant="label-hidden" onchange={handleUserInputChange} disabled={itemDisabled} placeholder="Quantité" required>
                    </lightning-input>
                </div>

                <div class="slds-size_4-of-12 slds-text-align_right adjusted-position slds-p-left_medium">
                    <ul class="slds-list_horizontal slds-has-inline-block-links_space">
                            <!-- <template if:true={itemDisabled}>
                            X fileName
                            </template> -->
                        <template if:false={itemDisabled}>
                            <li>
                            <!--<lightning-file-upload class="upload-button" label="Ajouter des photos" name="fileUploaderQuantityPhoto"  data-current-index={index}
                                accept={acceptedFormats} record-id={formId}
                                file-field-name="Guest_Record_fileupload__c" file-field-value={encryptedToken}
                                onuploadfinished={handleUploadFinished} multiple variant="label-hidden" disabled={itemDisabled}>
                            </lightning-file-upload>-->
                            <lightning-input type="file" data-id={prodId} name="uploader" label="Ajouter des photos" multiple="true" accept={acceptedFormats} onchange={handleUpload2}></lightning-input>
                            </li>
                        </template>
                    </ul>
                </div>

            </div>
        </template>

        <!-- photo quantity List display style -->
        <template if:true={photoQtyListDisplayStyle}>
            <div class="slds-grid qtyphotostyle slds-p-top_medium slds-p-bottom_medium slds-m-top_small">
                <div class="slds-size_2-of-12">
                <div class={productNameStyle}>{productName}</div>
                </div>

                <div class="join-photo-text slds-size_5-of-12 slds-p-right_large">{row.description}</div>

                <div class="slds-size_1-of-12">
                    <lightning-input class="th-width-number" type="number" name="photoListQuantity" value={row.photoListQuantity} data-current-index={index}
                            variant="label-hidden" onchange={handleUserInputChange} placeholder="Quantité" disabled={itemDisabled} required>
                    </lightning-input>
                </div>

                <div class="slds-size_4-of-12 slds-align_absolute-center adjusted-position">
                    <ul class="slds-list_horizontal slds-text-align_right slds-has-inline-block-links_space">
                        <template if:false={itemDisabled}>
                            <li>
                                <ul>
                                    <li>
                                        <!--<lightning-file-upload class="upload-button" label="Ajouter des photos et une liste" name="fileUploaderQuantityPhoto"
                                            accept={acceptedFormats} record-id={formId}
                                            file-field-name="Guest_Record_fileupload__c" file-field-value={encryptedToken}
                                            onuploadfinished={handleUploadFinished} multiple variant="label-hidden" disabled={itemDisabled}>
                                        </lightning-file-upload>-->
                                        <lightning-input type="file" data-id={prodId} name="uploader" label="Ajouter des photos" multiple="true" accept={acceptedFormats} onchange={handleUpload2}></lightning-input>
                                    </li>
                                </ul>
                            </li>
                        </template>
                        <!-- <template if:true={itemDisabled}>
                            <li>
                                <ul>
                                    <li>
                                        X FileName
                                    </li>
                                    <li>
                                        X FileName
                                    </li>
                                </ul>
                            </li>
                        </template> -->

                    </ul>
                </div>
            </div>
        </template>
    </div>
</template>