.THIS .textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #f1f1f1;
	box-sizing: border-box;
	width: 100%;
	height: 40px !important;
}

.THIS .noselect > th {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.THIS .Valide-icon { 
    height: 30px !important;
     background-image: url("/resource/CONTRAT_IconStatus/valide.png");
     background-repeat: no-repeat;
     background-size: 30px;
     background-position: center;
     color: transparent;
     user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }
 
  .THIS .Rejete-icon {
   height: 30px !important;
     background-image: url("/resource/CONTRAT_IconStatus/rejete.png");
     background-repeat: no-repeat;
     background-size: 30px;
     background-position: center;
     color: transparent;
     user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }
 
  .THIS .Soumis-icon {   
   height: 30px !important; 
     background-image: url("/resource/CONTRAT_IconStatus/soumis.png");
     background-repeat: no-repeat;
     background-size: 30px;
     background-position: center;
     color: transparent;
     user-select: none; /* supported by Chrome and Opera */
     -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
  }

  .THIS .Valide {
      background: rgb(113, 202, 113);
  }

.THIS .Rejete {
    background: rgb(228, 139, 139);
}

.THIS .colored {
    background-color: #e07026;
}

.THIS .wrap {
    height: 100vh;
}

.THIS .wrap > div {
    height: 50vh;
}

.THIS .thead {
    background-color: #11416a !important;
    color: white;
    line-height: 40px !important;
}

.THIS .caption {
    text-align: center !important;
}

.THIS table.sortable thead {
    background-color: #eee;
    color: #f1f1f1;
    font-weight: bold;
    cursor: default;
}

.THIS .accountName {
    display: flex;
}

.THIS .avenantsButton {
    margin-left: 4px;
}

.THIS .avenantsButton:hover {
    cursor: pointer;
}

.THIS .avenantsButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sortable but not sorted yet, double arrow*/
.THIS table.sortable th.slds-is-sortable:not(.sorted-asc):not(.sorted-desc):after {
    content: "\25B4\25BE";
}
/*sorted up shows arrow pointing down*/
.THIS table.sortable th.slds-is-sortable.sorted-asc:after {
    content: "\25BE";
}
/*sorted down shows arrow pointing up*/
.THIS table.sortable th.slds-is-sortable.sorted-desc:after {
    content: "\25B4";
}

.THIS .action-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.THIS .checkboxContainer {
    display: flex;
    justify-content: center;
    width: 20px;
    margin: auto;
}