<template>
    
    <input class="hidden-data" style="display: none;" type="text" value={result.dev_heads_up}>
    <div class="main">
        <template if:false={wait}>
            <template if:true={init}>
                <div class="child">
                    <p style="font-size: 18px;">Confirmez-vous la création d'une nouvelle version?</p>
                    <div style="display: flex; align-items: center; gap: 10px;">
                        <lightning-button variant="brand" label="Créer nouvelle version" onclick={createNewVersion}></lightning-button>
                        <lightning-button variant="destructive-text" label="Annuler" onclick={cancel}></lightning-button>
                    </div>
                </div>
            </template>
            <template if:false={init}>
                <template if:false={success}>
                    <div class="child">
                        <div style="display: flex; align-items: center; background: rgb(218 18 44 / 76%); padding: 10px; border-radius: 100px;">
                            <lightning-icon class="lwc-icon" icon-name="utility:error"></lightning-icon>
                            <h2>Erreur lors de l'enregistrement.</h2>
                        </div>
                        <p style="font-size: 18px;">{result.message}</p>
                        <div style="display: flex; align-items: center; gap: 10px;">
                            <lightning-button variant="destructive-text" label="Retour" onclick={cancel}></lightning-button>
                        </div>
                    </div>
                </template>
            </template>
        </template>
        <template if:true={wait}>
            <div class="exampleHolder">
                <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
            </div>
        </template>
    </div>

</template>