.main {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    position: absolute;
}

.child {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    min-width: max-content;
    max-width: 50%;
    margin: auto;
    padding: 25px;
    box-shadow: 0px 0px 25px -10px grey;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

h2 {
    font-weight: 500;
    margin-left: 5px;
    font-size: 18px;
    color: white;
}

.lwc-icon {
    --lwc-colorTextIconDefault: white;
}