.THIS {   
    background-color: #fbfafb;
    position: relative;
   /* height: 100%; */
}

.THIS .my-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.THIS .my-content {
    position:relative;
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
}

.THIS .my-body {
    position:absolute;
    width: 100%;
    height: 100%;
}