.THIS .colBgColor{		
    background-color: rgb(236, 235, 234) !important ;
}

.THIS .tabWidth {
    width: 45%;
}

.THIS td.details-control {
    text-align:center;
    color:#7f8de1; 
    cursor: pointer;
}

.THIS tr.shown td.details-control {
text-align:center; 
color:forestgreen;
}

.THIS tr.group {
    background-color: #cacee7 !important;
    font-weight: bold;
}

.THIS .highlight {
    background-color: forestgreen !important;
}

.THIS .dataTable {   
    margin: inherit !important;
    
}

.THIS .button.dt-button.active {
    background:#7f8de1 !important;
}

.THIS td.details-avenant {
    text-align:left;
    color:#000; 
    cursor: pointer;
    font-weight: bold;
}

.THIS tr.shown td.details-avenant {
    text-align:left; 
    color:rgb(0,0,0);
}

.THIS td.details-avenant > p {
    margin-left: 3px;
    display: inline-block;
}

.THIS .paginate_button {    
    border: 1px solid rgb(0, 112, 210) !important;
}

.THIS .paginate_button active {    
    background-color: rgb(0, 112, 210) !important;
}

.THIS .tableColors {
    width: 50%;
}

.THIS .slds-card__header {
    padding: 0 px !important;   
}

.THIS .slds-card__header {
    padding-top: inherit !important;
}

.THIS .slds-card__footer {
    padding: 0px;
    /* margin-top: var(--lwc-varSpacingVerticalSmall,0.75rem); */
    text-align: left;   
    font-size: var(--lwc-fontSize3,0.8125rem);
    border-top: var(--lwc-borderWidthThin,1px) solid var(--lwc-cardFooterColorBorder,rgb(221, 219, 218));

} 

.THIS .active{ 
    background-color: #9bc5e9;
 
} 


/*
.THIS .slds-button-group {
    display: block !important;
}

.THIS .slds-button-group-list {
    display: block !important;
}

.THIS .slds-button_neutral {
      background-color: aliceblue !important;
}

.THIS .slds-button--neutral {
    background-color: aliceblue !important;
} */