.THIS {
}

.THIS.exampleHolder{
    position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
}


.essential.THIS {
    background-color: #f1a9a0 !important;
}