:host {
  --lwc-formLabelFontSize: 17px;
  --lwc-colorTextLabel: #000000;
  --lwc-fontSize3: 15px;
}

.boxs {
    display: flex;
    flex-wrap: wrap;
    /*place-content: space-between; */
    align-items: center;
    background-color: #ffffff;
    justify-content: space-around;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    /*line-height: 32px;*/
    letter-spacing: normal;
    color: #1e4477;
    font-weight: 600;
  }

  .origin {
    flex:5;
  }
  .waste-family {
    flex: 2;
  }
  .waste {
    flex:  0px;
  }
  :host(.slds-form-element:first-child){
    font-family:'fontKarbon-Semibold';
    font-size: 18px;
  }

.upload-button {
  text-align: left;
  vertical-align: middle;
  justify-content: center;
  --sds-c-button-neutral-color-background: #009bde;
  --sds-c-button-neutral-color-background-hover: transparent;
  --sds-c-button-text-color: white;
  --sds-c-button-radius-border: 25px;
  --sds-c-button-border: 0px;
}

.upload-button .slds-form-element:nth-child(2) {
  font-size: 17px;
  color: black;
  font-family: 'fontkarbon-Semibold';
}

:host .slds-form-element__label {
  font-family: 'fontkarbon-Semibold';
}

.comment-label:first-child {
  font-size: 17px;
  color: black;
  font-family: 'fontkarbon-Semibold';
}

.comment-label:first-child > * {
  font-family: 'fontkarbon-Regular';
  font-size: 15px;
  color: #000000;
}

.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #fff;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

.checkboxLabel{
  position: relative;
  font-size: 15px;
  left: 24px;
  top: -22px;
}

div.doc-name{
  font-size: 14px;
  font-family: 'fontkarbon-Semibold';
  font-weight: 600 !important;
  color: #009BDE;
}

.faj-title{
  font-size: 17px;
  color: black;
  font-weight: 600;
  font-family: 'fontkarbon-Semibold';
}

div.row-margin-bottom{
  margin-bottom: 10px;
}