<template>
    <div class="slds-grid slds-gutters slds-wrap">
        <div class="slds-col slds-size_1-of-5">
          <span></span>
        </div>
        <div class="slds-col slds-size_3-of-5 commentsAndAgrements">
            <ul>
                <li>
                  <lightning-textarea class="comment-label" label="Commentaire"  name="commentName" placeholder=""
                  value={finalizationCommentary} onchange={handleUserInputChange}></lightning-textarea>
                </li>
                <li>
                  <lightning-file-upload class="upload-button" label="Ajouter des fichiers supplémentaires" name="fileUploader"
                                         accept={acceptedFormats} record-id={formId}
                                         file-field-name="Guest_Record_fileupload__c" file-field-value={encryptedToken}
                                         onuploadfinished={handleUploadFinished} multiple variant="label-hidden" disabled={itemDisabled}>
                  </lightning-file-upload>
                  </br>
                  <template if:true={isUploaded}>
                    <div class="faj-title">Fichiers Ajoutés</div>
                    </br>
                    <template for:each={existingFiles} for:item="doc">
                      <div key={doc.Id}>
                        <div class="slds-grid slds-grid_vertical-align-center row-margin-bottom">
                          <div class="slds-col slds-size_5-of-12 slds-text-title_bold">
                            <div class="doc-name">{doc.Title}.{doc.FileExtension}</div>
                          </div>
                          <div class="slds-col slds-size_1-of-12">
                            <!--<lightning-button label="Supprimer"
                                              variant="destructive"
                                              data-id={doc.Id}
                                              onclick={deleteHandler}>
                            </lightning-button>-->
                            <lightning-button-icon
                                class="slds-button_icon"
                                icon-name="utility:delete"
                                variant="brand"
                                data-id={doc.Id}
                                onclick={deleteHandler}
                                alternative-text="Delete document">
                            </lightning-button-icon>
                          </div>
                        </div>                      
                      </div>
                    </template>
                  </template>
                </li>
                <li class="slds-m-top_large slds-p-bottom_medium">
                    <lightning-input type="checkbox" name="notifCheckBox" checked={isNotify} onchange={handleUserInputChange}></lightning-input>
                    <div class="checkboxLabel"> Par la présente, nous certifions l’exactitude des renseignements et informations fournis. Nous nous engageons à signaler toute modification pouvant occasionner un changement des éléments ci-dessus. Nous certifions avoir connaissance de notre responsabilité au titre de l’article L. 541-21-2 du code de l’environnement et des sanctions y afférentes mentionnées aux articles L. 541-4 5° et L. 541-46 8°</div>
                </li>
                <li>
                    <lightning-input type="checkbox" name="acceptCheckBox" checked={isAccepted} onchange={handleUserInputChange} ></lightning-input>
                    <div class='checkboxLabel'> J'accepte les <a class="btn" href="#open-modal">RGPD</a></div>
                    <div id="open-modal" class="modal-window">
                      <div>
                        <a href="#" title="Close" class="modal-close">Fermer</a>
                        <h1>NOS RGPD</h1>
                        <div>Les informations recueillies dans le questionnaire sont enregistrées dans un fichier informatisé par la socitété TRIADIS. La base légale du traitement est la gestion de la collecte des données pour l'organisation de la collecte et du traitement des déchets des Lycées de la Région Rhône-Alpes.</br></br>
                          Les données marquées par un astérisque dans le questionnaire doivent obligatoirement être fournies. Dans le cas contraire, nous ne pourront pas vous transmettre le formulaire de saisie concernant la collecte des déchets des établissements.</br></br>
                          Les données collectées seront communiquées aux seuls destinataires TRIADIS pour le bon déroulement du projet.</br></br>
                          Elles sont conservées pendant la durée de la campagne soit 1 an. Vos données ne seront en aucun cas partagées ou vendues à un tiers. Leurs utilisations restera strictement dans le cadre de notre Enquête 2021 pour organiser la collecte de vos déchets par la société TRIADIS.</br></br>
                          Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer votre droit à la limitation du traitement de vos données, en contactant v.soquet@groupe-seche.com</br></br>
                          Consultez le site cnil.fr pour plus d’informations sur vos droits.</br></br>
                          Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez contacter Virginie Soquet par mail v.soquet@groupe-seche.com</br></br>
                          Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.</div>
                        </div>
                    </div>
                    <!--<lightning-input  type="checkbox" label="J'accepte que les informations recueillies dans le questionnaire soient enregistrées dans un fichier informatisé par la socitété TRIADIS . La base légale du traitement est la gestion de la collecte des données pour l'organisation de la collecte et du traitement des déchets des Lycée de la Région Rhône-Alpes.
                    Les données marquées par un astérisque dans le questionnaire doivent obligatoirement être fournies. Dans le cas contraire, nous ne pourront pas vous transmettre le formulaire de saisie concernant la collecte des déchets des établissements.
                    Les données collectées seront communiquées aux seuls destinataires TRIADIS pour le bon déroulement du projet.
                    Elles sont conservées pendant la durée de la campagne soit 1 an. Vos données ne seront en aucun cas partagées ou vendues à un tiers. Leurs utilisations restera strictement dans le cadre de notre Enquête 2021 pour organiser la collecte de vos déchets par la société TRIADIS.
                    Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer votre droit à la limitation du traitement de vos données. En contactant v.soquet@groupe-seche.com
                    Consultez le site cnil.fr pour plus d’informations sur vos droits.
                    Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez contacter Virginie Soquet par mail v.soquet@groupe-seche.com
                    Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL." name="acceptCheckBox" checked={isAccepted}
                    onchange={handleUserInputChange}></lightning-input>-->
                </li>
              </ul>
        </div>
        <div class="slds-col slds-size_1-of-5">
          <span></span>
        </div>
      </div>
</template>