.THIS {
}

.THIS .MyTopContainer{
    border: 0px solid #cccccc;
    text-align: right;
    color: #3c97dd;
    width: 90%;
}

.THIS .OtherContainer {
    border: 0px solid #cccccc;
    padding: 0px;
    width: 100%;
    /*height: 20vh !important; */
}

.THIS .slds-page-header {
    padding: 0rem 0rem !important;
    border-bottom: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    background: rgb(171, 193, 221);
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    border: 1px solid rgb(221, 219, 218);
    height: 127px !important;
    max-height: 127px;
}

.THIS .slds-page-header__detail-row {
    display: contents;
    margin: 1rem 0rem 0rem !important;
    padding: 1rem !important;
    border-radius: 0 0 .25rem .25rem;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 2;
}