.THIS {
}

 
/* align picklist inside list view*/
.THIS .customCls{
    margin-top: -2px;
    width: 15%;
    position: absolute;
    right: 25px;
}

.THIS .slds-tabs_scoped__content slds-show{
    padding: var(--lwc-spacingMedium,0rem) !important;
}