<template>
    <template if:false={wait}>
        <template if:true={init}>
            <lightning-record-edit-form
                    object-api-name="QLY_SchoolForm__c"
                    record-id={qlyFormId}
                    onsubmit={handleSubmit}>
                <lightning-input-field field-name="FormStatus__c" value='Annulé' style="display: none;"> </lightning-input-field>
                <lightning-input-field field-name="CancellationComment__c"></lightning-input-field>
                <h2>
                    Etes-vous bien sûr de vouloir annuler votre collecte ?
                </h2>
                <br>
                <div class="slds-grid slds-wrap">
                    <div style="display: flex;
                                gap: 5px;">
                        <lightning-button style="font-size: 18px;" variant="brand" type="submit" label="Oui"></lightning-button>
                        <button class="slds-button slds-align_absolute-center" onclick={handleClose}>Non</button>
                    </div>
                </div>
            </lightning-record-edit-form>
        </template>
        <template if:false={init}>
            <h2 style='text-align: center;'>
                {msg}
            </h2>
            <br>
            <div class="slds-grid slds-wrap">
                <div class="slds-size_2-of-6">
                </div>
                <div class="slds-size_2-of-6">
                </div>
                <template if:false={success}>
                    <template if:false={fromFlow}>
                        <div class="slds-size_2-of-6">
                            <button class="slds-button slds-button_brand slds-align_absolute-center" onclick={handleClose}>Terminer</button>
                        </div>
                    </template>
                    <template if:true={fromFlow}>
                        <div class="slds-size_2-of-6">
                            <button class="slds-button slds-button_brand slds-align_absolute-center" onclick={retry}>Réessayer</button>
                        </div>
                    </template>
                </template>
                <template if:true={success}>
                    <template if:true={fromFlow}>
                        <div class="slds-size_2-of-6">
                            <button class="slds-button slds-button_brand slds-align_absolute-center" onclick={handleClose}>Terminer</button>
                        </div>
                    </template>
                </template>
            </div>
        </template>
    </template>
    <template if:true={wait}>
        <div style="min-height: 60px;">
            <lightning-spinner style="background: transparent;" alternative-text="Loading" size="medium"></lightning-spinner>
        </div>
    </template>
</template>