.THIS .colBgColor{		
    background-color: rgb(236, 235, 234) !important ;
}

.THIS .tabWidth {
    width: 45%;
}

.THIS td.details-control {
    text-align:center;
    color:#7f8de1; 
    cursor: pointer;
}
.THIS tr.shown td.details-control {
text-align:center; 
color:forestgreen;
}

.THIS td.details-contract {
    text-align:left;
    color:#000; 
    cursor: pointer;
}

.THIS td.details-contract > p {
    font-weight: bold;
    margin-left: 3px;
    display: inline-block;
}

.THIS tr.shown td.details-contract {
text-align:left; 
}

.THIS .toolbar {
    float:left;
}

.THIS .slds-box {
    padding: initial !important;   
    border: 1px solid rgb(176, 190, 217);
}

.THIS .td-detailRecord{
    background-color: darkgray;   
}


.THIS .paginate_button {    
    border: 1px solid rgb(0, 112, 210) !important;
}

.THIS .paginate_button active {    
    background-color: rgb(0, 112, 210) !important;
}

.THIS .tableColors {
    width: 50%;
}

.THIS .slds-card__header {
    padding: 0 px !important;   
}

.THIS .slds-card__header {
    padding-top: inherit !important;
}

.THIS .slds-card__footer {
    padding: 0px;
    /* margin-top: var(--lwc-varSpacingVerticalSmall,0.75rem); */
    text-align: left;
    padding-left: 12px;
    font-size: var(--lwc-fontSize3,0.8125rem);
    border-top: var(--lwc-borderWidthThin,1px) solid var(--lwc-cardFooterColorBorder,rgb(221, 219, 218));

} 

.THIS .active{ 
    background-color: #9bc5e9;
 
}

.THIS.modal{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.6);
}

.THIS .modal > .modal-content{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: #fff;
    padding: 2rem;
    font-size: medium;
}

.THIS .drop {
    overflow: hidden;
    list-style: none;
    position: absolute;
    padding: 0;
    width: 100%;
    left: 0;
    top: 48px;
  }
  .THIS .drop div {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    -webkit-transition: all 0.5s 0.1s;
    -moz-transition: all 0.5s 0.1s;
    -ms-transition: all 0.5s 0.1s;
    transition: all 0.5s 0.1s;
    position: relative;
  }
  .THIS .drop li {
    display: block;
    padding: 0;
    width: 100%;
    background: #3E8760 !important;
  }
  
  .THIS #marker {
    height: 6px;
    background: #3E8760 !important;
    position: absolute;
    bottom: 0;
    width: 120px;
    z-index: 2;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    transition: all 0.35s;
  }
  
  .THIS #main li:nth-child(1):hover ul div {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .THIS #main li:nth-child(1):hover ~ #marker {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
  
  .THIS #main li:nth-child(2):hover ul div {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .THIS #main li:nth-child(2):hover ~ #marker {
    -webkit-transform: translate(120px, 0);
    -moz-transform: translate(120px, 0);
    -ms-transform: translate(120px, 0);
    transform: translate(120px, 0);
  }
  
  .THIS #main li:nth-child(3):hover ul div {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .THIS #main li:nth-child(3):hover ~ #marker {
    -webkit-transform: translate(240px, 0);
    -moz-transform: translate(240px, 0);
    -ms-transform: translate(240px, 0);
    transform: translate(240px, 0);
  }
  
  .THIS #main li:nth-child(4):hover ul div {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .THIS #main li:nth-child(4):hover ~ #marker {
    -webkit-transform: translate(360px, 0);
    -moz-transform: translate(360px, 0);
    -ms-transform: translate(360px, 0);
    transform: translate(360px, 0);
  }
/*
.THIS .slds-button-group {
    display: block !important;
}

.THIS .slds-button-group-list {
    display: block !important;
}

.THIS .slds-button_neutral {
      background-color: aliceblue !important;
}

.THIS .slds-button--neutral {
    background-color: aliceblue !important;
} */