<!--
  @description       : 
  @author            : MAIT - @moidriss
  @group             : 
  @last modified on  : 01-04-2024
  @last modified by  : MAIT - @moidriss
-->
<template>
    <c-lwc_-p-f-a-s-accordion-item item={item} record-s-object-type="FIP_FIP__c" language="fr" oncomponentschange={handleEventData}></c-lwc_-p-f-a-s-accordion-item>
</template>