.border-mod{
    padding-left: 1%;
}

.margin-horizontal{
    margin: 0 1%;
}

.action-btn{
    /* padding-top:24px; */
    justify-Content:space-evenly;
}

.margin-top{
    margin-top: 1%;
}

.margin-left{
    margin-left: 1%;
}

@media (max-width: 768px){   
    lightning-input {
        width: max-content;
    } 
}

lightning-input {
    display: block;
    width: 100%;
    /* padding: .25rem .50rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* ================================ */
button {
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.size_1-2 {
    width: 50%;
}

.size_1-3 {
    width: 33.334%;
}

.size_1-4 {
    width: 25%;
}

.size_1-5 {
    width: 5%;
}

.size_2-5 {
    width: 47.5%;
    padding: 0 1rem
}

.center-btn {
    display: flex;
    justify-content: center;
}

.table {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    text-align: center;
    background: #e07026;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-family: 'fontKarbon-Semibold';
    font-size: 16px;
}

.body {
    max-height: 250px;
    overflow-y: scroll;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.body .row:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.body::-webkit-scrollbar {
    height: 5px;
}

.body::-webkit-scrollbar-track {
    width: 100px;
}

.body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

.body::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

.body::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
}

.col {
    width: 23.75%;
    padding: 15px;
}

.col-btn {
    width: 5%;
    padding: 15px;
}

.add-btn, .delete-btn {
    height: 32px;
    width: 32px;
    border: unset;
    background: #e07026;
    border-radius: 100%;
    box-shadow: 0px 0px 0px rgba(0,0,0, .3);
    transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-btn {
    transform: translateY(30px);
}

.delete-btn {
    background: #d91e18;
}

.add-btn .plus, .delete-btn .plus {
    display: flex;
    width: 30px;
    height: 30px;
}

.delete-btn:disabled, .add-btn:disabled {
    pointer-events: none;
    background: gray;
}

svg {
    transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.add-btn:hover, .delete-btn:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0, .5);
}

.add-btn:hover svg {
    transform: rotate(360deg);
}

.delete-btn svg {
    transform: rotate(45deg);
}

.delete-btn:hover svg {
    transform: rotate(45deg) scale(1.5);
}

.hidden {
    display: none;
}

.loader {
    position: relative;
    z-index: 1;
    background: white;
    width: 100%;
    height: 250px;
}

.main-logo > img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    height: 140px;
    -webkit-animation: magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
    -moz-animation: magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
    animation: magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
}

@-moz-keyframes magic { 
    0% {
        opacity: .5;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: .5;
        transform: scale(1);
    }
}
@-webkit-keyframes magic { 
    0% {
        opacity: .5;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: .5;
        transform: scale(1);
    }
}
@keyframes magic { 
    0% {
        opacity: .5;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: .5;
        transform: scale(1);
    }
}

.no-data {
    padding: 30px;
    text-align: center;
    font-family: 'fontKarbon-Semibold';
    font-size: 40px;
    opacity: .3;
}