@font-face {
    font-family: 'fontKarbon-Semibold';
	src: url('	https://seche.my.site.com/ContactFacturation/resource/font_Karbon/Karbon-Semibold.otf');

}
@font-face {
	font-family: 'fontKarbon-Regular';
	src: url('	https://seche.my.site.com/ContactFacturation/resource/font_Karbon/Karbon-Regular.otf');
}
@font-face {
	font-family: 'fontKarbon-RegularItalic';
	src: url('	https://seche.my.site.com/ContactFacturation/resource/font_Karbon/Karbon-RegularItalic.otf');
}
@font-face {
	font-family: 'fontKarbon-LightItalic';
	src: url('	https://seche.my.site.com/ContactFacturation/resource/font_Karbon/Karbon-LightItalic.otf');
}
@font-face {
	font-family: 'fontKarbon-Medium';
	src: url('	https://seche.my.site.com/ContactFacturation/resource/font_Karbon/Karbon-Medium.otf');
}

.slds-form-element__label {
    color: #1e4477;
    font-family: "fontKarbon-Semibold";
    font-size: 16px;
}

.slds-form-element__control, 
.slds-form-element__static,
.slds-checkbox__label .slds-form-element__label{
    font-family: 'fontKarbon-Regular';
    font-size: 18px !important;
}

input, textarea, button[lightning-basecombobox_basecombobox], lightning-output-field > div {
    border-radius: 8px !important;
    border: 1px solid !important;
    border-color: rgba(30, 68, 119, 0.3) !important;
}

textarea {
    line-height: 1.875rem;
    padding: 0px 12px;
    width: 100%;
}

.special-input> label {
    user-select: none;
    color: #E07026;
}

lightning-lookup-address > label {
    display: none !important;
}

lightning-output-field > div {
    min-height: calc(var(--lwc-heightInput,1.875rem) + (var(--lwc-borderWidthThin,1px) * 2));
    line-height: 1.875rem;
    padding: 0px 12px;
    background: #f4f6f9;
}

lightning-output-field > div > lightning-formatted-text,
lightning-output-field > div > lightning-formatted-email > a,
lightning-output-field > div > lightning-formatted-phone > a {
    text-decoration: none !important;
    pointer-events: none !important;
    cursor: none !important;
    color: #8f8f8f !important;
    user-select: none;
}

lightning-input[data-field="province"],
lightning-input[data-field="country"]{
    display: none;
}

lightning-input[data-field="city"] {
    flex-grow: 1;
}

.toastContainer > div {
    border-radius: 50px;
}

.div-table-row__header {
    font-family: "fontKarbon-Semibold";
    color: #E07026;
}

.div-table-row__header > div {
    font-size: 14px !important;
    text-align: left !important;
}

.div-table-row__header,
.div-table-row {
    border-bottom: unset !important;
}

.div-table-row {
    font-size: 14px;
    border: none;
    color: #1E4477;
}

.div-table-row > div:first-child {
    font-family: "fontKarbon-Semibold";
}

lightning-base-combobox-item > span.slds-media__body > span {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.step3-input > div > lightning-base-combobox > div > div > button > span,
.step3-input > div > textarea,
.step3-input > div > input {
    font-size: 14px !important;
}

.step3-input > div.slds-form-element__help {
    display: none;
}

.edit-button > button {
    background-color: #43A0F3 !important;
}

.edit-button > button:hover {
    color: #43A0F3 !important;
}

.next-button > button {
    background-color: #43A0F3;
}

.next-button > button, .finish-button > button {
    background-color: #f16800;
    border-radius: 25px;    
    font-size: 16px;
    padding: 5px 20px;
}

.slds-button_neutral:hover {
    background-color: #fff !important;
    color: #f16800 !important;
}

.prev-button > button {
    color: #f16800;
    border-radius: 25px;    
    font-size: 16px;
    padding: 5px 20px;
}
:root { --dxp-c-section-columns-max-width: 1440px; }