@font-face {
    font-family: 'fontKarbon-Semibold';
	src: url('	https://seche.my.site.com/DemandesEnlevement/resource/font_Karbon/Karbon-Semibold.otf');

}
@font-face {
	font-family: 'fontKarbon-Regular';
	src: url('	https://seche.my.site.com/DemandesEnlevement/resource/font_Karbon/Karbon-Regular.otf');
}
@font-face {
	font-family: 'fontKarbon-LightItalic';
	src: url('	https://seche.my.site.com/DemandesEnlevement/resource/font_Karbon/Karbon-LightItalic.otf');
}
@font-face {
	font-family: 'fontKarbon-Medium';
	src: url('	https://seche.my.site.com/DemandesEnlevement/resource/font_Karbon/Karbon-Medium.otf');
}

td > div > lightning-combobox {
	width: max-content !important;
}

.override-icon button lightning-primitive-icon svg {
    color: #e4e9ed;
}

.input:hover .override-icon button lightning-primitive-icon svg {
    color: #2e3131;
}

.modal-container {
    width: 35%;
}

.banner-actions > button {
    color: white;
    background-color: rgb(224, 112, 38);
    border-left: thick solid white;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    border-color: rgb(224,112,38);
    border-bottom-right-radius: 5px;
}

.banner-actions > button:disabled {
    background-color: rgb(201, 199, 197) !important;
    border-color: rgb(201, 199, 197) !important;
    pointer-events: none;
}

.banner-actions > button:hover {
    background-color: #b45211 !important;
    border-color: #b45211 !important;
    color: white;
}

.banner-actions > button:focus {
    box-shadow: 0 0 3px rgb(224 112 38) !important;
    color: white;
}

.banner-actions > button:active {
    color: white;
}
:root { --dxp-c-section-columns-max-width: 1440px; }