<template>
    <div id="dataTable">
        <lightning-card title={title} icon-name="standard:opportunity">
            <lightning-datatable
                    key-field="id"
                    data={dataReturn}
                    columns={columns}
                    hide-checkbox-column="true"
                    style = "height:100px">
            </lightning-datatable>
        </lightning-card>
    </div>    
</template>