.THIS {
}

.THIS.containerHolder{
    position: relative;
    display: inline-block;
    margin-left: 50%;
    margin-top: 50 px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
}

.THIS.footer {
    color: #ffffff;
    font-size: 14px;
    text-align: right;
    margin: 10px auto 0; 
}