/* Container Styling */
.article {
    border: none !important;
    top: -25px;
}

.step_on {
    width: 288px;
    height: 72px;
}

.cont {
    width: 33.33%;
}

.form {
    max-width: 50%;
    margin: auto;
}

/* Text Styling */
.step-title {
    color: #1E4477;
    font-family: "fontKarbon-Semibold";
    font-size: 26px;
    text-align: center;
}

.sub-step-title {
    color: #1E4477;
    font-family: "fontKarbon-Semibold";
    font-size: 16px;
}

/* Blank Space Styling */
.blank-space-20 {
    margin: 20px;
}

.blank-space-15 {
    margin: 15px;
}

.blank-space-10 {
    margin: 10px;
}

.blank-space-5 {
    margin: 5px;
}

.loader {
    position: absolute;
    background: white;
    inset: 0 0 0 0;
    z-index: 1;
}

.main-logo > img {
    height: 140px;
    -webkit-animation:magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
    -moz-animation:magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
    animation:magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
}

.animated-action {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

@-moz-keyframes magic { 
    0% {
        visibility: 1;
        transform: scale(1);
    }

    50% {
        visibility: 0;
        transform: scale(1.5);
    }

    100% {
        visibility: 1;
        transform: scale(1);
    }
}
@-webkit-keyframes magic { 
    0% {
        visibility: 1;
        transform: scale(1);
    }

    50% {
        visibility: 0;
        transform: scale(1.5);
    }

    100% {
        visibility: 1;
        transform: scale(1);
    }
}
@keyframes magic { 
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.final-step-message {
    color: #1E4477;
    font-size: 1.5rem;
    font-family: 'fontKarbon-Semibold';
    width: 50%;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 10%;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1);
}

.warning, .error {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
}

.warning > img, .error > img {
    height: 45px;
}

.warning-text {
    padding: 5px 15px;
    background: #fde3a7;
    border-radius: 5px;
}

.boldtext {
    font-family: "fontKarbon-Semibold";
    font-size: 23px;
    text-align: center;
}

.info {
    position: relative;
    z-index: 0;
    display: flex;
    background-color: #caf0f8;
    padding: 10px;
    border-radius: 10px;
    color: #0077b6;
}

.info span {
    padding-left: 5px;
    text-align: left;
    font-size: 14px;
}

.info svg {
    width: 40px;
    height: 40px;
}

.info svg path {
    fill: #0077b6;
}