<!--
  @description       : 
  @author            : MAIT - @moidriss
  @group             : 
  @last modified on  : 12-07-2023
  @last modified by  : MAIT - @moidriss
-->
<template>
    <article class="slds-card article">

        <div style="margin-top: 100px;" id="not-found" lwc:if={noCAPs}>
            <div class="warning">
                <img src={warningImg}>
                <div class="warning-text boldtext">
                    {nocap_message}
                </div>
            </div>
        </div>

        <div lwc:else>
            <!-- Header -->
            <div class="slds-card__header slds-grid">
                <header class="slds-has-flexi-truncate">
                    <c-lwc_-path-indicator steps={STEPS}>
                    </c-lwc_-path-indicator>
                </header>
            </div>

            <!-- Blank Sapce -->
            <div class="blank-space-20"></div>

            <!-- Body -->
            <div lwc:if={step1} id="step1" class="form">
                <div>
                    <h2 class="step-title">{step1Title}</h2>
                </div>
                <!-- Blank Sapce -->
                <div class="blank-space-10"></div>
                <div lwc:if={isFR}>
                    <c-lwc_-generic-form 
                        display-as-one-column="true"
                        object-api-name="Account"
                        record-id={recordData.AccountId}
                        fields={CONSTANTS.ACCOUNT_NAME}
                        preview-data="true"
                        onstartloading={handleStartLoading}
                        onformloaded={handleFormLoad}>
                    </c-lwc_-generic-form>
                    <c-lwc_-generic-form
                        display-as-one-column="true"
                        object-api-name="Contact"
                        record-id={recordData.Id}
                        fields={CONSTANTS.CONTACT_ERP_NUMBER}
                        preview-data="true"
                        onstartloading={handleStartLoading}
                        onformloaded={handleFormLoad}>
                    </c-lwc_-generic-form>
                    <c-lwc_-generic-form
                        display-as-one-column="true"
                        object-api-name="Account"
                        record-id={recordData.AccountId}
                        fields={CONSTANTS.ACCOUNT_ADDRESS}
                        preview-data="true"
                        onstartloading={handleStartLoading}
                        onformloaded={handleFormLoad}>
                    </c-lwc_-generic-form>
                    <c-lwc_-generic-form
                        display-as-one-column="true"
                        object-api-name="Contact"
                        record-id={recordData.Id}
                        fields={CONSTANTS.CONTACT_FROM_FIELDS}
                        preview-data="true"
                        onstartloading={handleStartLoading}
                        onformloaded={handleFormLoad}>
                    </c-lwc_-generic-form>
                </div>
                <div lwc:if={isEN}>
                    <c-lwc_-generic-form 
                        display-as-one-column="true"
                        object-api-name="Account"
                        record-id={recordData.AccountId}
                        fields={CONSTANTS.ACCOUNT_NAME_EN}
                        preview-data="true"
                        onstartloading={handleStartLoading}
                        onformloaded={handleFormLoad}>
                    </c-lwc_-generic-form>
                    <c-lwc_-generic-form
                        display-as-one-column="true"
                        object-api-name="Contact"
                        record-id={recordData.Id}
                        fields={CONSTANTS.CONTACT_ERP_NUMBER_EN}
                        preview-data="true"
                        onstartloading={handleStartLoading}
                        onformloaded={handleFormLoad}>
                    </c-lwc_-generic-form>
                    <c-lwc_-generic-form
                        display-as-one-column="true"
                        object-api-name="Account"
                        record-id={recordData.AccountId}
                        fields={CONSTANTS.ACCOUNT_ADDRESS_EN}
                        preview-data="true"
                        onstartloading={handleStartLoading}
                        onformloaded={handleFormLoad}>
                    </c-lwc_-generic-form>
                    <c-lwc_-generic-form
                        display-as-one-column="true"
                        object-api-name="Contact"
                        record-id={recordData.Id}
                        fields={CONSTANTS.CONTACT_FROM_FIELDS_EN}
                        preview-data="true"
                        onstartloading={handleStartLoading}
                        onformloaded={handleFormLoad}>
                    </c-lwc_-generic-form>
                </div>
            </div>

            <div lwc:elseif={step2} id="step2">
                <div id="actions-top" class="main-actions">
                    <c-lwc_-p-f-a-s-actions final-step={finalStep} actions-style={actionsStyle} language={language} onnext={handleNext} onprevious={handlePrevious} onsave={handleSave}></c-lwc_-p-f-a-s-actions>
                </div>
                <!-- Blank Sapce -->
                <div class="blank-space-20"></div>
                <c-lwc_-p-f-a-s-accordion records={caps} language={language} oncomponentschange={handleEventData}></c-lwc_-p-f-a-s-accordion>
            </div>

            <div lwc:elseif={step3} class="final-step-message" id="step3">
                {finished_message}
                <div class="info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none">
                        <path d="M12 17.75C12.4142 17.75 12.75 17.4142 12.75 17V11C12.75 10.5858 12.4142 10.25 12 10.25C11.5858 10.25 11.25 10.5858 11.25 11V17C11.25 17.4142 11.5858 17.75 12 17.75Z" fill="#1C274C"/>
                        <path d="M12 7C12.5523 7 13 7.44772 13 8C13 8.55228 12.5523 9 12 9C11.4477 9 11 8.55228 11 8C11 7.44772 11.4477 7 12 7Z" fill="#1C274C"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.25 12C1.25 6.06294 6.06294 1.25 12 1.25C17.9371 1.25 22.75 6.06294 22.75 12C22.75 17.9371 17.9371 22.75 12 22.75C6.06294 22.75 1.25 17.9371 1.25 12ZM12 2.75C6.89137 2.75 2.75 6.89137 2.75 12C2.75 17.1086 6.89137 21.25 12 21.25C17.1086 21.25 21.25 17.1086 21.25 12C21.25 6.89137 17.1086 2.75 12 2.75Z" fill="#1C274C"/>
                    </svg>
                    <span>{info_message}</span>
                </div>
            </div>

            <!-- Blank Sapce -->
            <div class="blank-space-20"></div>

            <!-- Footer -->
            <div lwc:if={hasActions} id="actions" class="main-actions">
                <c-lwc_-p-f-a-s-actions final-step={finalStep} actions-style={actionsStyle} language={language} onnext={handleNext} onprevious={handlePrevious} onsave={handleSave}></c-lwc_-p-f-a-s-actions>
            </div>
        </div>

    </article>
</template>