:host .slds-visual-picker_vertical .slds-visual-picker__figure,
.slds-visual-picker_vertical .slds-visual-picker__body {
    width: min-content;
    height: auto;
}

:host .slds-visual-picker__figure {
    display: flex;
    background: var(--lwc-colorBackgroundAlt, rgb(255, 255, 255));
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    border: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, rgb(221, 219, 218));
    border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
    text-align: center;
    width: 133px;
    height: 122px;
}

.text-title {
    width: 131px;
    height: 20px;
    font-size: 15px;
    margin: -9.3px -8px 56px;
    font-weight: 500;
    line-height: 1.08;
    text-align: center;
    color: #1e4477;

}

:host .slds-visual-picker input[disabled]~label .slds-visual-picker__figure {
    border-color: var(--lwc-colorBorderInputDisabled,rgb(201, 199, 197));
    background-color: #4194dd;
    box-shadow: none;
}

.modal-window {
    text-align: left;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s;
  }
  
span.bold {
font-family: 'fontKarbon-Semibold';
}

  .modal-window > div {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    height: 140px;
    background: #fff;
  }
  .modal-window header {
    font-weight: bold;
  }
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }

  span.bold {
    font-family: 'fontKarbon-Semibold';
  }
  
  .text-content {
    font-size: 18px;
  }