<template>
    <template if:true={show}>
        <fieldset class="slds-form-element">
            <legend class="slds-form-element__legend slds-form-element__label">{header}</legend>
            <div class="slds-form-element__control">
                <template for:each={items} for:item="item">
                    <div class={pickerClass} key={item.id}>
                        <!-- if disabled == used in summary component and icon are display from salected prestation objects created in lwcQlyprestations-->
                        <template if:true={item.disabled}>
                            <input class="selected-presta" type={pickerType} id={item.id} name={item.name} value={item.isSelected}  disabled/>
                            <label for={item.id}>
                                <template if:true={item.serviceIcon}>
                                    <span
                                        class="slds-visual-picker__figure slds-visual-picker__icon slds-align_absolute-center">
                                        <span class="slds-is-selected">
                                            <span class="slds-icon_container">
                                                <lightning-icon icon-name="action:check" size="medium"> </lightning-icon>
                                            </span>
                                        </span>
                                        <span class="slds-is-not-selected">
                                            <span class="slds-icon_container">
                                                <lightning-avatar size="large" src={item.serviceIcon} initials="" fallback-icon-name="standard:account" class="slds-m-right_small"></lightning-avatar>
                                            </span>
                                        </span>
                                    </span>
                                </template>

                                <template if:false={item.serviceIcon}>
                                    <span
                                        class="slds-visual-picker__figure slds-visual-picker__icon slds-align_absolute-center">
                                        <span class="slds-is-selected">
                                            <span class="slds-icon_container">
                                                <lightning-icon icon-name="action:check" size="medium"> </lightning-icon>
                                            </span>
                                        </span>
                                        <span class="slds-is-not-selected">
                                            <span class="slds-icon_container">
                                                <lightning-icon icon-name="standard:choice" size="medium"></lightning-icon>
                                            </span>
                                        </span>
                                    </span>
                                </template>

                                <span class="slds-visual-picker__body">
                                    <span class="slds-text-heading_small"></span>
                                    <span class="text-title">{item.name}</span>
                                </span>
                            </label>
                        </template>
                         <!-- if not disabled == used in summary component and icon are display from salected options retrieve from wire method-->
                        <template if:false={item.disabled}>
                            <input type={pickerType} id={item.id} data-product-id={item.id}  data-id="checkbox"  key={item.id} name={item.name} data-price={item.UnitPrice} data-request={item.Product2.QLY_ServiceType__c} data-icon={item.Product2.QLY_ServiceIcon__c} onchange={handleSelectedPrestation}/>
                          <!-- <lightning-input type="checkbox" key={item.Id} name={item.name} data-request={item.Product2.QLY_ServiceType__c} value={item.value}  onchange={handleSelectedPrestation}></lightning-input>-->
                          <label for={item.id}>
                            <template if:true={item.Product2.QLY_ServiceIcon__c}>
                                <span
                                    class="slds-visual-picker__figure slds-visual-picker__icon slds-align_absolute-center">
                                    <span class="slds-is-selected">
                                        <span class="slds-icon_container">
                                            <lightning-icon icon-name="action:check" size="medium"> </lightning-icon>
                                        </span>
                                    </span>
                                    <span class="slds-is-not-selected">
                                        <span class="slds-icon_container">
                                            <lightning-avatar size="large" src={item.Product2.QLY_ServiceIcon__c} initials="" fallback-icon-name="standard:account" class="slds-m-right_small"></lightning-avatar>
                                        </span>
                                    </span>
                                </span>
                            </template>
                            <template if:false={item.Product2.QLY_ServiceIcon__c}>
                                <span
                                    class="slds-visual-picker__figure slds-visual-picker__icon slds-align_absolute-center">
                                    <span class="slds-is-selected">
                                        <span class="slds-icon_container">
                                            <lightning-icon icon-name="action:check" size="medium"> </lightning-icon>
                                        </span>
                                    </span>
                                    <span class="slds-is-not-selected">
                                        <span class="slds-icon_container">
                                            <lightning-icon icon-name="standard:choice" size="medium"></lightning-icon>
                                        </span>
                                    </span>
                                </span>
                            </template>
                                <span class="slds-visual-picker__body">
                                    <span class="slds-text-heading_small"></span>
                                    <span class="text-title">{item.Name}</span>
                                </span>
                        </label>
                        </template>
                    </div>
                </template>
            </div>
        </fieldset>
    </template>
</template>