<template>
    <template if:true={popHead}>
        <div>
            <h2 style='font-size: x-large;
                        font-weight: 500;'>
                {popHead}
            </h2>
        </div>
    </template>
    <template if:true={message}>
        <div style="padding: 10px 0px">
            <p style="font-size: larger;">
                {message}
            </p>
        </div>
    </template>
    <div class="slds-grid slds-wrap" style="margin: 10px 0px; float: right;">
        <template if:true={cancelAction}>
            <div style="margin-right: 5px;">
                <lightning-button
                    label={labelCancel}
                    name="cancel"
                    data-action={cancelAction}
                    onclick={handleClick}>
                </lightning-button>
            </div>
        </template>
        <template if:true={backAction}>
            <div style="margin-right: 5px;">
                <lightning-button
                    label={labelBack}
                    name="back"
                    data-action={backAction}
                    onclick={handleClick}>
                </lightning-button>
            </div>
        </template>
        <template if:true={okAction}>
            <div>
                <lightning-button
                    variant="Brand"
                    label={labelOk}
                    name="ok"
                    data-action={okAction}
                    onclick={handleClick}>
                </lightning-button>
            </div>
        </template>
    </div>
</template>