.slds-form-element__label {
    font-size: 1rem !important;
    font-weight: bold
}

.body {
    padding: 10px 20px;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

thead {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #696666
}

tr th:last-child,
tr td:last-child {
    text-align: center;
}

td input {
    display: block;
    width: 100%;
    padding: .25rem .50rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}