<template>
    <lightning-card class="slds-m-around_medium" icon-name="" variant="base">

        <div slot="title"></div>
        <div slot="actions"></div>
        <div slot="footer" class="footer">
            <div class="slds-grid slds-grid_align-spread slds-m-around_medium">
                <template lwc:if={selectedSourceValue}>
                    <div class="slds-col">
                        <a href="/lightning/o/Index__c/list?filterName">
                            <lightning-button variant="destructive" label="Fermer" title="Annuler et Fermer"
                            onclick={handleCancel} style="font-size:13px;"></lightning-button></a>
                    </div>
                    <div class="slds-col">
                        <lightning-button variant="brand" label="Enregistrer" title="Enregistrer" onclick={handleSave}
                            style="font-size: 13px;"></lightning-button>
                    </div>
                </template>
            </div>
        </div>

        <!-- Body  -->
        <div class="slds-m-around_medium body" role="body">

            <!-- Header -->
            <div class="slds-border_bottom header" role="header">
                <div class="slds-form-element slds-m-bottom_medium">
                    <!-- <div class="slds-grid slds-grid_align-spread"> -->
                    <div class="slds-grid slds-grid_align-center">
                        <div class="slds-col" style="margin-right: 25px">
                            <label class="custom-combobox-label slds-form-element__label"><Strong>Mois</Strong></label>
                            <lightning-combobox name="Mois" label="Mois" value={selectedMonth} options={months}
                                onchange={handleChangeMonth} placeholder="Sélectionner un mois" required
                                variant="label-hidden">
                            </lightning-combobox>
                        </div>
                        <div class="slds-col" style="margin-left: 25px">
                            <label
                                class="custom-combobox-label slds-form-element__label"><Strong>Source</Strong></label>
                            <lightning-combobox name="Source" label="Source" value={selectedSourceValue} options={sources}
                                onchange={handleChangeSource} placeholder="Sélectionner une source" required
                                variant="label-hidden" style="width:400px;">
                            </lightning-combobox>
                        </div>
                    </div>
                </div>

                <div class="slds-m-bottom_medium">
                    <template lwc:if={selectedSourceValue}>
                        <template lwc:if={getMercurialeData}>
                            <div class="slds-col slds-text-align_center">
                                <h1 class="slds-text-heading_small">
                                    Enregistrement des indices pour la source <strong>{selectedSourceLabel}</strong>.
                                </h1>
                            </div>
                            <div class="slds-m-bottom_medium">
                                <template lwc:if={hasDetailRecord}>
                                    <div class="slds-col slds-text-align_center">
                                        <h2>
                                            ⚠️ Le mois et la source sélectionnés sont déjà liés à des valeurs 
                                            d'indice. <strong>Vous pouvez les modifier à tout moment</strong>.
                                        </h2>
                                    </div>
                                </template>
                            </div>
                        </template>
                    </template>
                    <template lwc:else><div></div></template>
                </div>
            </div>

            <!-- Main -->
            <div class="main" role="main">

                <template lwc:if={selectedSourceValue}>
                    <template lwc:if={getMercurialeData}>
                        <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped"
                            aria-label="Index values recording">
                            <thead>
                                <tr class="slds-line-height_reset">
                                    <th class="slds-cell_action-mode" scope="col" style="width:3.75rem">
                                        <div class="slds-truncate slds-assistive-text" title="Row number"></div>
                                    </th>
                                    <th class="" scope="col" style="width:9rem">
                                        <div class="" title="Family">Famille</div>
                                    </th>
                                    <th class="" scope="col" style="width:9rem">
                                        <div class="" title="SubFamily">Sous Famille</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Product reference">Référence</div>
                                    </th>
                                    <th class="" scope="col" style="width:9rem">
                                        <div class="" title="indiceValeur">Valeur</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <template for:each={getMercurialeData} for:item="mercurialeData" for:index="index">
                                    <tr class="slds-hint-parent" key={mercurialeData.masterId}>
                                        <td class="slds-cell_action-mode">
                                            <span class="slds-row-number slds-text-body_small slds-text-color_weak"></span>
                                        </td>
                                        <td data-label="Product reference label" class="">
                                            <div class="slds-truncate" title="Product Family name"
                                                name={mercurialeData.masterId}>{mercurialeData.family}
                                            </div>
                                        </td>
                                        <td data-label="Product reference label" class="">
                                            <div class="slds-truncate" title="Product Family name"
                                                name={mercurialeData.masterId}>{mercurialeData.subFamily}
                                            </div>
                                        </td>
                                        <td data-label="Product reference label" class="">
                                            <div class="slds-truncate" title="Product reference name"
                                                name={mercurialeData.masterId}><a href={mercurialeData.url} target="_blank">{mercurialeData.productName}</a>
                                            </div>
                                        </td>
                                        <td data-label="Indice Valeur" class="">
                                            <input type="number" step="0.01" tabindex={index} class="index-value"
                                                name={mercurialeData.masterId}
                                                value={mercurialeData.value}
                                                data-index-ref={mercurialeData.masterId}
                                                data-index-src={mercurialeData.source}
                                                placeholder="Entrer une valeur d'indice"
                                                onchange={handleInputValue}
                                            ></input>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </template>
                    <template lwc:else>
                        <div class="slds-col slds-text-align_center">
                            <h2 class="slds-text-heading_small">Pas de produits disponibles pour cette source</h2>
                        </div>
                    </template>
                </template>
                <template lwc:else>
                    <div class="slds-col slds-text-align_center">
                        <h2 class="slds-text-heading_small">Veuillez sélectionner une source...</h2>
                    </div>
                </template>
            </div>
        </div>
    </lightning-card>
</template>