<!--
  @description       : 
  @author            : MAIT - @moidriss
  @group             : 
  @last modified on  : 12-07-2023
  @last modified by  : MAIT - @moidriss
-->
<template> 
    <c-lwc_-language-switch></c-lwc_-language-switch>
    <div id="not-found" lwc:if={notFound}>
        <div class="warning">
            <img src={warning_img}>
            <div class="warning-text boldtext">
                {page_not_found}
            </div>
        </div>
    </div>
    <div lwc:if={waiting} class="slds-text-heading_large boldtext slds-align_absolute-center loader">
        <div class="main-logo">
            <img src={main_logo_img}>
        </div>
    </div>
    <!-- Pop Progress Bar -->
    <div lwc:if={displayModal} class="modal">
        <div style="--length: 100" role="list">
            <li style={progressBarState}>
                <div lwc:if={loader} class="main-logo">
                    <img src={main_logo_img}>
                </div>
                <h3>{progressMessage}</h3>
            </li>
        </div>
    </div>
    <c-lwc_-p-f-a-s-module lwc:if={recordInfo}
        language={language}
        record-data={recordInfo} 
        main-logo={main_logo_img}
        warning-img={warning_img}
        override-step={overrideStep}
        onformloaded={handleFormLoaded}
        onformstartloading={handleFormStartLoading}
        onrefreshprogressbar={handleProgressBarRefresh}
        onmodaldisplay={handleModalDisplay}
        onmodalmessagechange={handleModalMessage}>
    </c-lwc_-p-f-a-s-module>
</template>