.warning, .error {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
}

.warning > img, .error > img {
    height: 45px;
}

.warning-text {
    padding: 5px 15px;
    background: #fde3a7;
    border-radius: 5px;
}

.boldtext {
    font-family: "fontKarbon-Semibold";
    font-size: 23px;
    text-align: center;
}

.loader {
    position: absolute;
    background: white;
    inset: 0 0 0 0;
    z-index: 1;
}

.main-logo > img {
    height: 140px;
    animation:magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
}

@keyframes magic { 
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Progress Bar Styling */
p {
	margin: 0;
	line-height: 1.6;
}

.modal div {
	list-style: none;
	counter-reset: list;
	padding: 0 1rem;
}

li {
	--stop: calc(100% / var(--length) * var(--i));
	--l: 62%;
	--l2: 88%;
	--h: calc((var(--i) - 1) * (180 / var(--length)));
	--c1: #e07026;
	--c2: #ffd5b9;
	
    display: flex;
    align-items: center;
	position: relative;
	counter-increment: list;
	max-width: 45rem;
	margin: 2rem auto;
	padding: 2rem 1rem 1rem;
	box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	overflow: hidden;
	background-color: white;
    transition: all 0.3s ease;
}

li::before {
	content: '';
	display: block;
	width: 100%;
	height: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to right, var(--c1) var(--stop), var(--c2) var(--stop));
    transition: all 0.3s ease;
}

h3 {
	display: flex;
	align-items: baseline;
	color: rgb(70 70 70);
    transition: all 0.3s ease;
}

@media (min-width: 40em) {
	li {
		margin: 3rem auto;
		padding: 3rem 2rem 2rem;
	}
	
	h3 {
		font-size: 1.5rem;
	}
	
	h3::before {
		margin-right: 1.5rem;
	}
}

/* Modal Styling */
.modal {
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(0,0,0,0.2);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

li > .main-logo {
    padding-left: 0;
}

li > .main-logo > img {
    height: 50px;
    filter: grayscale(1);
    animation:magic-greyed 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
}

@keyframes magic-greyed { 
    0% {
        opacity: .3;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: .3;
        transform: scale(1);
    }
}