<apex:page standardController="Account"  extensions="OpportunitiesWithoutSharing" lightningStyleSheets="true">
<apex:slds />
 <div class="slds-scope">
     <apex:pageBlock >
        <apex:pageBlockTable value="{!Opp}" var="o" >                                       
            <apex:column ><apex:facet name="header">Utilisateur</apex:facet><apex:outputLink value="/_ui/core/userprofile/UserProfilePage?u={!o['OwnerID']}" id="theLink" target="_parent">{!o['OwnerName']}</apex:outputLink></apex:column>
            <apex:column ><apex:facet name="header">Filiale</apex:facet>{!o['CompanyName']}</apex:column>
            <!--<apex:column ><apex:facet name="header">N° Téléphone</apex:facet>{!o['phone']}</apex:column>-->
            <!--<apex:column ><apex:facet name="header">N° Mobile</apex:facet>{!o['mobilePhone']}</apex:column>-->
            <apex:column ><apex:facet name="header">N° Téléphone</apex:facet><apex:outputText value="{!BLANKVALUE(o['mobilePhone'],o['phone'])}"></apex:outputText></apex:column>
            <apex:column ><apex:facet name="header">Nombre d'opportunités</apex:facet>{!o['cnt']}</apex:column>
        </apex:pageBlockTable>
    </apex:pageBlock>
 </div>
    
</apex:page>