<apex:page controller="ProductSearchExt" tabStyle="Opportunity" lightningStylesheets="true">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <apex:slds />
    <div class="slds-scope">
            <div class="slds-page-header">
                    <div class="slds-page-header__row">
                            <div class="slds-page-header__col-title">
                                    <apex:outputPanel rendered="{!!isRequestFromQuote}">
                                        <div class="slds-media">
                                            <div class="slds-media__figure">
                                                <span class="slds-icon_container slds-icon-standard-opportunity" title="opportunity">
                                                    <svg aria-hidden="true" class="slds-icon">
                                                        <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#opportunity')}"></use>
                                                    </svg>
                                                    <span class="slds-assistive-text">opportunity</span>
                                                </span>
                                            </div>
                                            <div class="slds-media__body">
                                                <div class="slds-page-header__name">
                                                    <div class="slds-page-header__name-title">
                                                        <h1>
                                                            <span id="spanTitleId" class="slds-page-header__title slds-truncate" title="Sélectionner un catalogue de prix pour {!$CurrentPage.Parameters.OppName}">Opportunité: {!$CurrentPage.Parameters.OppName}</span>
                                                            <p id="titleId" class="slds-page-header__name-meta">Sélection du détail de déchet &amp; service pour Opportunité {!$CurrentPage.Parameters.OppName}</p>
                                                        </h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!isRequestFromQuote}">
                                        <div class="slds-media">
                                            <div class="slds-media__figure">
                                                <span style="background-color: #88c651;padding:.2em 1em;" class="slds-icon_container slds-icon-standard-quote" title="quote">
                                                    <svg aria-hidden="true" class="slds-icon">
                                                        <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#quotes')}"></use>
                                                    </svg>
                                                    <span class="slds-assistive-text">opportunity</span>
                                                </span>
                                            </div>
                                            <div class="slds-media__body">
                                                <div class="slds-page-header__name">
                                                    <div class="slds-page-header__name-title">
                                                        <h1>
                                                            <span id="spanTitleId" class="slds-page-header__title slds-truncate" title="Sélectionner un catalogue de prix pour {!$CurrentPage.Parameters.QuoteName}">Devis: {!$CurrentPage.Parameters.QuoteName}</span>
                                                            <p id="titleId" class="slds-page-header__name-meta">Sélection du détail de déchet &amp; service pour le devis {!$CurrentPage.Parameters.QuoteName}</p>
                                                        </h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </apex:outputPanel>
                                </div>
                    </div>
                    <!-- custom script to replace ++ chars that appear sometimes -->
                    <script>
                        var currentText = document.getElementById("titleId").innerHTML;
                        currentText = currentText.replaceAll('+',' ');
                        document.getElementById("titleId").innerHTML = currentText;
                        var currentTextSpan = document.getElementById("spanTitleId").innerHTML;
                        currentTextSpan = currentTextSpan.replaceAll('+',' ');
                        document.getElementById("spanTitleId").innerHTML = currentTextSpan;
                    </script>
                </div> 
        <apex:form id="FormId">

            <div id="divMainContainer" style="display:flex" class="slds-form--stacked slds-grid slds-wrap slds-grid--pull-padded slds-m-top--large">
            <apex:pagemessages />
            <apex:pageBlock tabStyle="Opportunity" >
                <!-- <div align="center">                        
                            <apex:commandButton action="{!saveProcess}" value="Enregistrer" styleClass="slds-vf-button_brand" status="status" rerender="FormId"/> 
                           <apex:commandButton action="{!cancelProcess}" value="Annuler" immediate="true" html-formnovalidate="formnovalidate"  styleClass="slds-vf-button_brand"/>                       
                     </div>  -->  
                <apex:pageBlockSection columns="1">                    
                    <apex:pageBlockTable value="{!oppLineItems}" var="line" styleClass="slds-table slds-table_cell-buffer slds-table_col-bordered slds-table_striped" columnsWidth="150px,120px,120px,120px,120px,120px,120px,120px,120px,150px,120px,120px,120px,200px,200px,180px,180px" > <!--columnsWidth="12%,10%,5%,10%,10%,5%,10%,8%,10%,10%,10%" -->
                        <apex:column style="white-space:normal;" headerValue="Détail de Déchet"><apex:outputField value="{!line.Tech_Name2__c}"/></apex:column>
                        <apex:column headerValue="Description"><apex:InputField value="{!line.Description}" /></apex:column>
                        <apex:column headerValue="N°CAP"><apex:InputField value="{!line.N_CAP__c}" /></apex:column>
                        <apex:column headerValue="Filière trt"><apex:InputField value="{!line.Sector__c}" /></apex:column>
                        <apex:column headervalue="Quantité"><apex:inputField value="{!line.quantity}"/></apex:column>
                        <apex:column headervalue="Taux de TVA"><apex:inputField value="{!line.VATRate__c}"/></apex:column>
                        <apex:column headerValue="Prix"  html-placeholder="Prix d'achat"><apex:inputField value="{!line.UnitPrice}" required="true"/></apex:column>
                        <apex:column headerValue="Unité"><apex:inputField value="{!line.Unit__c}"/></apex:column>
                        <apex:column headerValue="TGAP"><apex:inputField value="{!line.IncludedTGAP__c}"/></apex:column>
                        <apex:column headerValue="Conditionnement"><apex:inputField value="{!line.Packaging__c}"/></apex:column>
                        <apex:column headerValue="Type véhicule"><apex:inputField value="{!line.TransportType__c}"/></apex:column>
                        <apex:column headerValue="Exutoire"><apex:inputField value="{!line.Outlet__c}"/></apex:column>
                        <apex:column headerValue="INCOTERMS"><apex:inputField value="{!line.Incoterms__c}"/></apex:column>
                        <apex:column headerValue="Description INCOTERMS"><apex:inputField value="{!line.IncotermsDesc__c}"/></apex:column>
                        <apex:column headerValue="Fréquence de Collecte"><apex:inputField value="{!line.CollectRate__c}"/></apex:column>
                        <apex:column headerValue="Prix du litre de GO"><apex:inputField value="{!line.GoLitrePrice__c}"/></apex:column>
                        <apex:column headerValue="Part du carburant"><apex:inputField value="{!line.FuelPart__c}"/></apex:column>
                    </apex:pageBlockTable> 
                </apex:pageBlockSection>
                
                <div class="slds-docked-form-footer" align="center">                        
                        <apex:commandButton action="{!saveProcess}" value="Enregistrer" styleClass="slds-vf-button_brand" status="status" rerender="FormId"/> 
                       <apex:commandButton action="{!cancelProcess}" value="Annuler" immediate="true" html-formnovalidate="formnovalidate"  styleClass="slds-vf-button_brand"/>                       
                 </div>              
                
               <!-- <apex:pageBlockButtons >
                    <apex:commandButton action="{!saveProcess}" value="Enregistrer"/> 
                    <apex:commandButton action="{!cancelProcess}" value="Annuler" immediate="true" html-formnovalidate="formnovalidate" />
                </apex:pageBlockButtons> -->
                
            </apex:pageBlock>          
        </div>
        </apex:form>
         <!-- --------------------------------------Spinner-------------------------------->
        <style>
                /* This is for the full screen DIV */
                .popupBackground {
                    /* Background color */
                    background-color:lightgrey;
                    opacity: 0.20;
                    filter: alpha(opacity = 20);
                
                    /* Dimensions */
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 998;
                    position: absolute;
                    
                    /* Mouse */
                    cursor:wait;
                }
             
                /* This is for the message DIV */
                .PopupPanel {             
                    /* Dimensions */
                    left: 50%;
                    width: 400px;
                    margin-left: -45px;
                    top: 50%;
                    height: 70px;
                    margin-top: -50px;
                    z-index: 999;
                    position: fixed;
                    
                    /* Mouse */
                    cursor:pointer;
                }
            </style>
            <apex:actionStatus id="status" stopText="">
                <apex:facet name="start">
                    <div>
                        <div class="popupBackground" />
                        <div class="PopupPanel">
                            <img src="{!$Resource.slds_spinner_brand}" style="max-height:95px;"/>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionStatus>
    </div>
    </html>
</apex:page>