<apex:page controller="ProductSearchExt" tabStyle="Opportunity" lightningStylesheets="true" action="{!selectPriceBook}">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <apex:slds />
    <div class="slds-scope">
        <div class="slds-page-header">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                    <apex:outputPanel rendered="{!!isRequestFromQuote}">
                        <div class="slds-media">
                            <div class="slds-media__figure">
                                <span class="slds-icon_container slds-icon-standard-opportunity" title="opportunity">
                                    <svg aria-hidden="true" class="slds-icon">
                                        <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#opportunity')}"></use>
                                    </svg>
                                    <span class="slds-assistive-text">opportunity</span>
                                </span>
                            </div>
                            <div class="slds-media__body">
                                <div class="slds-page-header__name">
                                    <div class="slds-page-header__name-title">
                                        <h1>
                                            <span class="slds-page-header__title slds-truncate" title="Sélectionner un catalogue de prix pour {!$CurrentPage.Parameters.OppName}">Opportunité: {!$CurrentPage.Parameters.OppName}</span>
                                            <p class="slds-page-header__name-meta">Sélection du détail de déchet &amp; service pour Opportunité {!$CurrentPage.Parameters.OppName}</p>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!isRequestFromQuote}">
                        <div class="slds-media">
                            <div class="slds-media__figure">
                                <span style="background-color: #88c651;padding:.2em 1em;" class="slds-icon_container slds-icon-standard-quote" title="quote" >
                                    <svg aria-hidden="true" class="slds-icon">
                                        <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#quotes')}"></use>
                                    </svg>
                                    <span class="slds-assistive-text">opportunity</span>
                                </span>
                            </div>
                            <div class="slds-media__body">
                                <div class="slds-page-header__name">
                                    <div class="slds-page-header__name-title">
                                        <h1>
                                            <span class="slds-page-header__title slds-truncate" title="Sélectionner un catalogue de prix pour {!$CurrentPage.Parameters.QuoteName}">Devis: {!$CurrentPage.Parameters.QuoteName}</span>
                                            <p class="slds-page-header__name-meta">Sélection du détail de déchet &amp; service pour le devis {!$CurrentPage.Parameters.QuoteName}</p>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </apex:outputPanel>
                </div>
            </div>
        </div>
        <apex:form >
            <apex:pagemessages />
            <apex:outputPanel rendered="{!!noAccess}">
                <apex:actionFunction name="refreshPageSize" action="{!refreshPageSize}" status="fetchStatus" reRender="pbId" />
                <div class="slds-grid slds-grid_vertical">
                    <div class="slds-col">
                        <div class="slds-align_absolute-left slds-m-left_xx-large" style="text-align: left; width: 50rem; background-color: rgb(255, 255, 255);">
                            <h2>
                                <p class="slds-page-header__name-meta">
                                    Entrez votre mot-clé et vos critères de filtre, puis cliquez sur Rechercher pour commencer la recherche.
                                    <br/> Cliquez sur plus de filtres pour utiliser plusieurs filtres.
                                    <br/> Les résultats de recherche tiennent compte de tous les enregistrements qui correspondent
                                    à la fois au mot-clé et aux filtres.
                                </p>
                            </h2>
                        </div>
                    </div>
                    <div class="slds-col">
                        <div class="blank">&nbsp;</div>
                    </div>
                    <div class="slds-col">                       
                        <div  style="text-align: center; width: 100%; background-color: rgb(255, 255, 255);">                       
                            <apex:pageBlock tabStyle="Opportunity">
                                    <b style="text-align: center; width: 100%;">Rechercher des détails de déchets services</b>
                                <apex:pageBlockSection columns="2">
                                    <apex:inputText label="Mot clé" value="{!keyword}" />
                                    <!--<apex:inputField value="{!PriceBookEntry.Product2.family}" id="family" />-->
                                    <apex:selectList label="Nature" value="{!productFamily}" multiselect="false" size="1">
                                        <apex:selectOption itemValue="" itemLabel="--None--" />
                                        <apex:selectOption itemValue="Conditionnement" itemLabel="Conditionnement" />
                                        <apex:selectOption itemValue="Prestation" itemLabel="Prestation" />
                                        <apex:selectOption itemValue="Traitement" itemLabel="Traitement" />
                                        <apex:selectOption itemValue="Valorisation" itemLabel="Valorisation" />
                                    </apex:selectList>
                                </apex:pageBlockSection>
                                <apex:commandButton action="{!search}" value="Rechercher" styleClass="slds-vf-button_brand" />
                            </apex:pageBlock>
                        </div>
                    </div>
                </div>
                <div class="blank">&nbsp;</div>
                <div  style="text-align: center; width: 100%; background-color: rgb(255, 255, 255);">
                    <div class="slds-border_top">
                        <apex:pageBlock tabStyle="Opportunity" id="pbId">
                          <!--  <br/>
                            <div align="center">
                                <apex:commandButton action="{!processSelected}" value="Sélectionner" styleClass="slds-vf-button_brand" />
                                <apex:commandButton action="{!cancelProcess}" value="Annuler" styleClass="slds-vf-button_brand" />
                            </div>
                            <br/> --> 
                            <apex:pageBlockSection columns="1">
                                <apex:pageBlockTable value="{!product}" var="pr" align="center" id="table">
                                    <apex:column >
                                        <apex:facet name="header">
                                            <apex:inputCheckbox >
                                                <apex:actionSupport event="onclick" onsubmit="checkAll(this)" rerender="Selected_PBS" />
                                            </apex:inputCheckbox>
                                        </apex:facet>
                                        <apex:inputCheckbox value="{!pr.selected}" id="checkedone" />
                                    </apex:column>
                                    <apex:column value="{!pr.pbe.LogoNature__c}" />
                                    <apex:column >
                                        <apex:facet name="header">Lignes</apex:facet>
                                        <apex:inputText value="{!pr.lignes}" style="width:50px" />
                                    </apex:column>
                                    <apex:column >
                                        <apex:facet name="header">Nom du détail de déchet &amp; service</apex:facet>
                                        <apex:outputLink value="/{!pr.pbe.Product2.Id}" id="theLink" target="_parent">{!pr.pbe.Product2.Name}</apex:outputLink>
                                    </apex:column>
                                    <apex:column value="{!pr.pbe.product2.Family}" />
                                    <apex:column value="{!pr.pbe.UnitPrice}" />
                                    <apex:column value="{!pr.pbe.product2.EuropeanCode__c}" />
                                </apex:pageBlockTable>
                            </apex:pageBlockSection>
                            <apex:panelGrid columns="8">
                                <apex:selectList value="{!size}" multiselect="false" size="1" onchange="refreshPageSize();">
                                    <apex:selectOptions value="{!paginationSizeOptions}" />
                                </apex:selectList>
    
                                <apex:commandButton status="fetchStatus" reRender="pbId" value="First" action="{!setCon.first}" disabled="{!!setCon.hasPrevious}"
                                    title="First Page" styleClass="slds-vf-button_brand" />
    
                                <apex:commandButton status="fetchStatus" reRender="pbId" value="Previous" action="{!setCon.previous}" disabled="{!!setCon.hasPrevious}"
                                    title="Previous Page" styleClass="slds-vf-button_brand" />
    
                                <apex:commandButton status="fetchStatus" reRender="pbId" value="Next" action="{!setCon.next}" disabled="{!!setCon.hasNext}"
                                    title="Next Page" styleClass="slds-vf-button_brand" />
    
                                <apex:commandButton status="fetchStatus" reRender="pbId" value="Last" action="{!setCon.last}" disabled="{!!setCon.hasNext}"
                                    title="Last Page" styleClass="slds-vf-button_brand" />
    
                                <apex:outputText >{!(setCon.pageNumber * size)+1-size}-{!IF((setCon.pageNumber * size)>noOfRecords, noOfRecords,
                                    (setCon.pageNumber * size))} of {!noOfRecords}
                                </apex:outputText>
    
                                <apex:outputPanel >
                                    <apex:actionStatus id="fetchStatus">
                                        <apex:facet name="start">
                                            <img src="/img/loading.gif" />
                                        </apex:facet>
                                    </apex:actionStatus>
                                </apex:outputPanel>
    
                            </apex:panelGrid>
                        </apex:pageBlock>
                        <div class="slds-docked-form-footer" align="center">
                            <apex:commandButton action="{!processSelected}" value="Sélectionner" styleClass="slds-vf-button_brand" />
                            <apex:commandButton action="{!cancelProcess}" value="Annuler" styleClass="slds-vf-button_brand" />
                        </div>
                    </div>
                </div>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!noAccess}">
                <apex:commandButton action="{!cancelProcess}" value="Annuler" styleClass="slds-vf-button_brand" />
            </apex:outputPanel>
            <br/>

        </apex:form>
        <script>
            function checkAll(cb) {
                var inputElem = document.getElementsByTagName("input");
                for (var i = 0; i < inputElem.length; i++) {
                    if (inputElem[i].id.indexOf("checkedone") != -1)
                        inputElem[i].checked = cb.checked;
                }
            }
        </script>
    </div>

    </html>
</apex:page>