<apex:page standardController="Opportunity" extensions="VFC_OpportunitySelectRecordType" recordSetVar="opport"  tabStyle="Opportunity" lightningStylesheets="true"> 
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <apex:slds />
    <div class="slds-scope"> 
        
        
        <!-- <div class="content">
            <img src="/s.gif" alt="Opportunité" class="pageTitleIcon" title="Opportunité"/>
            <h1 class="pageType">Nouvelle Opportunité&nbsp;
                <span class="titleSeparatingColon">:</span>
            </h1>
            <br/>
            <h2 class="pageDescription" style="font-size:1.8em;font-weight: normal;line-height: 1.1em;">Sélectionner un type d'enregistrement d'opportunité</h2>
            <div class="blank">&nbsp;</div>
        </div> -->
        <div class="slds-page-header">
                <div class="slds-page-header__row">
                    <div class="slds-page-header__col-title">
                        <div class="slds-media">
                            <div class="slds-media__figure">
                                <span class="slds-icon_container slds-icon-standard-opportunity" title="opportunity">
                                    <svg aria-hidden="true" class="slds-icon">
                                        <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#opportunity')}"></use>
                                    </svg>
                                    <span class="slds-assistive-text">opportunity</span>
                                </span>
                            </div>
                            <div class="slds-media__body">
                                <div class="slds-page-header__name">
                                    <div class="slds-page-header__name-title">
                                        <h1>
                                            <span class="slds-page-header__title slds-truncate" title="Sélectionner un type de relation d'opportunité">Sélectionner un type de relation d'opportunité</span>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <apex:form >        
            <apex:pageBlock title="">
                <apex:pageMessages />
                <div style="padding: 1rem;">
                    <div class="slds-align_absolute-left" style="text-align: center; width: 50rem; background-color: rgb(255, 255, 255);">
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="combobox-unique-id-2">Type de relation</label>
                            <apex:selectList id="relatedOpt" value="{!relatedOpt}" size="1">
                                <apex:actionSupport event="onchange" action="{!updateRecordType}" />
                                <apex:selectOptions value="{!relationType}" />
                            </apex:selectList>
                        </div>
                    </div>
                </div>

                <br/> <br/>
                <apex:outputPanel Rendered="{!displayRecordType}">
                        <div style="padding: 1rem;">
                            <div class="slds-align_absolute-left" style="text-align: center; width: 50rem; background-color: rgb(255, 255, 255);">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="combobox-unique-id-2">Type d'enregistrement d'opportunité</label>
                                    <apex:selectList id="recordType" value="{!recordType}" size="1">
                                        <apex:actionSupport event="onchange" action="{!updateButton}" />
                                        <apex:selectOptions value="{!recordsTypesSelect}" />
                                    </apex:selectList>
                                </div>
                            </div>
                        </div>
                        <br/>
                    </apex:outputPanel>                
                <br/> <br/>
                <div class="slds-border_top" align="center">
                        <div class="blank">&nbsp;</div>
                        <apex:commandButton value="Valider" action="{!redirectToAccount}" reRender="nothing" rendered="{!displayButton}" styleClass="slds-vf-button_brand" />
                </div>              
            </apex:pageBlock>
            
        </apex:form>
        
        <div class="slds-align_absolute-left slds-m-left_xx-large" style="text-align: left; width: 50rem; background-color: rgb(255, 255, 255);">
                <h1>
                    <span class="slds-page-header__title slds-truncate" title="Sélectionner un type de relation d'opportunité">Types d'enregistrement d'opportunité disponibles</span>
                </h1>
        </div>
        <div class="blank">&nbsp;</div>
        <div class="slds-align_absolute-center" style="text-align: center; width: 95%; background-color: rgb(255, 255, 255);">
            <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th class="" scope="col">
                            <div class="slds-truncate slds-text-title_caps" title="Nom du type d'enregistrement">Nom du type d'enregistrement</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate slds-text-title_caps" title="Description">Description</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <apex:outputPanel Rendered="{!!displayRecordType}">
                        <tr class="slds-hint-parent">
                            <td data-label="Opportunité Standard">
                                <div class="slds-truncate" title="Opportunité Standard">Opportunité Standard</div>
                            </td>
                            <td data-label="Opportunité répondant à un besoin client">
                                <div class="slds-truncate" title="Opportunité répondant à un besoin client">Opportunité répondant à un besoin client</div>
                            </td>
                        </tr>
                        <tr class="slds-hint-parent">
                            <td data-label="Opportunité Intermédiaire">
                                <div class="slds-truncate" title="Opportunité Intermédiaire">Opportunité Intermédiaire</div>
                            </td>
                            <td data-label="Opportunité porteuse d'autres opportunitées">
                                <div class="slds-truncate" title="Opportunité répondant à un besoin client">Opportunité porteuse d'autres opportunitées</div>
                            </td>
                        </tr>
                    </apex:outputPanel>
                    <apex:outputPanel Rendered="{!displayRecordType}">
                        <tr class="slds-hint-parent">
                            <td data-label="Offre SPEICHIM ">
                                <div class="slds-truncate" title="01 Offre SPEICHIM (Standard)">01 Offre SPEICHIM (Standard)</div>
                            </td>
                            <td data-label="Offre SPEICHIM ">
                                <div class="slds-truncate" title="Type d'enregistrement spécifique au offres de type E - SPEICHIM">Type d'enregistrement spécifique au offres de type E - SPEICHIM</div>
                            </td>
                        </tr>
                        <tr class="slds-hint-parent">
                            <td data-label="02 Offre OG / GD (Standard)">
                                <div class="slds-truncate" title="02 Offre OG / GD (Standard)">02 Offre OG / GD (Standard)</div>
                            </td>
                            <td data-label="Offre SPEICHIM ">
                                <div class="slds-truncate" title="Offres Globales / Gestion déléguée">Offres Globales / Gestion déléguée</div>
                            </td>
                        </tr>
                        <tr class="slds-hint-parent">
                            <td data-label="03 Appel d'offre publique (Standard)">
                                <div class="slds-truncate" title="03 Appel d'offre publique (Standard)">03 Appel d'offre public (Standard)</div>
                            </td>
                            <td data-label="Offre SPEICHIM ">
                                <div class="slds-truncate" title="Type d'enregistrement spécifique au processus de vente des appels d'offres publiques">Type d'enregistrement spécifique au processus de vente des appels d'offres publics</div>
                            </td>
                        </tr>
                        <tr class="slds-hint-parent">
                            <td data-label="Offre SPEICHIM ">
                                <div class="slds-truncate" title="04 Offre prestation sur site (Standard)">04 Offre prestation sur site (Standard)</div>
                            </td>
                            <td data-label="Offre SPEICHIM ">
                                <div class="slds-truncate" title="SUI / Désamiantage / Démolition / Dépollution">SUI / Désamiantage / Démolition / Dépollution</div>
                            </td>
                        </tr>
                        <tr class="slds-hint-parent">
                            <td data-label="Offre SPEICHIM ">
                                <div class="slds-truncate" title="05 Autre offre au secteur public (Standard)">05 Autre offre au secteur public (Standard)</div>
                            </td>
                            <td data-label="Offre SPEICHIM ">
                                <div class="slds-truncate" title="SUI / Désamiantage / Démolition / Dépollution">SConsultation CH / Service Technique / …</div>
                            </td>
                        </tr>
                        <tr class="slds-hint-parent">
                            <td data-label="Offre SPEICHIM ">
                                <div class="slds-truncate" title="06 Autre offre au secteur privé (Standard)">06 Autre offre au secteur privé (Standard)</div>
                            </td>
                            <td data-label="Offre SPEICHIM ">
                                <div class="slds-truncate" title="BE / Indépendants / ...">BE / Indépendants / ...</div>
                            </td>
                        </tr>
                        <tr class="slds-hint-parent">
                            <td data-label="Offre REFIOM ">
                                <div class="slds-truncate" title="07 Offre REFIOM (Standard)">07 Offre REFIOM (Standard))</div>
                            </td>
                            <td data-label="Offre REFIOM ">
                                <div class="slds-truncate" title="Exutoire - REFIOM">Exutoire - REFIOM</div>
                            </td>
                        </tr>
                    </apex:outputPanel>

                </tbody>
            </table>
        </div>     
    </div>
    </html>
</apex:page>