<apex:page Controller="QLIProductSearchExt" tabStyle="Quote" lightningStylesheets="true">
    <apex:slds />
    <div class="slds-scope">
        <div class="content">
            <br/>
            <img src="/s.gif" alt="Quote" class="pageTitleIcon" title="Quote"/>
            <h3 class="pageType" style="font-size:1em;font-weight: bold;">Ajouter des détails de déchet &amp; service à</h3>
            <br/>
            <h1 class="OppName"  style="font-size:1.8em;font-weight: normal;">{!$CurrentPage.Parameters.QuoName}</h1>
            <br/>
            <br/>
            <h3 class="pageDescription" style="font-size:1em;font-weight: normal;">Ajouter des détails de déchets &amp; services à ces opportunités depuis le catalogue de prix
            </h3>
            
            <div class="blank">&nbsp;</div>
        </div>  
        <apex:form >
            <apex:pagemessages />
            <apex:pageBlock >
                
                <apex:pageBlockSection >
                    
                    <apex:pageBlockTable value="{!quoLineItems}" var="line" >
                        <apex:column headerValue="Détail de Déchet & Service"><apex:outputField value="{!line.TECH_Name2__c}"/></apex:column>
                        <apex:column headerValue="Description de la ligne"><apex:InputField value="{!line.Description}" /></apex:column>
                        <apex:column headerValue="N°CAP"><apex:InputField value="{!line.N_CAP__c}" /></apex:column>
                        <apex:column headerValue="Filière"><apex:InputField value="{!line.Sector__c}" /></apex:column>
                        <apex:column headervalue="Quantité annuelle"><apex:inputField value="{!line.quantity}"/></apex:column>
                        <apex:column headerValue="Prix"><apex:inputField value="{!line.UnitPrice}" required="true"/></apex:column>
                        <apex:column headerValue="Unité de facturation"><apex:inputField value="{!line.Unit__c}"/></apex:column>
                        <apex:column headerValue="TGAP"><apex:inputField value="{!line.IncludedTGAP__c}"/></apex:column>
                        <apex:column headerValue="Conditionnement"><apex:inputField value="{!line.Packaging__c}"/></apex:column>
                        <apex:column headerValue="Type de véhicule"><apex:inputField value="{!line.TransportType__c}"/></apex:column>
                        <apex:column headerValue="Traitement"><apex:inputField value="{!line.Treatment__c}"/></apex:column>
                    </apex:pageBlockTable> 
                </apex:pageBlockSection>
                <apex:pageBlockButtons >
                    <apex:commandButton action="{!saveProcess}" value="Enregistrer"/> 
                    <apex:commandButton action="{!cancelProcess}" value="Annuler" immediate="true" html-formnovalidate="formnovalidate" />
                </apex:pageBlockButtons>
                
            </apex:pageBlock>
        </apex:form>
    </div>
</apex:page>