<apex:page sidebar="false" controller="UploadData" showHeader="false" docType="html-5.0">
   <apex:form >
      <apex:sectionHeader title="Upload data from CSV file"/>
      <apex:pagemessages />
      <apex:pageBlock rendered="{!(ISNULL(uploadedQuoteLine))}">
             <!--  Component to allow user to upload file from local machine -->
             <center>
              <apex:inputFile value="{!contentFile}" filename="{!nameFile}" /> <apex:commandButton action="{!ReadFile}" value="Upload File" id="theButton" style="width:70px;" />
              
             </center>  
      
      <!-- After the user clicks the 'Upload File' button, this section displays the inserted data -->
          
       <!--Entete data..................................................................................... -->
     
          <!--Quote Line data..................................................................................... -->
       </apex:pageBlock>
       <apex:pageBlock >
           <apex:pageblocktable value="{!uploadedQuoteLine}" var="ql" id="pageblock2" rendered="{!NOT(ISNULL(uploadedQuoteLine))}" >

               <apex:column headerValue="Demande de service importée!">
                   <apex:outputField value="{!ql.ServiceDemand__c}" />
                   <dir>
                     <h1>
                        <apex:outputLink value="https://transfo-tredi.cs88.force.com/s/" id="theLink">Réaliser un nouveau import</apex:outputLink> 
                       </h1>  
                   </dir>
               </apex:column>
               
           </apex:pageblocktable> 
          

      </apex:pageBlock>       
   </apex:form>   
</apex:page>