<apex:page standardController="FIP_FIP__c" recordSetVar="FIP_FIP" extensions="FIP_LEXCSVExportController" action="{!init}">
    <apex:slds />

    <div class="slds-scope">
        <apex:pagemessages />
        <!-- Implement the Salesforce Lightning Design System -->
        <apex:includeLightning />
        <div id="LcDisplayId"></div>
    </div>
    <script>
        // Here 'VfApp' Is Lightning Application Name     
        $Lightning.use("c:LA_FipCsvExport", function () {
            /* 'LC_CreateOppSousTrait' is Lightning Component Name which we are Displaying In Vf Page 
             * syntax for create lightning component dynamically :
             * $Lightning.createComponent(String type, Object attributes, String locator, function callback) */
            $Lightning.createComponent("c:LC_FipCsvExport",
                {
                    // Set Lightning Component Attributes Property before creating Lightning Component In Visualforce page                    
                    ListOfFip: '{!listFIP}'

                },
                "LcDisplayId",
                function (component) {
                    // create component Callback, Lightning Component has been Created,
                    // Now you can set more lightning Component attributes here,
                    // and do more cool stuff here
                    //component.set("v.ListOfFip", '{!listFIP}');
                    console.log('Component created --- ', component.get("v.ListOfFip"));
                });
        });
    </script>
</apex:page>