<apex:page controller="VFC_CreateOppRecord"> 
    <apex:slds />
    <div class="slds-scope">
        <apex:pagemessages />
        <!-- Implement the Salesforce Lightning Design System -->
        <apex:includeLightning />
        <div id="LcDisplayId"></div>
    </div>
    <script>
        // Here 'VfApp' Is Lightning Application Name     
        $Lightning.use("c:LA_CreateOppRecord", function () {
            /* 'LC_CreateOppSousTrait' is Lightning Component Name which we are Displaying In Vf Page 
             * syntax for create lightning component dynamically :
             * $Lightning.createComponent(String type, Object attributes, String locator, function callback) */
            $Lightning.createComponent("c:LC_CreateOppRecord",
                {
                    // Set Lightning Component Attributes Property before creating Lightning Component In Visualforce page                    
                    accountId: '{!accountId}',
                    contactId: '{!contactId}',
                    recordTypeId: '{!recordTypeId}',                  
    
                },
                "LcDisplayId",
                function (component) {
                    // create component Callback, Lightning Component has been Created,
                    // Now you can set more lightning Component attributes here,
                    // and do more cool stuff here
                    console.log('accountId--- ', component.get("v.accountId"));
                    console.log('contactId--- ', component.get("v.contactId"));
                    console.log('recordTypeId --- ', component.get("v.recordTypeId"));
                    console.log('isRequestFromContact --- ', component.get("v.isRequestFromContact"));
                });
        });
    </script>
</apex:page>