<!--
  @description       : 
  @author            : MAIT - @moidriss
  @group             : 
  @last modified on  : 10-16-2023
  @last modified by  : MAIT - @moidriss
-->
<template>
    <div class="animated-action" style={actionsStyle}>
        <!-- Previous Button -->
        <button lwc:if={finalStep} class="btn left" onclick={handlePrevious}>
            <div class="text-swoosh-holder">
                <div class="text-swoosh">{previousStep}</div>
            </div>
            <div class="arrow">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        
        <button lwc:if={finalStep} class="btn-final save" onclick={handleSave}>
            <div class="text-appear-holder">
                <div class="text-appear">{saveButton}</div>
                <div class="icon-save">
                    <svg width="800px" height="800px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <g stroke="none" stroke-width="1" fill="#fff" fill-rule="evenodd" sketch:type="MSPage">
                            <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-154.000000, -517.000000)" fill="#fff">
                                    <path d="M172,522 C172,521.447 172.448,521 173,521 C173.552,521 174,521.447 174,522 L174,526 C174,526.553 173.552,527 173,527 C172.448,527 172,526.553 172,526 L172,522 L172,522 Z M163,529 L177,529 C177.552,529 178,528.553 178,528 L178,517 L162,517 L162,528 C162,528.553 162.448,529 163,529 L163,529 Z M182,517 L180,517 L180,529 C180,530.104 179.104,531 178,531 L162,531 C160.896,531 160,530.104 160,529 L160,517 L158,517 C155.791,517 154,518.791 154,521 L154,545 C154,547.209 155.791,549 158,549 L182,549 C184.209,549 186,547.209 186,545 L186,521 C186,518.791 184.209,517 182,517 L182,517 Z" id="save-floppy" sketch:type="MSShapeGroup">
                                    </path>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
            <span>{saveButton}</span>
        </button>

        <!-- Submit Button -->
        <button lwc:if={finalStep} class="btn-final" onclick={handleNext}>
            <div class="text-appear-holder">
                <div class="text-appear">{sendButton}</div>
                <div class="arrow-send">
                    <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none">
                        <path d="M12.0004 18.5816V12.5M12.7976 18.754L15.8103 19.7625C17.4511 20.3118 18.2714 20.5864 18.7773 20.3893C19.2166 20.2182 19.5499 19.8505 19.6771 19.3965C19.8236 18.8737 19.4699 18.0843 18.7624 16.5053L14.2198 6.36709C13.5279 4.82299 13.182 4.05094 12.7001 3.81172C12.2814 3.60388 11.7898 3.60309 11.3705 3.80958C10.8878 4.04726 10.5394 4.8182 9.84259 6.36006L5.25633 16.5082C4.54325 18.086 4.18671 18.875 4.33169 19.3983C4.4576 19.8528 4.78992 20.2216 5.22888 20.394C5.73435 20.5926 6.55603 20.3198 8.19939 19.7744L11.2797 18.752C11.5614 18.6585 11.7023 18.6117 11.8464 18.5933C11.9742 18.5769 12.1036 18.5771 12.2314 18.5938C12.3754 18.6126 12.5162 18.6597 12.7976 18.754Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="#fff" stroke="#e07026"/>
                    </svg>
                </div>
            </div>
            <span>{sendButton}</span>
        </button>

        <!-- Next Button -->
        <button lwc:else class="btn right" onclick={handleNext}>
            <div class="text-swoosh-holder">
                <div class="text-swoosh">{nextStep}</div>
            </div>
            <div class="arrow">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
    </div>
</template>