/* Container Styling */
.article {
    border: none !important;
    top: -25px;
}

.step_on {
    width: 288px;
    height: 72px;
}

.cont {
    width: 33.33%;
}

.form {
    max-width: 50%;
    margin: auto;
}

/* Text Styling */
.step-title {
    color: #1E4477;
    font-family: "fontKarbon-Semibold";
    font-size: 26px;
    text-align: center;
}

.sub-step-title {
    color: #1E4477;
    font-family: "fontKarbon-Semibold";
    font-size: 16px;
}

/* Blank Space Styling */
.blank-space-20 {
    margin: 20px;
}

.blank-space-15 {
    margin: 15px;
}

.blank-space-10 {
    margin: 10px;
}

.blank-space-5 {
    margin: 5px;
}

.loader {
    position: absolute;
    background: white;
    inset: 0 0 0 0;
    z-index: 1;
}

.main-logo > img {
    height: 140px;
    -webkit-animation:magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
    -moz-animation:magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
    animation:magic 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
}

.animated-action {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

@-moz-keyframes magic { 
    0% {
        visibility: 1;
        transform: scale(1);
    }

    50% {
        visibility: 0;
        transform: scale(1.5);
    }

    100% {
        visibility: 1;
        transform: scale(1);
    }
}
@-webkit-keyframes magic { 
    0% {
        visibility: 1;
        transform: scale(1);
    }

    50% {
        visibility: 0;
        transform: scale(1.5);
    }

    100% {
        visibility: 1;
        transform: scale(1);
    }
}
@keyframes magic { 
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Actions Styling */
button {
    overflow: hidden;
}

.btn,
.btn *,
.btn :after,
.btn :before,
.btn:after,
.btn:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    color: #e07026;
    cursor: pointer;
    font-family: "fontKarbon-Semibold";
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#fff, #e07026);
    padding: 0;
    text-transform: uppercase;
}

.btn:disabled {
    cursor: default;
}

.btn:-moz-focusring {
    outline: auto;
}

.btn svg {
    display: block;
    vertical-align: middle;
}

.btn [hidden] {
    display: none;
}

.btn {
    border-radius: 99rem;
    border-width: 2px;
    overflow: hidden;
    padding: 0.8rem 3rem;
    position: relative;
}

.btn:before {
    --tilt: 1.2rem;
    -webkit-clip-path: polygon(0 0,
            calc(100% - var(--tilt)) 0,
            100% 50%,
            calc(100% - var(--tilt)) 100%,
            0 100%);
    clip-path: polygon(0 0,
            calc(100% - var(--tilt)) 0,
            100% 50%,
            calc(100% - var(--tilt)) 100%,
            0 100%);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    transition: transform 0.2s cubic-bezier(0.83, 0, 0.17, 1);
    width: calc(100% + var(--tilt));
    background: #e07026;
}

.right:before {
    left: calc(-100% - var(--tilt));
    transform: translateX(var(--progress, 0));
}

.left:before {
    left: calc(100% + var(--tilt));
    transform: rotate(180deg) translateX(var(--progress, 0));
}

.right:hover:before {
    --progress: 100%;
}

.left:hover:before {
    --progress: 105%;
}

.btn:hover .text-swoosh-holder .text-swoosh {
    opacity: 1;
    transform: translateX(0);
}

.btn .text-swoosh {
    color: white;
    font-family: "fontKarbon-Semibold";
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    opacity: 0;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    transition: all 0.2s cubic-bezier(0.83, 0, 0.17, 1);
}

.right .text-swoosh {
    transform: translateX(-200px);
}

.left .text-swoosh {
    transform: translateX(200px);
}

.text-swoosh-holder, .text-appear-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 120px;
}

.arrow {
    cursor: pointer;
    display: flex;
}

.arrow span {
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 2px solid #e07026;
    border-radius: 2px;
    border-right: 2px solid #e07026;
    animation: animate 3s cubic-bezier(0.83, 0, 0.17, 1) infinite;
    transition: all 0.2s cubic-bezier(0.83, 0, 0.17, 1);
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

.arrow span:nth-child(4) {
    animation-delay: -0.6s;
}

.arrow span:nth-child(5) {
    animation-delay: -0.8s;
}

.left .arrow {
    transform: rotate(180deg);
}

.arrow-send svg, .icon-save svg {
    height: 35px;
    width: 35px;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.83, 0, 0.17, 1);
}

.arrow-send svg {
    transform: scale(0) rotate(45deg) translate(0px, 200px);
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(-45deg) translate(-50px, -50px);
    }

    50% {
        opacity: 1;
        transform: rotate(-45deg) translateX(0);
    }

    100% {
        opacity: 0;
        transform: rotate(-45deg) translate(50px, 50px);
    }
}

@keyframes send-swoosh {
    0% {
        opacity: 0;
        transform: scale(0) rotate(45deg) translate(0px, 200px);
    }
    
    50% {
        opacity: 1;
        transform: scale(1) rotate(45deg) translate(0px, 0px);
    }

    75% {
        /* opacity: 0; */
        transform: scale(.5) rotate(45deg) translate(0px, -75px);
    }

    100% {
        opacity: 0;
        transform: scale(0) rotate(45deg) translate(0px, -150px);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(.2);
    }
    
    50% {
        opacity: 1;
        transform: scale(.6);
    }

    100% {
        opacity: 0;
        transform: scale(.2);
    }
}

/* Submit Styling */
.btn-final,
.btn-final *,
.btn-final :after,
.btn-final :before,
.btn-final:after,
.btn-final:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-final {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #fff;
    background-image: none;
    color: #e07026;
    cursor: pointer;
    font-family: "fontKarbon-Semibold";
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#e07026, #fff);
    padding: 0;
    border: 2px solid #e07026;
}

.btn-final:disabled {
    cursor: default;
}

.btn-final:-moz-focusring {
    outline: auto;
}

.btn-final svg {
    display: block;
    vertical-align: middle;
}

.btn-final [hidden] {
    display: none;
}

.btn-final {
    border-radius: 999px;
    box-sizing: border-box;
    display: block;
    font-weight: 900;
    -webkit-mask-image: none;
    padding: .8rem 3rem;
    position: relative;
    text-transform: uppercase;
}

.btn-final:before {
    --thickness: 4px;
    border: var(--thickness) solid #e07026;
    border-radius: 999px;
    content: "";
    inset: calc(var(--thickness) * -1);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: scale(1.3);
    transition: all 0.2s cubic-bezier(0.83, 0, 0.17, 1);
    background: #e07026;
    color: white;
}

.btn-final:hover:before {
    opacity: 1;
    transform: scale(1);
}

.btn-final:hover {
    background-color: transparent;
}

.btn-final:hover .text-appear-holder .arrow-send svg {
    animation: send-swoosh 2s cubic-bezier(0.85, 0, 0.15, 1) infinite;
}

.btn-final:hover .text-appear-holder .icon-save svg {
    animation: appear 2s cubic-bezier(0.85, 0, 0.15, 1) infinite;
}

.btn-final:hover .text-appear-holder .text-appear {
    opacity: 1;
    letter-spacing: 0;
    transform: scale(1);
}

.text-appear-holder {
    display: flex;
    align-items: center;
    width: 90%;
}

.save .text-appear-holder {
    width: 80%;
}

.text-appear {
    color: white;
    font-family: "fontKarbon-Semibold";
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    opacity: 0;
    transform: scale(1.5);
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
    width: 80%;
    text-transform: uppercase;
    transition: all 0.2s cubic-bezier(0.83, 0, 0.17, 1);
}