legend[lightning-inputaddress_inputaddress].slds-form-element__label {
	font-family: 'fontKarbon-Semibold' !important;
    font-weight: 600 !important;
    font-size: 18px !important;
}

lightning-lookup-address.slds-form-element {
    top: -15px;
    margin-bottom: -10px;
}

lightning-base-combobox > div.slds-combobox > div.slds-listbox {
    max-height: 250px !important;
}

lightning-base-combobox > div.slds-combobox {
    position: relative !important;
    z-index: 1000 !important;
}

lightning-button.prev-button > button {
    position: unset !important;
}

lightning-button.neutral > button {
    border-radius: 5px !important;
    background-color: white !important;
    color: #0070d2 !important;
    float: left;
}

lightning-button.brand > button {
    border-radius: 5px !important;
    background-color: #0070d2 !important;
    color: white !important;
}

lightning-button.disabled > button {
    border-radius: 5px !important;
    background-color: #c9c7c5;
    border-color: #c9c7c5;
    color: #fff;;
}

lightning-input-address.addressLWC {
    text-align: left !important;
}

lightning-pill > span.slds-pill {
    top: 5px !important;
    left: -5px !important;
    padding-left: 5px !important;
    font-family: 'fontKarbon-Semibold' !important;
}

lightning-icon.center {
    cursor: pointer !important;
}

lightning-icon.center > lightning-primitive-icon > svg {
    width: 50% !important;
    transform: translateX(50%) !important;
}

c-lwc-qly-main > div.container {
    scroll-behavior: smooth !important;
  }