:host {
    --lwc-spacingSmall: 5PX;
    --sds-c-button-radius-border: 50rem;
    --lwc-formLabelFontSize: 15px;
}

:host .slds-p-around_medium,
.slds-p-around--medium {
    padding: 0.5rem;
}

.modal-window {
    text-align: left;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s;
  }
  
  span.bold {
    font-family: 'fontKarbon-Semibold';
  }

  .modal-window > div {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    height: 140px;
    background: #fff;
  }
  .modal-window header {
    font-weight: bold;
  }
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }

  span.bold {
    font-family: 'fontKarbon-Semibold';
  }
  
  .text-content {
    font-size: 14px;
  }
  
  :host .destructive {
    background-color: #c23934;
    border-color: #c23934;
    color: #fff;
    font-weight: 600;
  }
  :host .slds-button_success {
    color: #fff;
  }
  
  :host .destructive:hover {
    background-color: rgb(166, 26, 20);
    border-color: rgb(166, 26, 20);
  }

  button {
    border-radius: 5px !important;
  }

.footer {
    border: 0px;
}

.lgc-bg {
    background-color: rgb(255 255 255 / 15%);
}

.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}

.lgc-title {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    color: #1e4477;
    padding-left: 50%;
}

.c-container {
    border: 0px solid #d8dde6;
    margin: 10px 0 20px 0;
}

.save-button {
    font-size: 16px;;
}

.subtitles {
    font-size: 19px;
}

.header{
    font-weight: 100;
  }

  .toggle-label:first-child {
    font-size: 16px;
    color: #000000;
  }

.page-section {
    border: solid 0px #ccc;
    padding: 1rem;
}

.page-header,
.page-footer {
    height: 50px;
}

.page-main {
    background: #fffefc;
}

.page-left,
.page-right {
    background: #f6f6f6;
}

.picker-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center !important;
}

/* headlines with lines */
.decorated{
    overflow: hidden;
    text-align: center;
    font-weight: 600;
    color: #e07026;
    font-size: 19px;
}

.decorated > span{
position: relative;
display: inline-block;
}

.decorated > span:before, .decorated > span:after{
content: '';
position: absolute;
top: 50%;
border-bottom: 2px solid;
width: 444px; /* half of limiter*/
margin: 0 20px;
}

.decorated > span:before{
right: 100%;
}
.decorated > span:after{
left: 100%;
}

div.doc-name{
    font-size: 14px;
    font-family: 'fontkarbon-Semibold';
    font-weight: 600 !important;
    color: #009BDE;
  }
  
  .faj-title{
    font-size: 17px;
    color: black;
    font-weight: 600;
    font-family: 'fontkarbon-Semibold';
  }
  
  div.row-margin-bottom{
    margin-bottom: 10px;
  }

  .waste-name{
    font-size: 14px;
    color: black;
    font-family: 'fontkarbon-Semibold';
  }