<template>
    <template if:true={openModal}>
        <div id="open-modal" class="modal-window">
            <div>
                <div class="text-content">Etes-vous bien sûr ?<br>
                    Cette collecte correspond au pompage en vrac citerne adapté pour <span class="bold">les flux mono-produit > 800 Litres</span>.</div>
                <br>
                <div style="left: 50%;
                            transform: translateX(-50%);
                            position: absolute;">
                    <button class="slds-button slds-button_success" onclick={handleOK}>Oui</button>
                    <button class="slds-button slds-button_destructive destructive" onclick={handleClose}>Non</button>
                </div>
            </div>
        </div>
    </template>
    <div class="c-container">
        <div class="slds-m-top_medium slds-m-bottom_x-large">
            <div class="slds-grid slds-grid_vertical slds-form-element">
                <div class="slds-col">
                    <ul>
                        <li>
                            <div class="slds-grid slds-wrap">
                                <main class="slds-col slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
                                    <h3 class="slds-text-heading_medium lgc-title">
                                        Vos prestations de déchets
                                    </h3>
                                </main>
                                <!-- <aside class="slds-align_absolute-center slds-col slds-size--1-of-2 slds-medium-size--1-of-6 slds-large-size--4-of-12">
                                    <lightning-button label="Enregistrer mes données"
                                    class="save-button" disabled={isDisabled} onclick={handleSave} variant="brand"></lightning-button>
                                </aside> -->
                            </div>
                        </li>
                        <br />
                        <li>
                            <h2 class="decorated"><span>PRESTATIONS COLLECTES ET SERVICES</span></h2>
                        </li>

                        <li class="slds-align_absolute-center subtitles">Sélectionnez les prestations que vous souhaitez :</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- List prestations-->
        <div class=" picker-container slds-align_absolute-center">
            <c-lwc-visual-picker header={header} options={listProducts.serviceProducts} user-selected-services={userSelectedServices} size={size}
                multi-select={multiSelect} vertical="false" show="true"  onselectedwastevalue={handleSelectedServices}>
            </c-lwc-visual-picker>
        </div>
        <!-- body-->
        <div>
            <h2 class="decorated slds-m-bottom_medium"><span>PRESTATIONS DE TRAITEMENT DE DÉCHETS</span></h2>
            <lightning-layout multiple-rows="true">
                <lightning-layout-item size="12">
                    <lightning-layout>
                        <lightning-layout-item size="3">
                            <div class="page-section page-right">
                                <p>
                                    <c-lwc-qly-select-products title="Sélectionnez les déchets que vous avez à faire collecter:"
                                        list-products={listProducts.wasteProducts}  user-selected-services={userSelectedServices}
                                        onselectedwastevalue={handleSelectedServices}></c-lwc-qly-select-products>
                                </p>
                            </div>
                        </lightning-layout-item>
                        <lightning-layout-item padding="around-small" size="9">
                            <div class="page-main">
                                <c-lwc-qly-selected-services form-id={formId} user-selected-services={userSelectedServices}
                                   onrowaction={handleRowAction} onuserinputvalue={handleUserInputServiceChange} onuploadfiles={handleUpload}>
                                </c-lwc-qly-selected-services>
                            </div>
                        </lightning-layout-item>
                    </lightning-layout>
                </lightning-layout-item>
            </lightning-layout>
            </br>
            <template if:true={isFilesUploaded}>
                <div class="faj-title">Fichiers Ajoutés</div>
                </br>
                <table class="slds-table slds-table_cell-buffer slds-table_bordered ">
                    <tbody>
                        <template if:true={isFilesUploaded}>
                            <template for:each={productArray} for:item="files">

                                

                                <tr key={files.prod} class="slds-hint-parent">
                                    <td data-label="files" rowspan={files.rowspan} class="waste-name">
                                        {files.prod}
                                    </td>
                                </tr>

                                <template for:each={files.files} for:item="file">
                                    <tr key={file.name}>
                                        <td key={file.name} data-label="file">
                                            <div key={file.name} class="slds-grid slds-grid_vertical-align-center row-margin-bottom">
                                                <div class="slds-col slds-size_11-of-12 slds-text-title_bold">
                                                    <div class="doc-name">{file.name}</div>
                                                </div>
                                                <div class="slds-col slds-size_1-of-12">
                                                <!--<lightning-button label="Supprimer"
                                                                    variant="destructive"
                                                                    data-id={doc.Id}
                                                                    onclick={deleteHandler}>
                                                </lightning-button>-->
                                                    <lightning-button-icon
                                                        class="slds-button_icon"
                                                        icon-name="utility:delete"
                                                        variant="brand"
                                                        data-id={file.documentId}
                                                        data-name={file.name}
                                                        data-product={file.prodId}
                                                        onclick={deleteHandler}
                                                        alternative-text="Delete document">
                                                    </lightning-button-icon>
                                                </div>
                                            </div> 
                                        </td>
                                    </tr>
                                
                                        <!--<td key={file.name} data-label="file">
                                            {file.name}
                                        </td>
                                        <td key={file.documentId} data-label="family">
                                            <lightning-button label="Supprimer"
                                                variant="destructive"
                                                data-id={file.documentId}
                                                onclick={deleteHandler}>
                                            </lightning-button> 
                                        </td>-->

                                </template>
                            </template>
                        </template>
                    </tbody>
                </table>
            </template>

            <!--<template for:each={existingFiles} for:item="doc">
                <div key={doc.documentId} class="slds-box">
                    <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-large-size_6-of-12 slds-medium-size_4-of-12 slds-size_4-of-12">
                        <p>{doc.name}</p>
                    </div>
                    <div class="slds-col slds-large-size_3-of-12 slds-medium-size_2-of-12 slds-size_2-of-12">
                        <lightning-button label="Supprimer"
                                        variant="destructive"
                                        data-id={doc.documentId}
                                        onclick={deleteHandler}>
                        </lightning-button>
                    </div>
                    </div>
                </div>
            </template>-->
            <br />
            <h2 class="decorated slds-m-bottom_medium slds-p-top_medium"><span>PRESTATIONS DE CONTENANTS</span></h2>
            <br/>
            <div class="slds-align_absolute-center toggle-label">
                <lightning-input type="toggle" class="" label="Demande de contenants vides"
                    name="addContainerCheckBox" onchange={handleUserInputChange}
                    message-toggle-active=" " message-toggle-inactive=" " checked={showContainerDIV}>
                </lightning-input>
            </div>
            <template if:true={showContainerDIV}>
                <lightning-layout multiple-rows="true">
                    <lightning-layout-item padding="around-small" size="12">
                        <lightning-layout>
                            <lightning-layout-item padding="around-small" size="3">
                                <div class="page-section page-right">
                                    <p>
                                        <c-lwc-qly-select-products
                                            title="Sélectionnez les contenants que vous souhaitez :"
                                            list-products={listProducts.containerProducts}  user-selected-services={userSelectedServices}
                                            onselectedwastevalue={handleSelectedServices}></c-lwc-qly-select-products>
                                    </p>
                                    </p>
                                </div>
                            </lightning-layout-item>
                            <lightning-layout-item padding="around-small" size="9">
                                <div class="page-section page-main">
                                    <c-lwc-qly-selected-containers  user-selected-services={userSelectedServices}
                                    have-selected-container={haveSelectedContainer}
                                     onuserinputvalue={handleUserInputServiceChange}>
                                    </c-lwc-qly-selected-containers>
                                </div>
                            </lightning-layout-item>
                        </lightning-layout>
                    </lightning-layout-item>
                </lightning-layout>
            </template>
        </div>
    </div>
</template>