<template>
    <div class="container topMain">
        <template if:true={showForm}>
            <template if:true={formIsFinished}>
                <article class="slds-card slds-p-bottom_large">
                    <div class="slds-card__body slds-card__body_inner">
                        <c-lwc-q-ly-screen-info qly-form-id={qlyFormId}></c-lwc-q-ly-screen-info>
                    </div>
                </article>
            </template>
            <template if:true={formCancelled}>
                <article class="slds-card slds-p-bottom_large">
                    <div class="slds-align_absolute-center">
                        <h2 style="font-size: 18px;">
                            Nous avons bien pris en compte l'annulation de votre collecte.
                        </h2>
                    </div>
                </article>
            </template>
            <template if:true={formIsNotFinished}>
                <article class="slds-card">
                    <div class="slds-card__header slds-grid">
                        <header class="slds-has-flexi-truncate">

                            <template if:true={isFormAvailable}>
                                <div class={getPathStyle}>
                                    <c-lwc-qly-path-indicator selected-step={selectedStep}></c-lwc-qly-path-indicator>
                                </div>
                            </template>
                            
                            <template if:true={isRejected}>
                                <div class="slds-grid slds-wrap" style="width:100%;">
                                    <div class="slds-size--2-of-2 containerRejected" style="width:100%;">
                                        <div class="slds-grid slds-wrap" style="width:100%;">
                                            <div class="slds-col slds-large-size_12-of-12 slds-medium-size_12-of-12 slds-size_12-of-12">
                                                <div class="etiquette" style="text-align: center;">
                                                    Votre questionnaire a été rejeté, veuillez le modifier.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>

                            <template if:false={isFormAvailable}>
                                <div class="slds-align_absolute-center">
                                    <h2 style="font-size: 18px;">Le questionnaire est actuellement indisponible</h2>
                                </div>
                            </template>
                        </header>

                    </div>
                    <template if:false={isSelectStep4}>
                        <template if:true={isFormAvailable}>
                            <div style="display: flex; width: 100%; padding: 0px 20px;;">
                                <!-- <div style="display: flex; margin-right: auto;">
                                    <lightning-button style="width: auto;" label="Annuler mon questionnaire"
                                    class="cancel button" disabled={isDisabled_button} onclick={handleCancel} variant="destructive"></lightning-button>
                                </div> -->
                                <div style="display: flex; margin-left: auto;">
                                    <lightning-button label="Enregistrer mes données"
                                    class="save button" disabled={isDisabled_button} onclick={handleSave} variant="brand"></lightning-button>
                                </div>
                            </div>
                        </template>
                    </template>
                    </br>
                    <div class="slds-card__body slds-card__body_inner">
                        <template if:true={isSelectStep1}>
                            <template if:true={isFormAvailable}>
                                <c-lwc-qly-form form-status={formStatus} user-info={userInfo} onuserinputvalue={handleUserInputChange} onsave={handleSave}>
                                </c-lwc-qly-form>
                            </template>
                        </template>

                        <template if:true={isSelectStep2}>
                            <c-lwc-qly-prestations top-element={topElement} container-packaging={CONTAINER_PACKAGING} global-waste-files={globalWasteData} waste-data={wasteData} form-id={userInfo.formId} list-products={listProducts}
                                user-selected-services={userSelectedServices} show-add-container={showAddContainer}
                                onuserinputvalue={handleUserInputChange} onselectedservice={handleSelectedServices}
                                onrowaction={handleRowAction} onuserserviceinputvalue={handleUserInputServiceChange}
                                onsave={handleSave} onuploadfiles={handleUpload} ondeletefile={handleDelete}></c-lwc-qly-prestations>
                        </template>

                        <template if:true={isSelectStep3}>
                            <c-lwc-qly-summary-validation top-element={topElement} finalization-commentary={finalizationCommentary} form-id={userInfo.formId} user-info={userInfo} user-selected-services={userSelectedServices}
                                list-products={listProducts} onsave={handleSave} onuserinputvalue={handleUserInputChange} onuploadfiles={handleUpload}>
                            </c-lwc-qly-summary-validation>
                        </template>

                        <template if:true={isSelectStep4}>
                            <c-lwc-qly-end-screen form-status={formStatus} onredirecthomepage={handleRedirect}>
                            </c-lwc-qly-end-screen>
                        </template>
                    </div>

                    <footer class={getFooterStyle}>
                        <template if:true={isFormAvailable}>
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col">
                                    <template if:true={isShowBtnPreced}>
                                        <lightning-button label="Étape précédente" icon-name="utility:left"
                                            class="back-button slds-size_1-of-2 slds-align_absolute-center" onclick={handlePrev}>
                                        </lightning-button>
                                    </template>
                                </div>

                                <div class="slds-col">
                                    <template if:true={isShowBtnNext}>
                                        <lightning-button label="Étape suivante" icon-name="utility:right"
                                            icon-position="right" class="next-button slds-size_1-of-2 slds-align_absolute-center"
                                            disabled={isDisabled}
                                            onclick={handleNext}>
                                        </lightning-button>
                                        <template if:true={openModal}>
                                            <div id="open-modal" class="modal-window">
                                                <div>
                                                    <div class="text-content">Attention, confirmez-vous ne pas être intéressé par une collecte en 2023 ?<br>
                                                        Si non, veuillez cocher la case <span class="bold">"Le lycée est intéressé par une collecte en 2023"</span>.</div>
                                                    <br>
                                                    <button class="slds-button slds-button_destructive destructive" onclick={handleOK}>Oui</button>
                                                    <button class="slds-button slds-button_success" onclick={handleClose}>Non</button>
                                                </div>
                                            </div>
                                        </template>

                                    </template>
                                    <template if:true={isShowBtnFinish}>
                                        <lightning-button class="next-button slds-size_1-of-2 slds-align_absolute-center"
                                            label="Signer et terminer" onclick={handleFinish} disabled={isAccepted}>
                                        </lightning-button>
                                    </template>
                                </div>
                            </div>
                        </template>
                    </footer>
                </article>
            </template>
        </template>
        <template if:false={showForm}>
            <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
        </template>
    </div>
</template>