@import 'c/lwcCssLibrary';

.container {
  width:auto;
  min-width: 700px;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}

:host {
  --lwc-colorBackgroundPathComplete: rgb(22 153 208);

}

.save {
  justify-content: flex-end;
}

.button {
  width: auto;
  font-size: 16px;
  transition: border .15s linear;
}

.cancel {
  justify-content: flex-start;
}

.next-button {
  /*--lwc-colorTextPathCurrent : white; */
  --sds-c-button-neutral-color-background: #e07026;
  --sds-c-button-neutral-color-background-hover: transparent;
  --sds-c-button-text-color: white;
  --sds-c-button-text-color-hover: #e07026;
  --sds-c-button-radius-border: 25px;
  --sds-c-button-border: 0px;
  font-size: 16px;
  width: 150px;
}

:host .slds-path__item {
  position: relative;
  /* flex: 1; */
  margin-left: .375rem;
  margin-right: .4375rem;
  min-width: 5rem;
  text-align: center;
  /*height: 55px;*/
  pointer-events: none;
}

:host .slds-path__title,
.slds-path__stage {
  display: contents;
  flex-wrap: wrap;
}

.back-button {
  --sds-c-button-neutral-color : #f16800;
  --sds-c-button-neutral-color-background-hover: #f16800;
  --sds-c-button-neutral-color-background : transparent;
  --sds-c-button-text-color:  #f16800;
  --sds-c-button-text-color-hover: white;
  --sds-c-button-radius-border: 25px;
  font-size: 16px;
  width: 170px;
}

:host(.next) {
  background-color: #f16800;
  border-radius: 25px;
  padding-left: var(--sds-c-button-brand-spacing-inline-start, var(--lwc-spacingMedium, 1rem));
  padding-right: var(--sds-c-button-brand-spacing-inline-end, var(--lwc-spacingMedium, 1rem));
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  transition: border .15s linear;
  border-color: transparent;
}

:host(.back) {
  background-color: transparent;
  border-color: white;
  color: #e07026;
  font-weight: 600;
  padding-left: var(--sds-c-button-destructive-spacing-inline-start, var(--lwc-spacingMedium, 1rem));
  padding-right: var(--sds-c-button-destructive-spacing-inline-end, var(--lwc-spacingMedium, 1rem));
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  transition: border .15s linear;
  background-color: transparent;
  border-color: transparent;

}


.rectangle {
  width: 153px;
  height: 41px;
  border-radius: 26px;
  background-color: #e07026;
}

.step_on {
  width: 288px;
  height: 72px;
}

.custom-path {

  opacity: 0.3;
  border: solid 1px #1e4477;
  background-color: #1a3d74;
  pointer-events: none;
}


.lgc-title {
  width: 412px;
  height: 23px;
  font-size: 23px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1e4477;
}

.save-button {

  text-align: center;
  vertical-align: middle;
  justify-content: center;
  transition: border .15s linear;
  background-color: #1a3d74;
}

:host .slds-button_brand,
.slds-button--brand {
  background-color: #e07026;
  border-color: white;

}

:host .slds-button_destructive,
.slds-button--destructive {
  background-color: transparent;
  border-color: white;
  color: #e07026;
  font-weight: 600;
}

.footer-form {
  border: 0px;
  margin: -50px 1px -7px;
}

.footer {
  border: 0px;
  padding: 49px 5px 28px;
}

.containerRejected{
  background-color: rgb(235,70,70);
  vertical-align: middle;
}

.icon{
  width: 24px;
  height: 24px;
  fill: white;
}

.etiquette{
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.modal-window {
  text-align: left;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.3s;
}

.modal-window > div {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #fff;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

span.bold {
  font-family: 'fontKarbon-Semibold';
}

.text-content {
  font-size: 14px;
}

:host .destructive {
  background-color: #c23934;
  border-color: #c23934;
  color: #fff;
  font-weight: 600;
}
:host .slds-button_success {
  color: #fff;
}

:host .destructive:hover {
  background-color: rgb(166, 26, 20);
  border-color: rgb(166, 26, 20);
}