<!--
  @description       : 
  @author            : MAIT - @moidriss
  @group             : 
  @last modified on  : 07-27-2023
  @last modified by  : MAIT - @moidriss
-->
<template>
    <c-lwc_-contacts-invitation-form_-pollutec v2={v2} guid={GUID}></c-lwc_-contacts-invitation-form_-pollutec>
</template>