<template>
    <div class="path-container">

            <div class="slds-align_absolute-center slds-size_1-of-1">

                <lightning-progress-indicator class="lpi-bar slds-p-bottom_x-small" current-step={selectedStep} type={type} has-error={hasError} variant={variant} style="width:100%; cursor: default">
                    <lightning-progress-step value="Step1"></lightning-progress-step>
                    <lightning-progress-step value="Step2"></lightning-progress-step>
                    <lightning-progress-step value="Step3"></lightning-progress-step>
                </lightning-progress-indicator>

            </div>

            <ul class="slds-grid slds-wrap">
                <li class={className1}>
                    <div class="slds-align-middle slds-text-align_center">
                        <span class="step-text_span slds-text-heading_small">Étape 1</span>
                        <p class={stepTextP1}><strong>Vos informations</strong></p>
                    </div>
                </li>
                <li class={className2}>
                    <div class="slds-align-middle slds-text-align_center">
                        <span class="step-text_span slds-text-heading_small">Étape 2</span>
                        <p class={stepTextP2}><strong>Vos prestations</strong></p>
                    </div>
                </li>
                <li class={className3}>
                    <div class="slds-align-middle slds-text-align_center">
                        <span class="step-text_span slds-text-heading_small">Étape 3</span>
                        <p class={stepTextP3}><strong>Synthèse &amp; validation</strong></p>
                    </div>
                </li>
            </ul>
    </div>

</template>