@import 'c/lwcCssLibrary';

:host {
    --lwc-colorBackgroundInverse:#1e4477 ;
    --lwc-squareIconUtilitySmall: 2rem;
}

:host .step-container.slds-theme--inverse {
    background-color: #1e4477 !important;
}

/* progress bar hover */
:host .slds-button, .slds-button:hover {
    cursor: default;
}

:host(.slds-progress__item:hover) {
    cursor: default;
}

:host(.slds-progress__marker:hover) {
    cursor: default;
}

:host .slds-progress__item:hover .slds-button.slds-progress__marker:hover {
    cursor: default;
}

button:hover, button {
    cursor: default;
}

:host .slds-assistive-text {
    display: default;
}

:host .lpi-bar,
:host .lpi-bar:hover {
    cursor: default;
}

:host .slds-progress__marker:hover{
    cursor: default;
}

:host .slds-button:hover {
    cursor: default;
}

.slds-progress__item.slds-is-active .slds-progress__marker:hover, .slds-progress__item.slds-is-active .slds-progress__marker:focus {
    cursor: default;
}