.THIS .boxs {
    display: flex;
    flex-wrap: wrap;
    /*place-content: space-between; */
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;
  }

  .THIS .boxLine {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .THIS .boxLineElmt {
    margin: 15px 15px;
    width: 22.3%;
  }