<template>

    <!-- Affichage section selection des contenants supplémentaires-->
    <template if:true={userSelectedServices}>
        <div class="slds-grid slds-wrap contain-header">
            <div class="slds-size_4-of-6">
                <div class="slds-box_x-small  slds-m-around_x-small">Nom du contenant</div>
            </div>
            <div class="slds-size_1-of-6">
                <div class="slds-box_x-small  slds-m-around_x-small">Nombre</div>
            </div>
            <!--<div class="slds-size_2-of-6">
                <div class="slds-box_x-small  slds-m-around_x-small">Bouchon dégazeur</div>
            </div>-->
            <div class="slds-size_1-of-6">
                <div class="slds-box_x-small slds-m-around_x-small">Exemple de contenant</div>
            </div>
        </div>

        <template if:true={userSelectedServices.listSelectedContainer}>
            <div class={containerStyle}>
                <template for:each={userSelectedServices.listSelectedContainer} for:item="cont" for:index="index">
                    <div class="slds-grid slds-wrap" key={cont.id}>
                        <div class="slds-size_4-of-6">
                            <div class="slds-box_x-small slds-m-around_x-small">
                                <lightning-formatted-text variant="label-hidden" value={cont.name}>
                                </lightning-formatted-text>
                                <template if:true={cont.features}>
                                    <lightning-helptext class="floatRight" content={cont.features}></lightning-helptext>
                                </template>
                            </div>
                        </div>
                        <div class="slds-size_1-of-6">
                            <div class="slds-box_x-small slds-m-around_x-small">
                                <lightning-input class="th-width-number" type="number" data-index={index}
                                    data-product={cont.name} value={cont.numberContainer} data-type="input"
                                    name="numberContainer" variant="label-hidden" onchange={handleUserInputChange}
                                    disabled={itemDisabled} ></lightning-input>
                            </div>
                        </div>
                        <!--<div class="slds-size_2-of-6">
                            <div class="slds-box_x-small slds-m-around_x-small">
                                <template if:true={cont.havePlug}>
                                    <ul class="slds-list_horizontal slds-has-block-links_space">
                                        <li>
                                            <lightning-input type="checkbox" data-index={index} data-product={cont.name}
                                                value={cont.addContainer} data-type="checkbox"
                                                label="Ajouter bouchon dégazeur" name="containerCheckBox"
                                                onchange={handleUserInputChange} checked={cont.addContainer}
                                                disabled={itemDisabled}>
                                            </lightning-input>
                                        </li>

                                        <template if:true={cont.addContainer}>
                                        <li>
                                            <lightning-input class="th-width-number" data-index={index}
                                                data-product={cont.name} value={cont.numberPlug} data-type="input"
                                                type="number" name="numberPlug" variant="label-hidden"
                                                onchange={handleUserInputChange} disabled={itemDisabled}>
                                            </lightning-input>
                                        </li>
                                        </template>
                                    </ul>
                                </template>
                            </div>
                        </div>-->
                        <div class="slds-size_1-of-6">
                            <template if:false={cont.hide}>
                                <div class="slds-box_x-small slds-m-around_x-small con-tooltip left">
                                    <lightning-icon class="center" icon-name="utility:preview"></lightning-icon>
                                    <div class="tooltip ">
                                        <p>{cont.name}</p>
                                        <img src={cont.icon}>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </template>
                <template if:false={haveContainer}>
                    <div class="slds-align_absolute-center no-container">
                        <span> Aucun contenant sélectionné</span>
                    </div>
                </template>
            </div>
        </template>
    </template>

</template>