:host {
  --lwc-colorBackgroundInputDisabled : #b0c4df;
}

.css-title {font-weight: 100;
    font-size: 12px;
    background-color: #1e4477;
    color: #fff;
    padding-left: 30px;
    line-height: 12px;
  }

  .container {
    height: 475px;
    overflow-y: scroll;
    overflow: auto;
  }

  .container-summary {
    height: auto;
    overflow-y: scroll;
    overflow: auto;
  }

  .contain-header{
    font-size: 12px;
    background-color: #1e4477;
    color: #fff;
    line-height: 12px;
    align-items: center;
    white-space: break-spaces;
  }

  .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    }

    .th-width {
        width: 250px;
    }

    .th-width-number {
      width: 75px;
      white-space: break-spaces;
    }

    :host .slds-checkbox .slds-checkbox__label .slds-form-element__label {
      display: inline;
      vertical-align: middle;
      white-space: break-spaces;
  }

  :host .slds-table thead th {
    background-color: #1e4477;
  }

  .no-container {
    height: 18px;
    margin: 210px 251px 0 250px;
    font-family: 'fontkarbon-Regular';
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #a7a7a7;
  }

  .floatRight {
    float: right;
  }

/*tooltip Box*/
.con-tooltip {

  position: relative;
  
  display: inline-block;
  
  transition: all 0.3s ease-in-out;
  cursor: default;

}

/*tooltip */
.tooltip {

  text-align: left;
  position: fixed;
  z-index: -10 !important;
  visibility: visible;
  opacity: 0;
  pointer-events: hidden;
  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);

  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  padding: 2em;
  background: #fff;
  
  width: 250px;
  padding: 20px 20px;

  border-radius: 9px;
  font: 16px;
}

.con-tooltip:hover .tooltip{
  z-index: 999 !important;
  display: block;
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
}