.THIS .tablecol thead th span {
   background-color: rgb(0, 95, 178);
   color: white;
} 

.THIS .tablecol thead th span :hover {
   background-color: rgb(0, 95, 178);
}

.THIS .tablecol thead th span :focus {
   background-color: rgb(0, 95, 178) !important;
}

.THIS .tablecol thead th span ::selection {
   background-color: rgb(0, 95, 178);
}

.THIS .slds-button_icon-bare{
   display: none; /* hide wrap text clip test and arrow to show it */
}

.THIS .Valide { 
    background-image: url("/resource/CONTRAT_IconStatus/valide.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    color: transparent;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
 }

 .THIS .Rejete {
    background-image: url("/resource/CONTRAT_IconStatus/rejete.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    color: transparent;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
 }

 .THIS .Soumis {    
    background-image: url("/resource/CONTRAT_IconStatus/soumis.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    color: transparent;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
 }

 .THIS .Brouillon {
    background-image: url("/resource/CONTRAT_IconStatus/brouillon.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    color: transparent;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
 }