/* css */
.modal-popup {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    visibility: visible !important;
    position: fixed;
    z-index: 10;
}

.modal-popup > div {
    min-width: 33%;
    width: fit-content;
    padding: 25px;
    border-radius: 10px; 
    background: #fff;
    color: #000;
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2, button {
    font-size: 18px;
}