<template>
    <template if:true={showModal}>
        <div class="modal-popup">
            <div>
                <c-lwc-qly-cancel-form qly-form-id={qlyFormId} from-flow={fromFlow} onclose={handleClose}></c-lwc-qly-cancel-form>
            </div>
        </div>
    </template>
    <div class="slds-p-around_none slds-m-top_x-small slds-m-bottom_medium slds-m-horizontal_none">
        <lightning-layout multiple-rows>
            <lightning-layout-item size="12">
                <div class="slds-p-around_medium slds-text-align_center">
                    <span class><img src={okImageUrl}></span>
                </div>
            </lightning-layout-item>
            <lightning-layout-item size="12">
                <div class="slds-p-around_medium" style="font-size: 18px; font-weight: 500;">
                    <div class="slds-text-align_center">
                        Vous avez terminé la saisie de votre formulaire!
                    </div>
                    <div class="slds-text-align_center">
                        Notre équipe de planification reviendra vers vous pour organiser la collecte.
                    </div>
                    <div class="slds-text-align_center">
                        Vous recevrez le récapitulatif PDF de votre demande par mail. Pensez à vérifier vos spams.
                    </div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item style="width: 100%;">
                <div style="display: flex; justify-content: center;">
                    <lightning-button style="width: auto;" label="Annuler ma collecte"
                    class="cancel button" disabled={isDisabled_button} onclick={goToCancel} variant="destructive"></lightning-button>
                </div>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>