<template>
    <div class="slds-m-bottom_xx-large slds-p-bottom_large slds-p-left_large slds-p-right_large container-form">
        <div class="slds-grid slds-grid_vertical slds-form-element">
            <div class="slds-col">
                <ul>
                    <li>
                        <div class="slds-grid slds-wrap">
                            <!--<template if:true={isRejected}>-->
                                <div class="slds-size--1-of-2">
                                    <!--<div class="slds-grid slds-wrap">
                                        <div class="slds-col slds-large-size_2-of-12 slds-medium-size_2-of-12 slds-size_2-of-12">
                                            
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" class="icon">
                                                <path d="M31.6 25.8l13.1-13.1c.6-.6.6-1.5 0-2.1l-2.1-2.1c-.6-.6-1.5-.6-2.1 0L27.4 21.6c-.4.4-1 .4-1.4 0L12.9 8.4c-.6-.6-1.5-.6-2.1 0l-2.1 2.1c-.6.6-.6 1.5 0 2.1l13.1 13.1c.4.4.4 1 0 1.4L8.6 40.3c-.6.6-.6 1.5 0 2.1l2.1 2.1c.6.6 1.5.6 2.1 0L26 31.4c.4-.4 1-.4 1.4 0l13.1 13.1c.6.6 1.5.6 2.1 0l2.1-2.1c.6-.6.6-1.5 0-2.1L31.6 27.2c-.3-.4-.3-1 0-1.4z"></path>
                                            </svg>
                                        </div>
                                        <div class="slds-col slds-large-size_6-of-12 slds-medium-size_6-of-12 slds-size_6-of-12">
                                            <div class="etiquette">Rejeté
                                                <span class="tooltiptext">Votre questionnaire a été rejeté, veuillez le modifier.</span>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            <!--</template>-->
                            
                            <!-- <div class="slds-align_absolute-center slds-m-bottom_large slds-size--1-of-2 button-position">
                                <lightning-button label="Enregistrer mes données"
                                class="save-button" disabled={isDisabled} onclick={handleSave} variant="brand"></lightning-button>
                            </div> -->
                            <main class="slds-col slds-size--1-of-1 slds-align_absolute-center">
                                <h3 class="slds-text-heading_medium lgc-title">
                                    Bonjour {userInfo.name} !
                                </h3>
                            </main>
                        </div>
                    </li>
                    <li class="slds-align_absolute-center slds-m-bottom_medium lgc-title-secondary">Votre lycée est &nbsp; <strong class="lgc-title-bold">{userInfo.company}</strong></li>

                    <li class="slds-align_absolute-left thanks">Merci de confirmer les informations ci-dessous :</li>
                </ul>

            </div>

            <div class="slds-col">
                <div class="slds-p-bottom_medium lgc-bg slds-form-element__control">
                    <lightning-input type="tel" label="Téléphone du lycée" name="companyPhoneInput"  data-type="input" placeholder="Téléphone" class="label"
                        value={userInfo.companyPhone} onchange={handleUserInputChange} required pattern="(\+\d+(\s|-))?0\d(\s|-)?(\d{2}(\s|-)?){4}">
                    </lightning-input>
                </div>
            </div>
            <div class="slds-col">
                <div class="slds-p-bottom_medium lgc-bg slds-form-element__control">
                    <lightning-input type="email" data-type="input" label="E-mail du contact" placeholder="E-mail" class="label" required
                        name="emailInput" value={userInfo.email} disabled onchange={handleUserInputChange}>
                    </lightning-input>
                </div>
            </div>
            <div class="slds-col">
                <div class="slds-p-bottom_medium lgc-bg slds-form-element__control">
                    <lightning-input type="tel" label="Téléphone du contact" name="contactPhoneInput"  data-type="input" placeholder="Téléphone" class="label"
                        value={userInfo.phone} onchange={handleUserInputChange} required pattern="(\+\d+(\s|-))?0\d(\s|-)?(\d{2}(\s|-)?){4}">
                    </lightning-input>
                </div>
            </div>
            <div class="slds-col">
                <div class="slds-p-bottom_medium lgc-bg slds-form-element__control">
                    <ul>
                        <li>
                            <lightning-input type="text" data-type="input" label="Adresse" placeholder="Adress" name="addressInput" class="label"
                                value={userInfo.companyAddressText} required disabled onchange={handleUserInputChange}>
                            </lightning-input>
                        </li>
                        <li>
                            <lightning-input type="checkbox" class="checkbox-label" data-type="checkbox" label="Modifier l'adresse" name="editAddressCheckBox" checked={userInfo.wantChangeAddress}
                                onchange={handleUserInputChange}></lightning-input>
                        </li>
                    </ul>
                </div>
            </div>

            <template if:true={userInfo.wantChangeAddress}>
                <div class="slds-col">
                    <div class="slds-p-bottom_small lgc-bg slds-form-element__control">
                        <lightning-input-address data-type="companyAddress" address-label="Votre adresse" street-label="Rue"
                            city-label="Ville" country-label="Pays" province-label="Région"
                            postal-code-label="Code postal" street={displayStreet} city={displayCity}
                            country={displayCountry} postal-code={displayPostalCode}
                            required field-level-help="Recherche adresse" show-address-lookup
                            onchange={handleUserInputChange} pattern="[0-9]{5}">
                        </lightning-input-address>
                        
                    </div>
                </div>
            </template>

            <div class="slds-col slds-m-bottom_large">
                <div class="slds-p-bottom_x-small slds-align_absolute-left slds-form-element__control">
                    <lightning-input type="checkbox"  data-type="checkbox" label="Le lycée est interéssé par une collecte en 2023" class="checkbox-label"
                        name="collectCheckBox" value={userInfo.haveCollectThisYear} disabled="true" checked={userInfo.haveCollectThisYear} onchange={handleUserInputChange}></lightning-input>
                </div>
                <div class="slds-align_absolute-left slds-form-element__control slds-m-bottom_large">
                    <!-- Input request for collect form -->
                    <template if:true={userInfo.haveCollectThisYear}>
                        <div class="slds-col">
                            <div class="slds-form-element__control">
                                <c-lwc-qly-request-input-form user-info={userInfo} onuserinputvalue={handleUserInputChange}></c-lwc-qly-request-input-form>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>

    </div>
</template>