@import 'c/lwcCssLibrary';

.container-form {
     max-width: max-content;
     margin-left: auto;
     margin-right: auto;
 }

:host {
    --lwc-spacingSmall : 5PX;

    /*save-button*/
    --sds-c-button-radius-border: 50rem;

    /*labels*/
    --lwc-colorTextLabel: #000000;
    --lwc-formLabelFontSize: 18px;

    /* font-size of checkboxes labels */
    /* --lwc-formElementLabelFontSize: 15px; */
}

.button-position {
    justify-content: flex-end;
    margin-right: -20px;
}

.save-button {
    width: 200px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    transition: border .15s linear;
}

.footer {
    border: 0px;
}

.lgc-bg {
    background-color: rgb(255 255 255 / 15%);
}

.lgc-bg-inverse {
    background-color: #16325c;
}

.lgc-title {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    color: #1e4477;
}

.lgc-title-secondary {
    font-size: 19px;
    font-weight: 600;
    color: #1e4477;
}

.lgc-title-bold{
    font-family: var(--lwc-fontFamilyHeader,fontKarbon-Semibold);
    font-size: 19px;
}

.thanks {
    /* width: 412px; */
    /* height: 23px; */
    /*  */
    font-size: 19px;
    font-weight: 600;
    text-align: left;
    color: #1e4477;
}

:host .slds-button_brand, .slds-button--brand  {
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    transition: border .15s linear;
    background-color: #009bde;
}


:host .slds-form-element__label.slds-no-flex {
    color: #000000;
    font-size: 17px;
    font-weight: 700;
}

:host input.slds-input::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}

:host .checkbox-label{
    font-size: 15px;
}

:host .slds-input[type="url"], .slds-input[type="tel"], .slds-input[type="email"] {
    font-size: 15px;
    color: #000000;
}

.etiquette{
    /*position: absolute;*/
    top: -2px;
    padding-left: 30%;
    font-size: 24px;
    font-weight: bold;
    color: white;
    position: relative;
    display: inline-block;
}

.container{
    position: relative;
    padding-left: 0%;
    float: left;
    background-color:  red;
    width: 100px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
}

.icon{
    position: absolute;
    width: 24px;
    height: 24px;
    fill: white;
    top: 50%;
    margin-left: -4px;
    margin-top: -12px;
}

.etiquette .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 10%;
    margin-left: -60px;
    opacity: 0;
    font-size: 12px;
    transition: opacity 1s;
  }
  
.etiquette .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
.etiquette:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }