<template>
    <template if:true={pageNotFoud}>
        Cette page n'existe pas.
    </template>
    <template if:false={pageNotFoud}>
        <article class="slds-card article">

            <div class="slds-card__header slds-grid">

                <header class="slds-has-flexi-truncate">
                    <c-lwc_-path-indicator steps={STEPS}>
                    </c-lwc_-path-indicator>
                </header>

            </div>

            </br>

            <div class="slds-card__body slds-card__body_inner container">

                <div class="max-content">
                    <template if:true={stepState.step1}>
                        <div style="max-width: 50%; margin: auto;">
                            <div>
                                <h2 class="step-title">Les informations vous concernant</h2>
                            </div>
                            <c-lwc_-generic-form display-as-one-column="true" object-api-name="Contact"
                            record-id={userInfo.Id} fields={userFormFields} preview-data="false">
                            </c-lwc_-generic-form>
                            <c-lwc_-generic-form display-as-one-column="true" object-api-name="Account"
                                record-id={accountInfo} fields={accountFormFields} preview-data="false">
                            </c-lwc_-generic-form>
                            <div class="input-wrapper">
                                <lightning-input-address name="loadAddress"
                                    address-label="Adresse de chargement des déchets" street-label="Rue"
                                    city-label="Ville" country-label="Pays" province-label="Région"
                                    postal-code-label="Code postal" required field-level-help="Recherche adresse"
                                    show-address-lookup street={loadingAddress.street} city={loadingAddress.city}
                                    postal-code={loadingAddress.postalCode} province={loadingAddress.province} onchange={handleUserInput}>
                                </lightning-input-address>
                                
                            </div>

                            <!-- CUSTOM SECTION -->
                            <div class="input-wrapper">
                                <lightning-input  type="text" name="producerOperationalAgency"  label="Agence opérationnelle" 
                                onchange={handleUserInput} value={producer.OperationalAgency} data-position="OperationalAgency"></lightning-input>
                            </div>

                            <div class="input-wrapper">
                                <lightning-combobox message-when-value-missing="Veuiller renseigner ce champs."
                                    class="special-input" name="iamnotproducer" options={iamNotProducerOptions}
                                    placeholder="Sélectionner une valeur"
                                    value={notProducer} label="Je suis producteur de déchets" required="true"
                                    onchange={handleUserInput}></lightning-combobox>
                            </div>
                            <template if:true={displayForm}>
                                <div class="input-wrapper">
                                    <lightning-input name="producerFirstName" data-position="FirstName"
                                        label="Prénom du producteur" type="text" value={producer.FirstName}
                                        onchange={handleUserInput}></lightning-input>
                                </div>
                                <div class="input-wrapper">
                                    <lightning-input name="producerLastName" data-position="LastName"
                                        label="Nom du producteur" type="text" value={producer.LastName}
                                        onchange={handleUserInput} required></lightning-input>
                                </div>
                                <div class="input-wrapper">
                                    <lightning-input name="producerPhone" data-position="Phone"
                                        label="Téléphone du producteur" type="tel" value={producer.Phone}
                                        min-length="10" max-length="14" onchange={handleUserInput}>
                                    </lightning-input>
                                </div>
                                <div class="input-wrapper">
                                    <lightning-input name="producerEmail" data-position="Email"
                                        label="Email du producteur" type="email" value={producer.Email}
                                        onchange={handleUserInput} required></lightning-input>
                                </div>
                                <div class="input-wrapper">
                                    <lightning-input name="producerCorp" data-position="Corp"
                                        label="Société / Collectivité du producteur" type="text"
                                        value={producer.Corp} onchange={handleUserInput}></lightning-input>
                                </div>
                                <div class="input-wrapper">
                                    <lightning-input name="producerSiret" data-position="Siret"
                                        label="N° SIRET du producteur" type="text" min-length="14" max-length="14"
                                        value={producer.Siret} onchange={handleUserInput}></lightning-input>
                                </div>
                                <lightning-input-address name="producerAddress"
                                    address-label="Adresse du producteur" street-label="Rue" city-label="Ville"
                                    country-label="Pays" province-label="Région" postal-code-label="Code postal"
                                    required field-level-help="Recherche adresse" show-address-lookup
                                    street={producer.address.street} city={producer.address.city}
                                    postal-code={producer.address.postalCode} province={producer.address.province} onchange={handleUserInput}>
                                </lightning-input-address>
                            </template>
                        </div>
                    </template>

                    <template if:true={stepState.step2}>
                        <div style="width: 75%; margin: auto;">
                            <div>
                                <h2 class="step-title">À propos de vos déchets</h2>
                            </div>
                            <c-lwc_-data-grid name="dataGrid" display-in-card="false"
                                object-api-name="OpportunityLineItem" records={dataGridRecords}
                                columns={displayFieldsString} source="public" flow-mode="false"
                                onchange={handleUserInput}>
                            </c-lwc_-data-grid>
                        </div>
                    </template>

                    <template if:true={stepState.step3}>
                        <div style="width: 75%; margin: auto;">
                            <div>
                                <h2 class="step-title">Plus de détails sur vos déchets <abbr
                                        style="color: #E07026; font-size: 14px;">{wasteNumber}</abbr></h2>
                            </div>
                            <div class="accordion">
                                <template for:each={dataGridRecords} for:item="record">
                                    <details key={record} class="sub-accordion">
                                        <summary>
                                            <div style="display: flex; flex-wrap: wrap; cursor: pointer;">
                                                <div class="arrow">
                                                    <lightning-icon icon-name="utility:right" size="x-small">
                                                    </lightning-icon>
                                                </div>
                                                <div class="detail-title">
                                                    <span>{record.TECH_WasteName__c}</span>
                                                </div>
                                            </div>
                                        </summary>
                                        <div
                                            style="display: flex; flex-wrap: wrap; padding: 10px 0px; align-items: center;">
                                            <div class="additional additional-title" style={record.FirstCss}>Déchet soumis à caractérisation</div>
                                            <div class="additional additional-title" style={record.RestCss}>Infos complémentaires / PJ attendue</div>
                                            <div class="additional additional-title" style={record.RestCss}>Pièce jointe
                                                    <lightning-helptext content="La taille maximale de fichier autorisée est de 2.9 Mb"></lightning-helptext>
                                            </div>
                                            <div class="additional" style={record.FirstCss}>
                                                <lightning-combobox class="step3-input" variant="label-hidden"
                                                    disabled={record.ExemptionReason.disable}
                                                    placeholder="Sélectionner une valeur"
                                                    value={record.ExemptionReason__c}
                                                    options={record.ExemptionReason.options}>
                                                </lightning-combobox>
                                            </div>
                                            <div class="additional" style={record.RestCss}>
                                                <lightning-combobox data-record-id={record.Id}
                                                    data-field-name={record.ExemptionReasonAdditionalInfo.name}
                                                    class="step3-input" name="additional-info"
                                                    variant="label-hidden"
                                                    placeholder="Sélectionner une valeur"
                                                    disabled={record.ExemptionReasonAdditionalInfo.disable}
                                                    value={record.ExemptionReasonAdditionalInfo.value}
                                                    options={record.ExemptionReasonAdditionalInfo.dependentValues}
                                                    required="true" onchange={handleUserInput}>
                                                </lightning-combobox>
                                            </div>
                                            <div class="additional" style={record.RestCss}>
                                                <div class="file-upload-wrapper">
                                                    <div data-error={record.uploadInput} class="file-upload">
                                                        <input data-record-id={record.Id} name="additionalFile"
                                                            type="file" accept="image/*,.pdf"
                                                            onchange={handleUpload} />
                                                        <div style="padding: 5px;
                                                                    gap: 5px;
                                                                    display: flex;">
                                                            <div class="icon">
                                                                <lightning-icon icon-name="utility:upload"
                                                                    size="x-small">
                                                                </lightning-icon>
                                                            </div>
                                                            <div class="label">
                                                                Ajouter une pièce jointe
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="padding: 0px 10px;
                                                        margin-top: 10px;
                                                        width: 100%;">
                                                <template if:true={record.files}>
                                                    <template if:true={record.files.additionalFile}>
                                                        <template for:each={record.files.additionalFile}
                                                            for:item="file">
                                                            <div key={file} style="flex-wrap: wrap;
                                                                                    display: flex;
                                                                                    justify-content: space-between;
                                                                                    align-items: center;">
                                                                <div class="file-name">
                                                                    {file.title}
                                                                </div>
                                                                <div>
                                                                    <lightning-icon style="cursor: pointer;" icon-name="action:delete"
                                                                        size="x-small" data-parent-id={record.Id}
                                                                        data-position="additionalFile"
                                                                        data-record-id={file.Id}
                                                                        onclick={deleteFile}>
                                                                    </lightning-icon>
                                                                </div>
                                                            </div>
                                                        </template>
                                                    </template>
                                                </template>
                                            </div>
                                        </div>
                                        <hr style="
                                                    margin: 10px;
                                                    border-color: rgb(30 68 119 / 30%);
                                                ">
                                        <template if:true={record.features}>
                                            <div style="padding: 10px 0px;">
                                                <div>
                                                    <h2 class="sub-step-title">{questionsFormTitle}</h2>
                                                </div>
                                                <div style="display: flex; flex-wrap: wrap; align-items: center;">
                                                    <div class="sub-table-header" style="width: 30%;">Question</div>
                                                    <div class="sub-table-header" style="width: 14%;">Réponse</div>
                                                    <div class="sub-table-header" style="width: 28%;">Description
                                                        des dispositifs</div>
                                                    <div class="sub-table-header" style="width: 28%;">Description
                                                        des consignes</div>
                                                    <template for:each={record.features} for:item="feature">
                                                        <div class="question" key={feature} style="width: 30%;
                                                                                white-space: pre-wrap;
                                                                                white-space: -moz-pre-wrap;
                                                                                white-space: -pre-wrap;
                                                                                white-space: -o-pre-wrap;
                                                                                word-wrap: break-word;">
                                                            {feature.Question__c}</div>
                                                        <div key={feature} style="width: 14%; padding-right: 10px;">
                                                            <lightning-combobox data-record-id={record.Id}
                                                                data-first-one={record.firstOne}
                                                                data-feature-index={feature.index}
                                                                data-field-name="Answer__c" class="step3-input"
                                                                data-name="feature" variant="label-hidden"
                                                                required="true" placeholder="Sélectionner une valeur"
                                                                value={feature.Answer__c} options={answerOptions}
                                                                onchange={handleUserInput}>
                                                            </lightning-combobox>
                                                        </div>
                                                        <div key={feature} style="width: 28%; padding-right: 10px; flex-grow: 1;">
                                                            <textarea data-record-id={record.Id}
                                                                data-first-one={record.firstOne}
                                                                data-feature-index={feature.index}
                                                                data-field-name="Description__c" class="step3-input"
                                                                data-name="feature" required
                                                                placeholder={feature.TECH_DescriptionPlaceholder__c}
                                                                onchange={handleUserInput}>
                                                                    {feature.Description__c}
                                                            </textarea>
                                                        </div>
                                                        <div key={feature} style="width: 28%;">
                                                            <textarea data-record-id={record.Id}
                                                                data-first-one={record.firstOne}
                                                                data-feature-index={feature.index}
                                                                data-field-name="SortingWasteInstruction__c"
                                                                class="step3-input" required={feature.AnswerYes} data-name="feature"
                                                                onchange={handleUserInput}>
                                                                    {feature.SortingWasteInstruction__c}
                                                            </textarea>
                                                        </div>
                                                    </template>
                                                </div>
                                            </div>
                                        </template>
                                        
                                        <div style="display: flex; flex-direction: column;">
                                            <template if:true={record.DisplayAttachments}>
                                                <template if:true={record.DisplayAttachmentsTri}>
                                                    <div>
                                                        <h2 class="sub-step-title">Ajouter la ou les pièces jointes pour
                                                            décrire les dispositifs de tri et consignes de tri à la source 
                                                            <lightning-helptext content="La taille maximale de fichier autorisée est de 2.9 Mb"></lightning-helptext>
                                                        </h2>
                                                        
                                                        </div>
                                                    <div class="file-upload-wrapper">
                                                        <div class="file-upload">
                                                            <input data-record-id={record.Id} name="descriptionFile"
                                                                type="file" accept="image/*,.pdf" onchange={handleUpload} required />
                                                            <div style="padding: 5px;
                                                                        gap: 5px;
                                                                        display: flex;">
                                                                <div class="icon">
                                                                    <lightning-icon icon-name="utility:upload"
                                                                        size="x-small">
                                                                    </lightning-icon>
                                                                </div>
                                                                <div class="label">
                                                                    Ajouter une pièce jointe
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="padding: 0px 10px;
                                                                margin-top: 10px;
                                                                width: 100%;">
                                                        <template if:true={record.files}>
                                                            <template if:true={record.files.descriptionFile}>
                                                                <template for:each={record.files.descriptionFile}
                                                                    for:item="file">
                                                                    <div key={file} style="flex-wrap: wrap;
                                                                                            display: flex;
                                                                                            justify-content: space-between;
                                                                                            align-items: center;">
                                                                        <div class="file-name">
                                                                            {file.title}
                                                                        </div>
                                                                        <div>
                                                                            <lightning-icon icon-name="action:delete"
                                                                                size="x-small" data-parent-id={record.Id}
                                                                                data-position="descriptionFile"
                                                                                data-record-id={file.Id}
                                                                                onclick={deleteFile}>
                                                                            </lightning-icon>
                                                                        </div>
                                                                    </div>
                                                                </template>
                                                            </template>
                                                        </template>
                                                    </div>
                                                </template>
                                            </template>
                                        </div>
                                        <div style="padding: 10px 0px;">
                                           <div style="display: flex;
                                            flex-direction: row;
                                            align-items: baseline;
                                            justify-content: space-between;">
                                               <!-- <h2 class="sub-step-title">
                                                    Avez-vous fait réaliser la caractérisation annuelle réglementaire de votre déchet ?
                                                </h2>
                                                <div style="padding-right: 10px;">
                                                    <lightning-combobox
                                                        data-field-name="AnnualWasteRegulation__c" class="step3-input"
                                                        variant="label-hidden" data-name="wasteRegulaitonFile" data-record-id={record.Id}
                                                        required="true" placeholder="Sélectionner une valeur"
                                                        value={record.AnnualWasteRegulation__c} options={wasteRegulationOptions}
                                                        onchange={handleUserInput}>
                                                    </lightning-combobox>
                                                </div>-->
                                            </div>
                                            <div style="padding: 10px 0px;">
                                                <template if:true={record.ExemptionR}>
                                                    <template if:true={record.DisplayAttachments}>
                                                        <div style="display: flex; flex-direction: column;">
                                                            <div>
                                                                <h2 class="sub-step-title">Ajouter la ou les pièces jointes de la caractérisation annuelle réglementaire de votre déchet
                                                                    <lightning-helptext content="La taille maximale de fichier autorisée est de 2.9 Mb"></lightning-helptext>
                                                                 </h2> 
                                                                 <lightning-button label="Télécharger un Modèle" onclick={download}></lightning-button>
                                                            </div>
                                                            <div class="file-upload-wrapper">
                                                                <div data-error={record.regulationUploadInput} class="file-upload">
                                                                    <input data-record-id={record.Id} name="caracterisationFile"
                                                                        type="file" accept="image/*,.pdf" onchange={handleUpload} required />
                                                                    <div style="padding: 5px;
                                                                                gap: 5px;
                                                                                display: flex;">
                                                                        <div class="icon">
                                                                            <lightning-icon icon-name="utility:upload"
                                                                                size="x-small">
                                                                            </lightning-icon>
                                                                        </div>
                                                                        <div class="label">
                                                                            Ajouter une pièce jointe
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div style="padding: 0px 10px;
                                                                        margin-top: 10px;
                                                                        width: 100%;">
                                                                <template if:true={record.files}>
                                                                    <template if:true={record.files.caracterisationFile}>
                                                                        <template for:each={record.files.caracterisationFile}
                                                                            for:item="file">
                                                                            <div key={file} style="flex-wrap: wrap;
                                                                                                    display: flex;
                                                                                                    justify-content: space-between;
                                                                                                    align-items: center;">
                                                                                <div class="file-name">
                                                                                    {file.title}
                                                                                </div>
                                                                                <div>
                                                                                    <lightning-icon icon-name="action:delete"
                                                                                        size="x-small" data-parent-id={record.Id}
                                                                                        data-position="caracterisationFile"
                                                                                        data-record-id={file.Id}
                                                                                        onclick={deleteFile}>
                                                                                    </lightning-icon>
                                                                                </div>
                                                                            </div>
                                                                        </template>
                                                                    </template>
                                                                </template>
                                                            </div>
                                                        </div>
                                                    </template>
                                                    <!--<template if:false={record.WasteRegulaitonFile}>
                                                        <div style="display: flex; flex-direction: column;">
                                                            <h2 class="sub-step-title">
                                                                Pour rappel :
                                                            </h2> 
                                                            <p>
                                                                La réglementation exige que les producteurs, ou à défaut les détenteurs, fassent réaliser une caractérisation annuelle de leurs déchets avant toute réception en ISDND, à l'exception des déchets exemptés du respect des seuils.
                                                            </p>
                                                        </div>
                                                    </template>-->
                                                </template>
                                            </div>
                                        </div>
                                    </details>
                                </template>
                            </div>
                        </div>
                    </template>

                    <template if:true={stepState.step4}>
                        <template if:false={error}>
                            <div>
                                <h2 class="step-title"
                                    style="text-align: center; display: flex; flex-direction: column;">
                                    <span style="font-size: 32px;
                                                height: 2rem;">Merci !</span>
                                    <span>Vous allez recevoir un email vous invitant à signer la ou les attestation(s)
                                        suivante(s) :</span>
                                </h2>
                            </div>
                            <div style="padding-top: 25px;
                                        width: 75%;
                                        margin: auto;">
                                <c-lwc_-data-grid name="dataGrid" display-in-card="false"
                                    object-api-name="OpportunityLineItem" records={dataGridRecords}
                                    columns={displayPreviewFieldsString} source="public" flow-mode="false">
                                </c-lwc_-data-grid>
                            </div>
                            <div style="padding-top: 25px;">
                                <!--<h2 class="step-title"
                                    style="text-align: center; display: flex; flex-direction: column; padding-bottom: 10px;">
                                    <span style="height: 2rem;">Information sur les seuils*, au 1er Janvier 2022  :</span>
                                    <span style="font-size: 12px;">* s'appliquent pour les déchets soumis à caractérisation</span>
                                </h2>
                            -->
                                <h2 class="step-title"
                                    style="text-align: center;
                                            width: 50%;
                                            padding-bottom: 10px;
                                            margin: auto;">
                                    <span style="height: 4rem;">Seuils applicables à tous les déchets, incluant les encombrants et les déchets collectés en déchèterie, à l'exception des ordures ménagères résiduelles :</span>
                                    
                                </h2>

                                <table style="width: 50%; margin: auto; margin-bottom: 20px;">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Seuil</th>
                                            <th>Type de déchet</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="2" style="color: #1e4477;
                                                                    font-family: 'fontKarbon-Semibold'; font-size: 14px;">1er Janvier 2022</td>
                                            <td class="td-medium-bold">30%</td>
                                            <td>Métal ou plastique ou verre ou bois ou fraction minérale inerte</td>
                                        </tr>
                                        <tr>
                                            <td class="td-medium-bold">50%</td>
                                            <td>Papier / carton ou plâtre ou biodéchets</td>
                                        </tr>

                                        <tr>
                                            <td rowspan="1" style="color: #1e4477;
                                                                    font-family: 'fontKarbon-Semibold'; font-size: 14px;">1er Janvier 2024</td>
                                            <td class="td-medium-bold">30%</td>
                                            <td>Biodéchets</td>
                                        </tr>
                                        
                                        <tr>
                                            <td rowspan="2" style="color: #1e4477;
                                                                    font-family: 'fontKarbon-Semibold'; font-size: 14px;">1er Janvier 2025</td>
                                            <td class="td-medium-bold">30%</td>
                                            <td>Textiles</td>
                                        </tr>
                                        <tr>
                                            <td class="td-medium-bold">70%</td>
                                            <td>Tous les types de déchets en masse cumulée</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="1" style="color: #1e4477;
                                                                    font-family: 'fontKarbon-Semibold'; font-size: 14px;">1er Janvier 2028</td>
                                            <td class="td-medium-bold">50%</td>
                                            <td>Tous les types de déchets en masse cumulée</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>

                                <h2 class="step-title"
                                style="text-align: center; display: flex; flex-direction: column; padding-bottom: 10px;">
                                    <span style="height: 2rem;">Seuils applicables aux ordures ménagères résiduelles :</span>
                                
                                 </h2>

                            <table style="width: 50%; margin: auto;">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Seuil</th>
                                        <th>Type de déchet</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="1" style="color: #1e4477;
                                                                font-family: 'fontKarbon-Semibold'; font-size: 14px;">1er Janvier 2025</td>
                                        <td class="td-medium-bold">65%</td>
                                        <td>Biodéchets + déchets REP, en masse cumulée</td>
                                    </tr>
        
                                    <tr>
                                        <td rowspan="1" style="color: #1e4477;
                                                                font-family: 'fontKarbon-Semibold'; font-size: 14px;">1er Janvier 2030</td>
                                        <td class="td-medium-bold">60%</td>
                                        <td>Biodéchets + déchets REP, en masse cumulée</td>
                                    </tr>
                                    
                                </tbody>
                            </table>


                            </div>
                        </template>
                        <template if:true={error}>
                            <div>
                                <h2 class="step-title"
                                    style="text-align: center; display: flex; flex-direction: column;">
                                    <span style="font-size: 32px;
                                                height: 2rem;">Erreur</span>
                                    <span>Une erreur est survenue. Vous pouvez réessayer en rechargeant la page.</span>
                                </h2>
                            </div>
                        </template>
                    </template>

                </div>

            </div>

            <footer class="slds-card__footer">

                <div class="slds-grid slds-gutters">
                    <template if:true={stepState.step4}>
                        <template if:false={error}>
                            <div class="slds-col">
                                <span></span>
                            </div>
                            <div class="slds-col" style="text-align: center;">
                                <lightning-button class="finish-button" icon-name="utility:left"
                                    label="Revenir à l'accueil" onclick={goHome}>
                                </lightning-button>
                            </div>
                            <div class="slds-col">
                                <span></span>
                            </div>
                        </template>
                        <template if:true={error}>
                            <div class="slds-col">
                                <span></span>
                            </div>
                            <div class="slds-col" style="text-align: center;">
                                <lightning-button class="finish-button" icon-name="utility:left"
                                    label="Recharger la page" onclick={reload}>
                                </lightning-button>
                            </div>
                            <div class="slds-col">
                                <span></span>
                            </div>
                        </template>
                    </template>
                    <template if:false={stepState.step4}>
                        <div class="slds-col" style="text-align: center;">
                            <template if:true={displayPrevious}>
                                <lightning-button label="Étape précédente" variant="base" icon-name="utility:left"
                                    class="prev-button slds-var-m-left_x-small" disabled={disableReturn}
                                    onclick={handlePrevious}></lightning-button>
                            </template>
                        </div>
                        <div class="slds-col">
                            <span></span>
                        </div>
                        <div class="slds-col" style="text-align: center;">
                            <template if:true={stepState.step3}>
                                <lightning-button label="Valider et terminer" icon-name="utility:right" icon-position="right"
                                    class="next-button slds-var-m-left_x-small " onclick={handleNext}>
                                </lightning-button>
                            </template>
                            <template if:false={stepState.step3}>    
                                <lightning-button label="Étape suivante" icon-name="utility:right" icon-position="right"
                                    class="next-button slds-var-m-left_x-small " onclick={handleNext}>
                                </lightning-button>
                            </template>
                        </div>
                    </template>
                </div>

            </footer>

        </article>
        <template if:true={wait}>
            <div class="slds-box modal-cont">
                <div class="slds-spinner_container frontal-cont">
                    <div role="status" class="slds-spinner slds-spinner_large slds-spinner_brand">
                        <span class="slds-assistive-text">Loading</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
            </div>
        </template>
    </template>
</template>