.THIS {
}

.THIS .slds-modal__header {
    position: relative;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    border-bottom: 2px solid rgb(221, 219, 218);
    padding: 0rem !important;
    text-align: left !important;
}

.THIS .slds-modal__container{
	width: 60% !important;
	max-width: 70% !important;
}

.THIS .slds-modal__footer {   
    text-align: center !important;;   
}